In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd Z:\PPMI_Data\Excel_Data\Raw_And_More
df = pd.read_csv ("beta_post_Funnorm_PPMI_EPICn524final030618.csv")
df = df.round(decimals = 4)
df.head(2)

Z:\PPMI_Data\Excel_Data\Raw_And_More

,200973410159_R03C01,200991620021_R01C01,200991620021_R03C01,200989060105_R03C01,200989060135_R07C01,200989060162_R04C01,200973410167_R04C01,200973410143_R01C01,200973410143_R06C01,200973410167_R05C01,...,200989060089_R02C01,200989060089_R01C01,200989060089_R04C01,200973410143_R08C01,200973410143_R07C01,200989060089_R03C01,200989060150_R04C01,200989060150_R05C01,200989060150_R06C01,200991620049_R08C01
cg14817997,0.8340,0.8492,0.7730,0.8853,0.7725,0.7564,0.7198,0.7759,0.7689,0.7594,...,0.7882,0.8389,0.8453,0.7704,0.8529,0.7838,0.8069,0.8757,0.6613,0.7379
cg26928153,0.9456,0.9485,0.9622,0.9440,0.9263,0.9561,0.9130,0.9560,0.9571,0.8976,...,0.9512,0.9590,0.9571,0.9547,0.9478,0.9581,0.9480,0.9424,0.9550,0.9463

In [3]:
df.index.name ='CpG'
df.reset_index(inplace=True)
df.head(2)

,CpG,200973410159_R03C01,200991620021_R01C01,200991620021_R03C01,200989060105_R03C01,200989060135_R07C01,200989060162_R04C01,200973410167_R04C01,200973410143_R01C01,200973410143_R06C01,...,200989060089_R02C01,200989060089_R01C01,200989060089_R04C01,200973410143_R08C01,200973410143_R07C01,200989060089_R03C01,200989060150_R04C01,200989060150_R05C01,200989060150_R06C01,200991620049_R08C01
0,cg14817997,0.8340,0.8492,0.7730,0.8853,0.7725,0.7564,0.7198,0.7759,0.7689,...,0.7882,0.8389,0.8453,0.7704,0.8529,0.7838,0.8069,0.8757,0.6613,0.7379
1,cg26928153,0.9456,0.9485,0.9622,0.9440,0.9263,0.9561,0.9130,0.9560,0.9571,...,0.9512,0.9590,0.9571,0.9547,0.9478,0.9581,0.9480,0.9424,0.9550,0.9463

In [4]:
%cd Z:\PPMI_Data\Excel_Data\NonMotors\Feature_CpG_Gene_Association\Xtra_Files\CommonAll_9Features
dframe = pd.read_csv ('CommonCpG_ChrNMI_9Feats.csv')
dframe.head(2)

Z:\PPMI_Data\Excel_Data\NonMotors\Feature_CpG_Gene_Association\Xtra_Files\CommonAll_9Features

          CpG
0  cg12526471
1  cg00052836

In [5]:
dfMerge = pd.merge (df, dframe, on= "CpG", how= "inner")
dfMerge.head(2)

,CpG,200973410159_R03C01,200991620021_R01C01,200991620021_R03C01,200989060105_R03C01,200989060135_R07C01,200989060162_R04C01,200973410167_R04C01,200973410143_R01C01,200973410143_R06C01,...,200989060089_R02C01,200989060089_R01C01,200989060089_R04C01,200973410143_R08C01,200973410143_R07C01,200989060089_R03C01,200989060150_R04C01,200989060150_R05C01,200989060150_R06C01,200991620049_R08C01
0,cg05789720,0.9225,0.9109,0.9232,0.9168,0.9305,0.9254,0.9172,0.9015,0.9080,...,0.9126,0.9248,0.9271,0.9149,0.9119,0.9077,0.9193,0.9265,0.9191,0.9166
1,cg00052836,0.9312,0.8725,0.9010,0.9006,0.8716,0.9107,0.9161,0.9105,0.9021,...,0.8980,0.9001,0.9002,0.8994,0.9064,0.8968,0.9147,0.9057,0.9177,0.9148

In [6]:
dft = dfMerge.transpose()
dft.head(2)

,0,1,2,3,4,5
CpG,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
200973410159_R03C01,0.9225,0.9312,0.5106,0.4569,0.6784,0.9672

In [7]:
dft.rename(columns=dft.iloc[0], inplace = True)

In [8]:
dft.index.name ='CpG'
dft.reset_index(inplace=True)
dft.head(2)

,CpG,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
0,CpG,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
1,200973410159_R03C01,0.9225,0.9312,0.5106,0.4569,0.6784,0.9672

In [9]:
dft = dft.drop ([0], axis = 0)
dft.head(2)

,CpG,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
1,200973410159_R03C01,0.9225,0.9312,0.5106,0.4569,0.6784,0.9672
2,200991620021_R01C01,0.9109,0.8725,0.4169,0.4758,0.9233,0.9388

In [10]:
dft.rename (columns = {"CpG" : "Sentrix"}, inplace = True)
dft.head(2)

,Sentrix,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
1,200973410159_R03C01,0.9225,0.9312,0.5106,0.4569,0.6784,0.9672
2,200991620021_R01C01,0.9109,0.8725,0.4169,0.4758,0.9233,0.9388

In [11]:
%cd Z:\PPMI_Data\Excel_Data\Raw_And_More
df2 = pd.read_csv ("Comm10FeatData_withBasicDetails.csv")
df2.head(2)

Z:\PPMI_Data\Excel_Data\Raw_And_More

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,MDS_Depress,MDSP_Constipate,MDSP_Fatigue,MDSP_LightHead,MDSP_SleepDay,MDSP_Pain,Montreal_Cognitive,SCOPA_Sex,Symbol_Digit,UPSIT_3
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0,0,0,1,0,0,0,0,0
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0,1,0,1,0,0,2,1,1

In [12]:
df3 = pd.merge (df2, dft, on= "Sentrix", how= "inner")
df3.head(2)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,MDS_Depress,MDSP_Constipate,MDSP_Fatigue,...,Montreal_Cognitive,SCOPA_Sex,Symbol_Digit,UPSIT_3,cg05789720,cg00052836,cg12526471,cg21049840,cg00377727,cg18473117
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0,0,...,0,0,0,0,0.9225,0.9312,0.5106,0.4569,0.6784,0.9672
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0,1,...,0,2,1,1,0.9109,0.8725,0.4169,0.4758,0.9233,0.9388

In [13]:
df3.shape

(457, 23)

In [14]:
df3.to_csv ("Common6CpG_ChrNMI_9Feats_withComm10FeatData_withMethyl.csv", index = False)