# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Female\HYS_1vs2vs3\Boruta
df = pd.read_csv('HYS1vs2_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Female\HYS_1vs2vs3\Boruta
(183, 51)

,ENSG00000236111.5,ENSG00000200575.1,ENSG00000163220.10,ENSG00000163221.8,ENSG00000202400.1,ENSG00000172046.18,ENSG00000004838.13,ENSG00000127418.14,ENSG00000253333.1,ENSG00000197043.13,...,ENSG00000260160.1,ENSG00000250507.1,ENSG00000276768.1,ENSG00000266104.1,ENSG00000099985.3,ENSG00000205853.10,ENSG00000100379.17,ENSG00000278948.1,ENSG00000231728.3,HYS
0,6,16,56086,1128,5,1866,52,153,4,7472,...,65,6,10,18,102,25,147,87,60,1
1,3,5,17851,449,0,1609,52,185,11,3471,...,35,13,4,17,109,24,100,95,26,2

In [3]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(30))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5166666666666666
2
Mean accuracy: 0.6666666666666667
3
Mean accuracy: 0.6333333333333334
4
Mean accuracy: 0.65
5
Mean accuracy: 0.6166666666666667
6
Mean accuracy: 0.5499999999999999
7
Mean accuracy: 0.6166666666666666
8
Mean accuracy: 0.5333333333333333
9
Mean accuracy: 0.6166666666666667
10
Mean accuracy: 0.5999999999999999
11
Mean accuracy: 0.65
12
Mean accuracy: 0.5833333333333333
13
Mean accuracy: 0.55
14
Mean accuracy: 0.6166666666666667
15
Mean accuracy: 0.6166666666666667
16
Mean accuracy: 0.6666666666666666
17
Mean accuracy: 0.5999999999999999
18
Mean accuracy: 0.5333333333333333
19
Mean accuracy: 0.6833333333333333
20
Mean accuracy: 0.5666666666666667
21
Mean accuracy: 0.5833333333333334
22
Mean accuracy: 0.6333333333333334
23
Mean accuracy: 0.6833333333333333
24
Mean accuracy: 0.55
25
Mean accuracy: 0.5333333333333333
26
Mean accuracy: 0.5666666666666667
27
Mean accuracy: 0.6833333333333333
28
Mean accuracy: 0.5833333333333334
29
Mean accuracy: 0.4833333333333333
30
Mean accuracy: 0.4666666666666667
31
Mean accuracy: 0.6833333333333333
32
Mean accuracy: 0.6
33
Mean accuracy: 0.6333333333333333
34
Mean accuracy: 0.55
35
Mean accuracy: 0.5833333333333334
36
Mean accuracy: 0.6333333333333334
37
Mean accuracy: 0.4833333333333333
38
Mean accuracy: 0.5833333333333333
39
Mean accuracy: 0.5166666666666667
40
Mean accuracy: 0.7333333333333334
41
Mean accuracy: 0.5666666666666667
42
Mean accuracy: 0.6333333333333334
43
Mean accuracy: 0.6833333333333332
44
Mean accuracy: 0.75
45
Mean accuracy: 0.6166666666666668
46
Mean accuracy: 0.5833333333333333
47
Mean accuracy: 0.6166666666666667
48
Mean accuracy: 0.6333333333333333
49
Mean accuracy: 0.5
50
Mean accuracy: 0.5666666666666667
51
Mean accuracy: 0.6666666666666666
52
Mean accuracy: 0.5833333333333333
53
Mean accuracy: 0.65
54
Mean accuracy: 0.5833333333333334
55
Mean accuracy: 0.6333333333333334
56
Mean accuracy: 0.7666666666666666
57
Mean accuracy: 0.5833333333333333
58
Mean accuracy: 0.5833333333333333
59
Mean accuracy: 0.6333333333333333
60
Mean accuracy: 0.6166666666666667
61
Mean accuracy: 0.5833333333333333
62
Mean accuracy: 0.55
63
Mean accuracy: 0.5
64
Mean accuracy: 0.55
65
Mean accuracy: 0.6666666666666666
66
Mean accuracy: 0.5666666666666667
67
Mean accuracy: 0.5666666666666667
68
Mean accuracy: 0.5333333333333334
69
Mean accuracy: 0.65
70
Mean accuracy: 0.55
71
Mean accuracy: 0.6166666666666666
72
Mean accuracy: 0.5833333333333333
73
Mean accuracy: 0.5666666666666667
74
Mean accuracy: 0.5666666666666667
75
Mean accuracy: 0.6166666666666666
76
Mean accuracy: 0.6166666666666667
77
Mean accuracy: 0.65
78
Mean accuracy: 0.6166666666666667
79
Mean accuracy: 0.55
80
Mean accuracy: 0.6166666666666666
81
Mean accuracy: 0.65
82
Mean accuracy: 0.5166666666666667
83
Mean accuracy: 0.5666666666666667
84
Mean accuracy: 0.7333333333333333
85
Mean accuracy: 0.5666666666666667
86
Mean accuracy: 0.6
87
Mean accuracy: 0.5666666666666667
88
Mean accuracy: 0.6833333333333333
89
Mean accuracy: 0.7
90
Mean accuracy: 0.5833333333333334
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.5666666666666667
93
Mean accuracy: 0.4833333333333334
94
Mean accuracy: 0.4833333333333333
95
Mean accuracy: 0.5333333333333333
96
Mean accuracy: 0.5
97
Mean accuracy: 0.7166666666666666
98
Mean accuracy: 0.6833333333333332
99
Mean accuracy: 0.6666666666666667
100
Mean accuracy: 0.41666666666666663

In [4]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_HYS1vs2_Female_100RF.csv", index = False)

0.5975

## Top 100 Boruta

In [5]:
df = pd.read_csv('HYS1vs2_Boruta_Top100_Data_Female.csv')
print(df.shape)
df.head(2)

(183, 101)

,ENSG00000157870.15,ENSG00000171824.13,ENSG00000236111.5,ENSG00000200575.1,ENSG00000270339.3,ENSG00000232671.5,ENSG00000163220.10,ENSG00000163221.8,ENSG00000233791.5,ENSG00000263528.7,...,ENSG00000124107.5,ENSG00000266104.1,ENSG00000099985.3,ENSG00000199248.1,ENSG00000205853.10,ENSG00000100379.17,ENSG00000278948.1,ENSG00000100359.20,ENSG00000231728.3,HYS
0,156,1120,6,16,86,14,56086,1128,87,1464,...,97,18,102,5,25,147,87,71,60,1
1,139,633,3,5,21,12,17851,449,28,992,...,62,17,109,5,24,100,95,68,26,2

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(30))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5833333333333334
2
Mean accuracy: 0.6333333333333333
3
Mean accuracy: 0.55
4
Mean accuracy: 0.6333333333333334
5
Mean accuracy: 0.6333333333333334
6
Mean accuracy: 0.5833333333333333
7
Mean accuracy: 0.6166666666666666
8
Mean accuracy: 0.5166666666666666
9
Mean accuracy: 0.6
10
Mean accuracy: 0.55
11
Mean accuracy: 0.5999999999999999
12
Mean accuracy: 0.5166666666666667
13
Mean accuracy: 0.55
14
Mean accuracy: 0.5833333333333334
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.6833333333333333
17
Mean accuracy: 0.6666666666666667
18
Mean accuracy: 0.5166666666666666
19
Mean accuracy: 0.7
20
Mean accuracy: 0.6333333333333333
21
Mean accuracy: 0.5833333333333334
22
Mean accuracy: 0.7166666666666666
23
Mean accuracy: 0.6833333333333333
24
Mean accuracy: 0.4666666666666667
25
Mean accuracy: 0.6166666666666667
26
Mean accuracy: 0.5833333333333333
27
Mean accuracy: 0.6333333333333334
28
Mean accuracy: 0.6
29
Mean accuracy: 0.41666666666666663
30
Mean accuracy: 0.5166666666666667
31
Mean accuracy: 0.6166666666666667
32
Mean accuracy: 0.5333333333333333
33
Mean accuracy: 0.5499999999999999
34
Mean accuracy: 0.5
35
Mean accuracy: 0.6166666666666667
36
Mean accuracy: 0.55
37
Mean accuracy: 0.4999999999999999
38
Mean accuracy: 0.6166666666666666
39
Mean accuracy: 0.7
40
Mean accuracy: 0.65
41
Mean accuracy: 0.5333333333333333
42
Mean accuracy: 0.65
43
Mean accuracy: 0.7
44
Mean accuracy: 0.7
45
Mean accuracy: 0.6833333333333332
46
Mean accuracy: 0.6
47
Mean accuracy: 0.6166666666666667
48
Mean accuracy: 0.6333333333333334
49
Mean accuracy: 0.5666666666666667
50
Mean accuracy: 0.5499999999999999
51
Mean accuracy: 0.6333333333333334
52
Mean accuracy: 0.5666666666666667
53
Mean accuracy: 0.5999999999999999
54
Mean accuracy: 0.6
55
Mean accuracy: 0.65
56
Mean accuracy: 0.8
57
Mean accuracy: 0.6
58
Mean accuracy: 0.5833333333333333
59
Mean accuracy: 0.6166666666666667
60
Mean accuracy: 0.55
61
Mean accuracy: 0.6000000000000001
62
Mean accuracy: 0.6166666666666666
63
Mean accuracy: 0.5166666666666667
64
Mean accuracy: 0.6166666666666668
65
Mean accuracy: 0.6666666666666666
66
Mean accuracy: 0.5833333333333333
67
Mean accuracy: 0.5166666666666667
68
Mean accuracy: 0.6500000000000001
69
Mean accuracy: 0.6333333333333333
70
Mean accuracy: 0.6333333333333333
71
Mean accuracy: 0.6
72
Mean accuracy: 0.6333333333333333
73
Mean accuracy: 0.5833333333333334
74
Mean accuracy: 0.5999999999999999
75
Mean accuracy: 0.55
76
Mean accuracy: 0.6166666666666666
77
Mean accuracy: 0.6
78
Mean accuracy: 0.6833333333333333
79
Mean accuracy: 0.5166666666666667
80
Mean accuracy: 0.6333333333333334
81
Mean accuracy: 0.6166666666666666
82
Mean accuracy: 0.6333333333333333
83
Mean accuracy: 0.5833333333333334
84
Mean accuracy: 0.7
85
Mean accuracy: 0.55
86
Mean accuracy: 0.6833333333333333
87
Mean accuracy: 0.6500000000000001
88
Mean accuracy: 0.6833333333333333
89
Mean accuracy: 0.6833333333333333
90
Mean accuracy: 0.5333333333333332
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.6333333333333334
93
Mean accuracy: 0.4833333333333333
94
Mean accuracy: 0.5
95
Mean accuracy: 0.5
96
Mean accuracy: 0.4333333333333333
97
Mean accuracy: 0.6833333333333332
98
Mean accuracy: 0.7166666666666667
99
Mean accuracy: 0.6333333333333334
100
Mean accuracy: 0.4666666666666666

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_HYS1vs2_Female_100RF.csv", index = False)

0.5994999999999998

## Top 250 Boruta

In [8]:
df = pd.read_csv('HYS1vs2_Boruta_Top250_Data_Female.csv')
print(df.shape)
df.head(2)

(183, 251)

,ENSG00000186827.10,ENSG00000157870.15,ENSG00000215788.10,ENSG00000171824.13,ENSG00000255811.1,ENSG00000281207.1,ENSG00000178028.13,ENSG00000236111.5,ENSG00000200575.1,ENSG00000234184.5,...,ENSG00000102100.15,ENSG00000184205.14,ENSG00000276575.1,ENSG00000235262.1,ENSG00000231154.1,ENSG00000231728.3,ENSG00000129680.15,ENSG00000225840.2,ENSG00000228253.1,HYS
0,176,156,1362,1120,24,142,858,6,16,18,...,190,461,25,44,56,60,410,0,25,1
1,105,139,985,633,4,98,588,3,5,9,...,111,300,8,35,27,26,110,0,17,2

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(30))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4333333333333333
2
Mean accuracy: 0.5833333333333333
3
Mean accuracy: 0.5833333333333334
4
Mean accuracy: 0.5833333333333334
5
Mean accuracy: 0.5666666666666667
6
Mean accuracy: 0.6166666666666667
7
Mean accuracy: 0.6
8
Mean accuracy: 0.65
9
Mean accuracy: 0.6833333333333333
10
Mean accuracy: 0.5166666666666667
11
Mean accuracy: 0.5666666666666667
12
Mean accuracy: 0.5666666666666667
13
Mean accuracy: 0.5499999999999999
14
Mean accuracy: 0.55
15
Mean accuracy: 0.5833333333333333
16
Mean accuracy: 0.7
17
Mean accuracy: 0.55
18
Mean accuracy: 0.41666666666666663
19
Mean accuracy: 0.6666666666666666
20
Mean accuracy: 0.6
21
Mean accuracy: 0.55
22
Mean accuracy: 0.65
23
Mean accuracy: 0.5833333333333333
24
Mean accuracy: 0.5499999999999999
25
Mean accuracy: 0.6000000000000001
26
Mean accuracy: 0.55
27
Mean accuracy: 0.6166666666666668
28
Mean accuracy: 0.5333333333333333
29
Mean accuracy: 0.4333333333333333
30
Mean accuracy: 0.4666666666666666
31
Mean accuracy: 0.6333333333333333
32
Mean accuracy: 0.5666666666666667
33
Mean accuracy: 0.55
34
Mean accuracy: 0.5666666666666667
35
Mean accuracy: 0.7
36
Mean accuracy: 0.6166666666666666
37
Mean accuracy: 0.5333333333333334
38
Mean accuracy: 0.6666666666666666
39
Mean accuracy: 0.6000000000000001
40
Mean accuracy: 0.6833333333333333
41
Mean accuracy: 0.5166666666666666
42
Mean accuracy: 0.65
43
Mean accuracy: 0.7
44
Mean accuracy: 0.6833333333333332
45
Mean accuracy: 0.7000000000000001
46
Mean accuracy: 0.55
47
Mean accuracy: 0.6166666666666667
48
Mean accuracy: 0.5833333333333334
49
Mean accuracy: 0.5666666666666667
50
Mean accuracy: 0.5333333333333333
51
Mean accuracy: 0.6166666666666667
52
Mean accuracy: 0.6
53
Mean accuracy: 0.5666666666666667
54
Mean accuracy: 0.6166666666666667
55
Mean accuracy: 0.6166666666666666
56
Mean accuracy: 0.75
57
Mean accuracy: 0.6666666666666666
58
Mean accuracy: 0.65
59
Mean accuracy: 0.65
60
Mean accuracy: 0.6666666666666666
61
Mean accuracy: 0.5666666666666667
62
Mean accuracy: 0.6166666666666666
63
Mean accuracy: 0.5833333333333333
64
Mean accuracy: 0.65
65
Mean accuracy: 0.65
66
Mean accuracy: 0.6166666666666667
67
Mean accuracy: 0.4666666666666666
68
Mean accuracy: 0.6
69
Mean accuracy: 0.6333333333333334
70
Mean accuracy: 0.55
71
Mean accuracy: 0.55
72
Mean accuracy: 0.6666666666666666
73
Mean accuracy: 0.5833333333333334
74
Mean accuracy: 0.55
75
Mean accuracy: 0.6666666666666666
76
Mean accuracy: 0.6
77
Mean accuracy: 0.5833333333333333
78
Mean accuracy: 0.6
79
Mean accuracy: 0.6
80
Mean accuracy: 0.5666666666666667
81
Mean accuracy: 0.6333333333333334
82
Mean accuracy: 0.6
83
Mean accuracy: 0.6
84
Mean accuracy: 0.7666666666666666
85
Mean accuracy: 0.5666666666666667
86
Mean accuracy: 0.7166666666666666
87
Mean accuracy: 0.6333333333333334
88
Mean accuracy: 0.6833333333333333
89
Mean accuracy: 0.7
90
Mean accuracy: 0.4666666666666667
91
Mean accuracy: 0.4666666666666667
92
Mean accuracy: 0.5666666666666667
93
Mean accuracy: 0.45
94
Mean accuracy: 0.5499999999999999
95
Mean accuracy: 0.45
96
Mean accuracy: 0.4833333333333333
97
Mean accuracy: 0.65
98
Mean accuracy: 0.7833333333333333
99
Mean accuracy: 0.6333333333333333
100
Mean accuracy: 0.4333333333333334

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_HYS1vs2_Female_100RF.csv", index = False)

0.5945000000000001

## Top 500 Boruta

In [11]:
df = pd.read_csv('HYS1vs2_Boruta_Top500_Data_Female.csv')
print(df.shape)
df.head(2)

(183, 501)

,ENSG00000186827.10,ENSG00000107404.19,ENSG00000189409.13,ENSG00000067606.16,ENSG00000225931.3,ENSG00000157870.15,ENSG00000215788.10,ENSG00000228150.1,ENSG00000171824.13,ENSG00000116661.10,...,ENSG00000188917.14,ENSG00000231154.1,ENSG00000231728.3,ENSG00000233382.6,ENSG00000129680.15,ENSG00000089820.15,ENSG00000225008.1,ENSG00000225840.2,ENSG00000228253.1,HYS
0,176,541,18,508,47,156,1362,11,1120,70,...,1048,56,60,277,410,2805,16,0,25,1
1,105,335,20,374,72,139,985,7,633,48,...,825,27,26,143,110,2916,4,0,17,2

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(30))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4333333333333333
2
Mean accuracy: 0.6
3
Mean accuracy: 0.65
4
Mean accuracy: 0.5666666666666667
5
Mean accuracy: 0.5333333333333333
6
Mean accuracy: 0.5666666666666667
7
Mean accuracy: 0.5833333333333333
8
Mean accuracy: 0.5833333333333333
9
Mean accuracy: 0.6166666666666667
10
Mean accuracy: 0.5833333333333333
11
Mean accuracy: 0.5666666666666667
12
Mean accuracy: 0.55
13
Mean accuracy: 0.5333333333333333
14
Mean accuracy: 0.4999999999999999
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.6833333333333333
17
Mean accuracy: 0.6333333333333333
18
Mean accuracy: 0.4666666666666666
19
Mean accuracy: 0.6166666666666666
20
Mean accuracy: 0.6
21
Mean accuracy: 0.5833333333333333
22
Mean accuracy: 0.6500000000000001
23
Mean accuracy: 0.6333333333333334
24
Mean accuracy: 0.5333333333333334
25
Mean accuracy: 0.5333333333333334
26
Mean accuracy: 0.5166666666666666
27
Mean accuracy: 0.6333333333333334
28
Mean accuracy: 0.5666666666666667
29
Mean accuracy: 0.5333333333333333
30
Mean accuracy: 0.4333333333333333
31
Mean accuracy: 0.6333333333333333
32
Mean accuracy: 0.6333333333333333
33
Mean accuracy: 0.5166666666666666
34
Mean accuracy: 0.45
35
Mean accuracy: 0.5666666666666667
36
Mean accuracy: 0.6
37
Mean accuracy: 0.5666666666666667
38
Mean accuracy: 0.65
39
Mean accuracy: 0.55
40
Mean accuracy: 0.6499999999999999
41
Mean accuracy: 0.5166666666666666
42
Mean accuracy: 0.5666666666666667
43
Mean accuracy: 0.6
44
Mean accuracy: 0.7166666666666666
45
Mean accuracy: 0.6666666666666667
46
Mean accuracy: 0.5333333333333333
47
Mean accuracy: 0.5666666666666667
48
Mean accuracy: 0.6499999999999999
49
Mean accuracy: 0.4666666666666666
50
Mean accuracy: 0.6666666666666666
51
Mean accuracy: 0.5999999999999999
52
Mean accuracy: 0.5333333333333333
53
Mean accuracy: 0.6333333333333333
54
Mean accuracy: 0.6166666666666666
55
Mean accuracy: 0.5333333333333333
56
Mean accuracy: 0.6500000000000001
57
Mean accuracy: 0.5999999999999999
58
Mean accuracy: 0.6333333333333333
59
Mean accuracy: 0.6
60
Mean accuracy: 0.6166666666666666
61
Mean accuracy: 0.5833333333333333
62
Mean accuracy: 0.5666666666666667
63
Mean accuracy: 0.5499999999999999
64
Mean accuracy: 0.5833333333333333
65
Mean accuracy: 0.65
66
Mean accuracy: 0.5166666666666666
67
Mean accuracy: 0.5
68
Mean accuracy: 0.5333333333333333
69
Mean accuracy: 0.6166666666666666
70
Mean accuracy: 0.55
71
Mean accuracy: 0.6
72
Mean accuracy: 0.55
73
Mean accuracy: 0.6333333333333333
74
Mean accuracy: 0.5833333333333333
75
Mean accuracy: 0.7333333333333332
76
Mean accuracy: 0.5833333333333333
77
Mean accuracy: 0.6333333333333333
78
Mean accuracy: 0.6
79
Mean accuracy: 0.6
80
Mean accuracy: 0.5833333333333334
81
Mean accuracy: 0.6
82
Mean accuracy: 0.6
83
Mean accuracy: 0.6333333333333333
84
Mean accuracy: 0.7
85
Mean accuracy: 0.5666666666666667
86
Mean accuracy: 0.6333333333333332
87
Mean accuracy: 0.6666666666666667
88
Mean accuracy: 0.6333333333333333
89
Mean accuracy: 0.7166666666666667
90
Mean accuracy: 0.4833333333333333
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.5
93
Mean accuracy: 0.5333333333333334
94
Mean accuracy: 0.6
95
Mean accuracy: 0.3833333333333333
96
Mean accuracy: 0.41666666666666663
97
Mean accuracy: 0.6833333333333333
98
Mean accuracy: 0.7166666666666666
99
Mean accuracy: 0.6833333333333333
100
Mean accuracy: 0.4333333333333333

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_HYS1vs2_Female_100RF.csv", index = False)

0.5830000000000001