# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
df = pd.read_csv('HYS1vs3_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
(241, 51)

,ENSG00000116761.11,ENSG00000214711.9,ENSG00000270571.2,ENSG00000278962.1,ENSG00000155657.26,ENSG00000163492.15,ENSG00000116106.11,ENSG00000186235.10,ENSG00000154764.5,ENSG00000189283.9,...,ENSG00000240505.8,ENSG00000108797.11,ENSG00000183691.4,ENSG00000168646.12,ENSG00000104921.14,ENSG00000277301.1,ENSG00000263366.2,ENSG00000102349.17,ENSG00000215580.10,HYS
0,125,161,116,108,17276,1872,1284,63,276,839,...,216,267,306,426,123,97,195,362,772,1
1,67,68,45,56,7529,1217,938,21,125,447,...,117,85,202,186,57,82,126,195,554,1

In [3]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.75
2
Mean accuracy: 0.75
3
Mean accuracy: 0.625
4
Mean accuracy: 0.65
5
Mean accuracy: 0.75
6
Mean accuracy: 0.675
7
Mean accuracy: 0.7
8
Mean accuracy: 0.675
9
Mean accuracy: 0.75
10
Mean accuracy: 0.7
11
Mean accuracy: 0.625
12
Mean accuracy: 0.7
13
Mean accuracy: 0.7
14
Mean accuracy: 0.75
15
Mean accuracy: 0.625
16
Mean accuracy: 0.675
17
Mean accuracy: 0.625
18
Mean accuracy: 0.65
19
Mean accuracy: 0.75
20
Mean accuracy: 0.675
21
Mean accuracy: 0.625
22
Mean accuracy: 0.6
23
Mean accuracy: 0.8
24
Mean accuracy: 0.625
25
Mean accuracy: 0.65
26
Mean accuracy: 0.6
27
Mean accuracy: 0.775
28
Mean accuracy: 0.6
29
Mean accuracy: 0.625
30
Mean accuracy: 0.575
31
Mean accuracy: 0.65
32
Mean accuracy: 0.75
33
Mean accuracy: 0.625
34
Mean accuracy: 0.725
35
Mean accuracy: 0.7
36
Mean accuracy: 0.675
37
Mean accuracy: 0.65
38
Mean accuracy: 0.7
39
Mean accuracy: 0.7
40
Mean accuracy: 0.55
41
Mean accuracy: 0.7
42
Mean accuracy: 0.675
43
Mean accuracy: 0.65
44
Mean accuracy: 0.725
45
Mean accuracy: 0.6
46
Mean accuracy: 0.725
47
Mean accuracy: 0.775
48
Mean accuracy: 0.75
49
Mean accuracy: 0.725
50
Mean accuracy: 0.75
51
Mean accuracy: 0.65
52
Mean accuracy: 0.7
53
Mean accuracy: 0.7
54
Mean accuracy: 0.625
55
Mean accuracy: 0.725
56
Mean accuracy: 0.675
57
Mean accuracy: 0.6
58
Mean accuracy: 0.7
59
Mean accuracy: 0.625
60
Mean accuracy: 0.75
61
Mean accuracy: 0.575
62
Mean accuracy: 0.725
63
Mean accuracy: 0.7
64
Mean accuracy: 0.7
65
Mean accuracy: 0.575
66
Mean accuracy: 0.75
67
Mean accuracy: 0.575
68
Mean accuracy: 0.6
69
Mean accuracy: 0.65
70
Mean accuracy: 0.675
71
Mean accuracy: 0.725
72
Mean accuracy: 0.75
73
Mean accuracy: 0.725
74
Mean accuracy: 0.675
75
Mean accuracy: 0.65
76
Mean accuracy: 0.65
77
Mean accuracy: 0.725
78
Mean accuracy: 0.8
79
Mean accuracy: 0.65
80
Mean accuracy: 0.75
81
Mean accuracy: 0.75
82
Mean accuracy: 0.7
83
Mean accuracy: 0.775
84
Mean accuracy: 0.8
85
Mean accuracy: 0.65
86
Mean accuracy: 0.725
87
Mean accuracy: 0.775
88
Mean accuracy: 0.85
89
Mean accuracy: 0.675
90
Mean accuracy: 0.625
91
Mean accuracy: 0.625
92
Mean accuracy: 0.625
93
Mean accuracy: 0.7
94
Mean accuracy: 0.7
95
Mean accuracy: 0.625
96
Mean accuracy: 0.575
97
Mean accuracy: 0.825
98
Mean accuracy: 0.7
99
Mean accuracy: 0.625
100
Mean accuracy: 0.7

In [4]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_HYS1vs3_Male_100RF.csv", index = False)

0.6847500000000002

## Top 100 Boruta

In [5]:
df = pd.read_csv('HYS1vs3_Boruta_Top100_Data_Male.csv')
print(df.shape)
df.head(2)

(241, 101)

,ENSG00000117643.14,ENSG00000116983.12,ENSG00000157077.14,ENSG00000116641.17,ENSG00000116761.11,ENSG00000272824.1,ENSG00000117322.17,ENSG00000162817.6,ENSG00000214711.9,ENSG00000231918.1,...,ENSG00000104921.14,ENSG00000277301.1,ENSG00000184113.9,ENSG00000263366.2,ENSG00000075275.16,ENSG00000102349.17,ENSG00000158301.18,ENSG00000260585.1,ENSG00000215580.10,HYS
0,690,364,472,1411,125,10,328,95,161,15,...,123,97,209,195,465,362,142,9,772,1
1,233,216,363,1141,67,8,118,87,68,0,...,57,82,151,126,90,195,90,0,554,1

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.725
2
Mean accuracy: 0.775
3
Mean accuracy: 0.675
4
Mean accuracy: 0.675
5
Mean accuracy: 0.6
6
Mean accuracy: 0.675
7
Mean accuracy: 0.675
8
Mean accuracy: 0.65
9
Mean accuracy: 0.725
10
Mean accuracy: 0.7
11
Mean accuracy: 0.625
12
Mean accuracy: 0.7
13
Mean accuracy: 0.675
14
Mean accuracy: 0.725
15
Mean accuracy: 0.65
16
Mean accuracy: 0.675
17
Mean accuracy: 0.675
18
Mean accuracy: 0.6
19
Mean accuracy: 0.775
20
Mean accuracy: 0.8
21
Mean accuracy: 0.625
22
Mean accuracy: 0.5
23
Mean accuracy: 0.8
24
Mean accuracy: 0.625
25
Mean accuracy: 0.725
26
Mean accuracy: 0.625
27
Mean accuracy: 0.725
28
Mean accuracy: 0.625
29
Mean accuracy: 0.575
30
Mean accuracy: 0.625
31
Mean accuracy: 0.675
32
Mean accuracy: 0.75
33
Mean accuracy: 0.7
34
Mean accuracy: 0.675
35
Mean accuracy: 0.65
36
Mean accuracy: 0.725
37
Mean accuracy: 0.625
38
Mean accuracy: 0.7
39
Mean accuracy: 0.6
40
Mean accuracy: 0.525
41
Mean accuracy: 0.725
42
Mean accuracy: 0.7
43
Mean accuracy: 0.675
44
Mean accuracy: 0.675
45
Mean accuracy: 0.625
46
Mean accuracy: 0.7
47
Mean accuracy: 0.675
48
Mean accuracy: 0.675
49
Mean accuracy: 0.75
50
Mean accuracy: 0.625
51
Mean accuracy: 0.475
52
Mean accuracy: 0.675
53
Mean accuracy: 0.75
54
Mean accuracy: 0.6
55
Mean accuracy: 0.6
56
Mean accuracy: 0.7
57
Mean accuracy: 0.55
58
Mean accuracy: 0.675
59
Mean accuracy: 0.625
60
Mean accuracy: 0.725
61
Mean accuracy: 0.625
62
Mean accuracy: 0.725
63
Mean accuracy: 0.725
64
Mean accuracy: 0.675
65
Mean accuracy: 0.625
66
Mean accuracy: 0.7
67
Mean accuracy: 0.55
68
Mean accuracy: 0.65
69
Mean accuracy: 0.675
70
Mean accuracy: 0.675
71
Mean accuracy: 0.725
72
Mean accuracy: 0.725
73
Mean accuracy: 0.675
74
Mean accuracy: 0.6
75
Mean accuracy: 0.675
76
Mean accuracy: 0.75
77
Mean accuracy: 0.7
78
Mean accuracy: 0.75
79
Mean accuracy: 0.625
80
Mean accuracy: 0.6
81
Mean accuracy: 0.725
82
Mean accuracy: 0.75
83
Mean accuracy: 0.725
84
Mean accuracy: 0.775
85
Mean accuracy: 0.65
86
Mean accuracy: 0.725
87
Mean accuracy: 0.725
88
Mean accuracy: 0.875
89
Mean accuracy: 0.7
90
Mean accuracy: 0.725
91
Mean accuracy: 0.6
92
Mean accuracy: 0.675
93
Mean accuracy: 0.775
94
Mean accuracy: 0.725
95
Mean accuracy: 0.575
96
Mean accuracy: 0.6
97
Mean accuracy: 0.775
98
Mean accuracy: 0.725
99
Mean accuracy: 0.65
100
Mean accuracy: 0.725

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_HYS1vs3_Male_100RF.csv", index = False)

0.677

## Top 250 Boruta

In [8]:
df = pd.read_csv('HYS1vs3_Boruta_Top250_Data_Male.csv')
print(df.shape)
df.head(2)

(241, 251)

,ENSG00000269737.2,ENSG00000228037.1,ENSG00000206652.1,ENSG00000117318.8,ENSG00000117643.14,ENSG00000116983.12,ENSG00000171793.14,ENSG00000157077.14,ENSG00000134709.10,ENSG00000116641.17,...,ENSG00000184867.13,ENSG00000158301.18,ENSG00000196507.10,ENSG00000133131.14,ENSG00000101842.13,ENSG00000260585.1,ENSG00000009694.13,ENSG00000235802.1,ENSG00000215580.10,HYS
0,10,28,27,190,690,364,1356,472,485,1411,...,154,142,108,411,443,9,1086,9,772,1
1,0,36,26,100,233,216,836,363,491,1141,...,61,90,85,265,339,0,1113,9,554,1

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.775
3
Mean accuracy: 0.65
4
Mean accuracy: 0.65
5
Mean accuracy: 0.6
6
Mean accuracy: 0.675
7
Mean accuracy: 0.675
8
Mean accuracy: 0.65
9
Mean accuracy: 0.75
10
Mean accuracy: 0.775
11
Mean accuracy: 0.6
12
Mean accuracy: 0.75
13
Mean accuracy: 0.675
14
Mean accuracy: 0.7
15
Mean accuracy: 0.625
16
Mean accuracy: 0.675
17
Mean accuracy: 0.65
18
Mean accuracy: 0.55
19
Mean accuracy: 0.7
20
Mean accuracy: 0.725
21
Mean accuracy: 0.575
22
Mean accuracy: 0.575
23
Mean accuracy: 0.725
24
Mean accuracy: 0.55
25
Mean accuracy: 0.675
26
Mean accuracy: 0.625
27
Mean accuracy: 0.75
28
Mean accuracy: 0.525
29
Mean accuracy: 0.575
30
Mean accuracy: 0.625
31
Mean accuracy: 0.675
32
Mean accuracy: 0.725
33
Mean accuracy: 0.6
34
Mean accuracy: 0.65
35
Mean accuracy: 0.625
36
Mean accuracy: 0.65
37
Mean accuracy: 0.6
38
Mean accuracy: 0.65
39
Mean accuracy: 0.675
40
Mean accuracy: 0.55
41
Mean accuracy: 0.725
42
Mean accuracy: 0.75
43
Mean accuracy: 0.675
44
Mean accuracy: 0.625
45
Mean accuracy: 0.625
46
Mean accuracy: 0.675
47
Mean accuracy: 0.6
48
Mean accuracy: 0.7
49
Mean accuracy: 0.775
50
Mean accuracy: 0.625
51
Mean accuracy: 0.525
52
Mean accuracy: 0.6
53
Mean accuracy: 0.675
54
Mean accuracy: 0.7
55
Mean accuracy: 0.575
56
Mean accuracy: 0.675
57
Mean accuracy: 0.6
58
Mean accuracy: 0.65
59
Mean accuracy: 0.575
60
Mean accuracy: 0.725
61
Mean accuracy: 0.55
62
Mean accuracy: 0.675
63
Mean accuracy: 0.7
64
Mean accuracy: 0.65
65
Mean accuracy: 0.675
66
Mean accuracy: 0.625
67
Mean accuracy: 0.575
68
Mean accuracy: 0.575
69
Mean accuracy: 0.65
70
Mean accuracy: 0.625
71
Mean accuracy: 0.725
72
Mean accuracy: 0.55
73
Mean accuracy: 0.625
74
Mean accuracy: 0.55
75
Mean accuracy: 0.6
76
Mean accuracy: 0.6
77
Mean accuracy: 0.75
78
Mean accuracy: 0.75
79
Mean accuracy: 0.625
80
Mean accuracy: 0.675
81
Mean accuracy: 0.7
82
Mean accuracy: 0.65
83
Mean accuracy: 0.725
84
Mean accuracy: 0.75
85
Mean accuracy: 0.65
86
Mean accuracy: 0.7
87
Mean accuracy: 0.725
88
Mean accuracy: 0.85
89
Mean accuracy: 0.625
90
Mean accuracy: 0.725
91
Mean accuracy: 0.575
92
Mean accuracy: 0.65
93
Mean accuracy: 0.7
94
Mean accuracy: 0.7
95
Mean accuracy: 0.6
96
Mean accuracy: 0.6
97
Mean accuracy: 0.725
98
Mean accuracy: 0.625
99
Mean accuracy: 0.675
100
Mean accuracy: 0.65

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_HYS1vs3_Male_100RF.csv", index = False)

0.6547500000000003

## Top 500 Boruta

In [11]:
df = pd.read_csv('HYS1vs3_Boruta_Top500_Data_Male.csv')
print(df.shape)
df.head(2)

(241, 501)

,ENSG00000205090.8,ENSG00000269737.2,ENSG00000228037.1,ENSG00000215788.10,ENSG00000171735.18,ENSG00000232208.2,ENSG00000116771.5,ENSG00000206652.1,ENSG00000169914.5,ENSG00000117318.8,...,ENSG00000196507.10,ENSG00000133131.14,ENSG00000101842.13,ENSG00000260585.1,ENSG00000009694.13,ENSG00000216171.1,ENSG00000235802.1,ENSG00000229745.1,ENSG00000215580.10,HYS
0,12,10,28,1949,814,44,188,27,1428,190,...,108,411,443,9,1086,0,9,1,772,1
1,7,0,36,1194,541,32,103,26,1094,100,...,85,265,339,0,1113,0,9,1,554,1

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.625
2
Mean accuracy: 0.775
3
Mean accuracy: 0.575
4
Mean accuracy: 0.65
5
Mean accuracy: 0.575
6
Mean accuracy: 0.65
7
Mean accuracy: 0.625
8
Mean accuracy: 0.6
9
Mean accuracy: 0.7
10
Mean accuracy: 0.725
11
Mean accuracy: 0.625
12
Mean accuracy: 0.7
13
Mean accuracy: 0.7
14
Mean accuracy: 0.7
15
Mean accuracy: 0.6
16
Mean accuracy: 0.675
17
Mean accuracy: 0.625
18
Mean accuracy: 0.625
19
Mean accuracy: 0.675
20
Mean accuracy: 0.65
21
Mean accuracy: 0.55
22
Mean accuracy: 0.525
23
Mean accuracy: 0.75
24
Mean accuracy: 0.575
25
Mean accuracy: 0.6
26
Mean accuracy: 0.525
27
Mean accuracy: 0.675
28
Mean accuracy: 0.575
29
Mean accuracy: 0.5
30
Mean accuracy: 0.575
31
Mean accuracy: 0.625
32
Mean accuracy: 0.725
33
Mean accuracy: 0.525
34
Mean accuracy: 0.65
35
Mean accuracy: 0.65
36
Mean accuracy: 0.725
37
Mean accuracy: 0.575
38
Mean accuracy: 0.725
39
Mean accuracy: 0.7
40
Mean accuracy: 0.525
41
Mean accuracy: 0.7
42
Mean accuracy: 0.7
43
Mean accuracy: 0.65
44
Mean accuracy: 0.6
45
Mean accuracy: 0.65
46
Mean accuracy: 0.6
47
Mean accuracy: 0.65
48
Mean accuracy: 0.7
49
Mean accuracy: 0.675
50
Mean accuracy: 0.625
51
Mean accuracy: 0.55
52
Mean accuracy: 0.575
53
Mean accuracy: 0.65
54
Mean accuracy: 0.65
55
Mean accuracy: 0.6
56
Mean accuracy: 0.625
57
Mean accuracy: 0.575
58
Mean accuracy: 0.65
59
Mean accuracy: 0.575
60
Mean accuracy: 0.675
61
Mean accuracy: 0.55
62
Mean accuracy: 0.675
63
Mean accuracy: 0.65
64
Mean accuracy: 0.675
65
Mean accuracy: 0.65
66
Mean accuracy: 0.675
67
Mean accuracy: 0.475
68
Mean accuracy: 0.625
69
Mean accuracy: 0.625
70
Mean accuracy: 0.65
71
Mean accuracy: 0.675
72
Mean accuracy: 0.5
73
Mean accuracy: 0.65
74
Mean accuracy: 0.575
75
Mean accuracy: 0.625
76
Mean accuracy: 0.65
77
Mean accuracy: 0.725
78
Mean accuracy: 0.725
79
Mean accuracy: 0.575
80
Mean accuracy: 0.65
81
Mean accuracy: 0.7
82
Mean accuracy: 0.6
83
Mean accuracy: 0.7
84
Mean accuracy: 0.75
85
Mean accuracy: 0.575
86
Mean accuracy: 0.725
87
Mean accuracy: 0.675
88
Mean accuracy: 0.675
89
Mean accuracy: 0.7
90
Mean accuracy: 0.7
91
Mean accuracy: 0.625
92
Mean accuracy: 0.625
93
Mean accuracy: 0.675
94
Mean accuracy: 0.75
95
Mean accuracy: 0.55
96
Mean accuracy: 0.55
97
Mean accuracy: 0.625
98
Mean accuracy: 0.725
99
Mean accuracy: 0.6
100
Mean accuracy: 0.675

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_HYS1vs3_Male_100RF.csv", index = False)

0.6382499999999998