# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male
df = pd.read_csv('HYS1vs2_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male
(165, 51)

,ENSG00000259984.1,ENSG00000284138.1,ENSG00000196517.11,ENSG00000142945.12,ENSG00000122477.12,ENSG00000268288.1,ENSG00000234604.2,ENSG00000203721.6,ENSG00000229832.1,ENSG00000236031.1,...,ENSG00000282980.1,ENSG00000277589.1,ENSG00000250751.1,ENSG00000267374.1,ENSG00000124224.16,ENSG00000280433.1,ENSG00000278996.1,ENSG00000212933.1,ENSG00000214322.3,HYS
0,72,14,92,21,31,12,21,332,195,5,...,168,77,6,6,917,190,2,3,0,1
1,81,71,493,52,25,24,13,182,109,9,...,199,68,9,5,1958,56,122,14,3,1

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(40))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6625
2
Mean accuracy: 0.675
3
Mean accuracy: 0.65
4
Mean accuracy: 0.5625
5
Mean accuracy: 0.625
6
Mean accuracy: 0.675
7
Mean accuracy: 0.625
8
Mean accuracy: 0.65
9
Mean accuracy: 0.65
10
Mean accuracy: 0.625
11
Mean accuracy: 0.75
12
Mean accuracy: 0.6625
13
Mean accuracy: 0.55
14
Mean accuracy: 0.625
15
Mean accuracy: 0.6875
16
Mean accuracy: 0.575
17
Mean accuracy: 0.6125
18
Mean accuracy: 0.675
19
Mean accuracy: 0.7125
20
Mean accuracy: 0.675
21
Mean accuracy: 0.65
22
Mean accuracy: 0.6
23
Mean accuracy: 0.575
24
Mean accuracy: 0.7
25
Mean accuracy: 0.5375
26
Mean accuracy: 0.7
27
Mean accuracy: 0.625
28
Mean accuracy: 0.7
29
Mean accuracy: 0.6625
30
Mean accuracy: 0.5875
31
Mean accuracy: 0.6875
32
Mean accuracy: 0.5875
33
Mean accuracy: 0.5875
34
Mean accuracy: 0.625
35
Mean accuracy: 0.65
36
Mean accuracy: 0.6
37
Mean accuracy: 0.575
38
Mean accuracy: 0.6875
39
Mean accuracy: 0.55
40
Mean accuracy: 0.5875
41
Mean accuracy: 0.65
42
Mean accuracy: 0.5625
43
Mean accuracy: 0.675
44
Mean accuracy: 0.7375
45
Mean accuracy: 0.5125
46
Mean accuracy: 0.65
47
Mean accuracy: 0.5875
48
Mean accuracy: 0.6875
49
Mean accuracy: 0.5125
50
Mean accuracy: 0.6375
51
Mean accuracy: 0.5875
52
Mean accuracy: 0.7
53
Mean accuracy: 0.7125
54
Mean accuracy: 0.6625
55
Mean accuracy: 0.525
56
Mean accuracy: 0.6125
57
Mean accuracy: 0.6
58
Mean accuracy: 0.6875
59
Mean accuracy: 0.6625
60
Mean accuracy: 0.7375
61
Mean accuracy: 0.6625
62
Mean accuracy: 0.55
63
Mean accuracy: 0.675
64
Mean accuracy: 0.675
65
Mean accuracy: 0.675
66
Mean accuracy: 0.5625
67
Mean accuracy: 0.5875
68
Mean accuracy: 0.5625
69
Mean accuracy: 0.5375
70
Mean accuracy: 0.6625
71
Mean accuracy: 0.6125
72
Mean accuracy: 0.7
73
Mean accuracy: 0.625
74
Mean accuracy: 0.5875
75
Mean accuracy: 0.6125
76
Mean accuracy: 0.6
77
Mean accuracy: 0.6375
78
Mean accuracy: 0.675
79
Mean accuracy: 0.6
80
Mean accuracy: 0.6375
81
Mean accuracy: 0.675
82
Mean accuracy: 0.5875
83
Mean accuracy: 0.7
84
Mean accuracy: 0.6
85
Mean accuracy: 0.6875
86
Mean accuracy: 0.5375
87
Mean accuracy: 0.55
88
Mean accuracy: 0.575
89
Mean accuracy: 0.65
90
Mean accuracy: 0.675
91
Mean accuracy: 0.6625
92
Mean accuracy: 0.6625
93
Mean accuracy: 0.65
94
Mean accuracy: 0.6125
95
Mean accuracy: 0.6375
96
Mean accuracy: 0.575
97
Mean accuracy: 0.55
98
Mean accuracy: 0.6875
99
Mean accuracy: 0.4875
100
Mean accuracy: 0.5875

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_HYS1vs2_Male_100RF.csv", index = False)

0.6288749999999997

## Top 100 Boruta

In [8]:
df = pd.read_csv('HYS1vs2_Boruta_Top100_Data_Male.csv')
print(df.shape)
df.head(2)

(165, 101)

,ENSG00000142583.17,ENSG00000259984.1,ENSG00000228589.3,ENSG00000284138.1,ENSG00000196517.11,ENSG00000142945.12,ENSG00000231613.1,ENSG00000122477.12,ENSG00000268288.1,ENSG00000234604.2,...,ENSG00000275453.2,ENSG00000124224.16,ENSG00000280433.1,ENSG00000278996.1,ENSG00000212933.1,ENSG00000223695.1,ENSG00000214322.3,ENSG00000102003.10,ENSG00000090889.11,HYS
0,82,72,19,14,92,21,8,31,12,21,...,13,917,190,2,3,3,0,19,27,1
1,139,81,35,71,493,52,6,25,24,13,...,4,1958,56,122,14,9,3,50,106,1

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(40))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.625
2
Mean accuracy: 0.6
3
Mean accuracy: 0.5625
4
Mean accuracy: 0.55
5
Mean accuracy: 0.675
6
Mean accuracy: 0.6
7
Mean accuracy: 0.6
8
Mean accuracy: 0.6125
9
Mean accuracy: 0.6875
10
Mean accuracy: 0.65
11
Mean accuracy: 0.7375
12
Mean accuracy: 0.675
13
Mean accuracy: 0.65
14
Mean accuracy: 0.6
15
Mean accuracy: 0.675
16
Mean accuracy: 0.5
17
Mean accuracy: 0.65
18
Mean accuracy: 0.675
19
Mean accuracy: 0.6875
20
Mean accuracy: 0.6375
21
Mean accuracy: 0.625
22
Mean accuracy: 0.675
23
Mean accuracy: 0.5875
24
Mean accuracy: 0.6125
25
Mean accuracy: 0.5625
26
Mean accuracy: 0.75
27
Mean accuracy: 0.6375
28
Mean accuracy: 0.7
29
Mean accuracy: 0.6875
30
Mean accuracy: 0.5625
31
Mean accuracy: 0.7125
32
Mean accuracy: 0.6375
33
Mean accuracy: 0.6375
34
Mean accuracy: 0.6625
35
Mean accuracy: 0.6125
36
Mean accuracy: 0.5875
37
Mean accuracy: 0.6625
38
Mean accuracy: 0.6375
39
Mean accuracy: 0.5125
40
Mean accuracy: 0.5875
41
Mean accuracy: 0.6625
42
Mean accuracy: 0.575
43
Mean accuracy: 0.6125
44
Mean accuracy: 0.675
45
Mean accuracy: 0.525
46
Mean accuracy: 0.65
47
Mean accuracy: 0.5375
48
Mean accuracy: 0.6375
49
Mean accuracy: 0.4625
50
Mean accuracy: 0.625
51
Mean accuracy: 0.5875
52
Mean accuracy: 0.65
53
Mean accuracy: 0.7375
54
Mean accuracy: 0.65
55
Mean accuracy: 0.4625
56
Mean accuracy: 0.575
57
Mean accuracy: 0.6375
58
Mean accuracy: 0.625
59
Mean accuracy: 0.6375
60
Mean accuracy: 0.625
61
Mean accuracy: 0.6375
62
Mean accuracy: 0.6
63
Mean accuracy: 0.6375
64
Mean accuracy: 0.65
65
Mean accuracy: 0.6375
66
Mean accuracy: 0.55
67
Mean accuracy: 0.5875
68
Mean accuracy: 0.6
69
Mean accuracy: 0.575
70
Mean accuracy: 0.6625
71
Mean accuracy: 0.5125
72
Mean accuracy: 0.6875
73
Mean accuracy: 0.5875
74
Mean accuracy: 0.5875
75
Mean accuracy: 0.55
76
Mean accuracy: 0.6
77
Mean accuracy: 0.6125
78
Mean accuracy: 0.6125
79
Mean accuracy: 0.5875
80
Mean accuracy: 0.6875
81
Mean accuracy: 0.55
82
Mean accuracy: 0.5625
83
Mean accuracy: 0.6375
84
Mean accuracy: 0.5625
85
Mean accuracy: 0.675
86
Mean accuracy: 0.6
87
Mean accuracy: 0.5
88
Mean accuracy: 0.6625
89
Mean accuracy: 0.6125
90
Mean accuracy: 0.6375
91
Mean accuracy: 0.625
92
Mean accuracy: 0.6875
93
Mean accuracy: 0.6375
94
Mean accuracy: 0.625
95
Mean accuracy: 0.6375
96
Mean accuracy: 0.5875
97
Mean accuracy: 0.525
98
Mean accuracy: 0.675
99
Mean accuracy: 0.55
100
Mean accuracy: 0.625

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_HYS1vs2_Male_100RF.csv", index = False)

0.617875

## Top 250 Boruta

In [11]:
df = pd.read_csv('HYS1vs2_Boruta_Top250_Data_Male.csv')
print(df.shape)
df.head(2)

(165, 251)

,ENSG00000241860.6,ENSG00000049249.8,ENSG00000142583.17,ENSG00000261349.1,ENSG00000259984.1,ENSG00000228589.3,ENSG00000271554.1,ENSG00000116885.18,ENSG00000284138.1,ENSG00000196517.11,...,ENSG00000214322.3,ENSG00000234636.2,ENSG00000102003.10,ENSG00000090889.11,ENSG00000131724.10,ENSG00000232412.1,ENSG00000285018.1,ENSG00000210196.2,ENSG00000277856.1,HYS
0,59,393,82,469,72,19,17,7,14,92,...,0,15,19,27,4711,29,5,44,11,1
1,150,867,139,1054,81,35,35,13,71,493,...,3,27,50,106,5406,33,8,273,26,1

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(40))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5875
2
Mean accuracy: 0.65
3
Mean accuracy: 0.5625
4
Mean accuracy: 0.5
5
Mean accuracy: 0.625
6
Mean accuracy: 0.65
7
Mean accuracy: 0.6
8
Mean accuracy: 0.6625
9
Mean accuracy: 0.625
10
Mean accuracy: 0.65
11
Mean accuracy: 0.65
12
Mean accuracy: 0.65
13
Mean accuracy: 0.625
14
Mean accuracy: 0.575
15
Mean accuracy: 0.6625
16
Mean accuracy: 0.4875
17
Mean accuracy: 0.6
18
Mean accuracy: 0.65
19
Mean accuracy: 0.675
20
Mean accuracy: 0.65
21
Mean accuracy: 0.6
22
Mean accuracy: 0.6
23
Mean accuracy: 0.575
24
Mean accuracy: 0.6375
25
Mean accuracy: 0.55
26
Mean accuracy: 0.65
27
Mean accuracy: 0.625
28
Mean accuracy: 0.6375
29
Mean accuracy: 0.625
30
Mean accuracy: 0.6
31
Mean accuracy: 0.6625
32
Mean accuracy: 0.575
33
Mean accuracy: 0.5375
34
Mean accuracy: 0.55
35
Mean accuracy: 0.55
36
Mean accuracy: 0.475
37
Mean accuracy: 0.5875
38
Mean accuracy: 0.6
39
Mean accuracy: 0.5
40
Mean accuracy: 0.575
41
Mean accuracy: 0.6125
42
Mean accuracy: 0.55
43
Mean accuracy: 0.6875
44
Mean accuracy: 0.675
45
Mean accuracy: 0.4875
46
Mean accuracy: 0.65
47
Mean accuracy: 0.575
48
Mean accuracy: 0.65
49
Mean accuracy: 0.55
50
Mean accuracy: 0.65
51
Mean accuracy: 0.6125
52
Mean accuracy: 0.625
53
Mean accuracy: 0.6625
54
Mean accuracy: 0.625
55
Mean accuracy: 0.4625
56
Mean accuracy: 0.5875
57
Mean accuracy: 0.6125
58
Mean accuracy: 0.5875
59
Mean accuracy: 0.625
60
Mean accuracy: 0.65
61
Mean accuracy: 0.575
62
Mean accuracy: 0.575
63
Mean accuracy: 0.6125
64
Mean accuracy: 0.6125
65
Mean accuracy: 0.6625
66
Mean accuracy: 0.5375
67
Mean accuracy: 0.525
68
Mean accuracy: 0.6
69
Mean accuracy: 0.575
70
Mean accuracy: 0.625
71
Mean accuracy: 0.55
72
Mean accuracy: 0.65
73
Mean accuracy: 0.6375
74
Mean accuracy: 0.6375
75
Mean accuracy: 0.65
76
Mean accuracy: 0.5875
77
Mean accuracy: 0.6375
78
Mean accuracy: 0.6
79
Mean accuracy: 0.5875
80
Mean accuracy: 0.675
81
Mean accuracy: 0.65
82
Mean accuracy: 0.5
83
Mean accuracy: 0.5625
84
Mean accuracy: 0.5625
85
Mean accuracy: 0.6375
86
Mean accuracy: 0.525
87
Mean accuracy: 0.5125
88
Mean accuracy: 0.6
89
Mean accuracy: 0.6
90
Mean accuracy: 0.575
91
Mean accuracy: 0.6625
92
Mean accuracy: 0.725
93
Mean accuracy: 0.6625
94
Mean accuracy: 0.5375
95
Mean accuracy: 0.525
96
Mean accuracy: 0.4875
97
Mean accuracy: 0.5125
98
Mean accuracy: 0.7125
99
Mean accuracy: 0.4875
100
Mean accuracy: 0.5375

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_HYS1vs2_Male_100RF.csv", index = False)

0.5987500000000001

## Top 500 Boruta

In [14]:
df = pd.read_csv('HYS1vs2_Boruta_Top500_Data_Male.csv')
print(df.shape)
df.head(2)

(165, 501)

,ENSG00000241860.6,ENSG00000222623.1,ENSG00000230021.10,ENSG00000271806.1,ENSG00000049249.8,ENSG00000142583.17,ENSG00000171621.13,ENSG00000162444.11,ENSG00000237276.8,ENSG00000261349.1,...,ENSG00000252627.1,ENSG00000232412.1,ENSG00000221930.6,ENSG00000285018.1,ENSG00000277203.1,ENSG00000211459.2,ENSG00000198763.3,ENSG00000210196.2,ENSG00000277856.1,HYS
0,59,13,27,18,393,82,29,132,11,469,...,26,29,28,5,33,52,59,44,11,1
1,150,36,43,52,867,139,114,204,119,1054,...,18,33,28,8,153,139,503,273,26,1

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(40))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.625
2
Mean accuracy: 0.6125
3
Mean accuracy: 0.55
4
Mean accuracy: 0.575
5
Mean accuracy: 0.575
6
Mean accuracy: 0.55
7
Mean accuracy: 0.575
8
Mean accuracy: 0.625
9
Mean accuracy: 0.675
10
Mean accuracy: 0.625
11
Mean accuracy: 0.65
12
Mean accuracy: 0.6
13
Mean accuracy: 0.65
14
Mean accuracy: 0.6375
15
Mean accuracy: 0.7125
16
Mean accuracy: 0.55
17
Mean accuracy: 0.6
18
Mean accuracy: 0.6875
19
Mean accuracy: 0.675
20
Mean accuracy: 0.6875
21
Mean accuracy: 0.6375
22
Mean accuracy: 0.6625
23
Mean accuracy: 0.5125
24
Mean accuracy: 0.5625
25
Mean accuracy: 0.5875
26
Mean accuracy: 0.7
27
Mean accuracy: 0.6
28
Mean accuracy: 0.6375
29
Mean accuracy: 0.575
30
Mean accuracy: 0.5375
31
Mean accuracy: 0.7
32
Mean accuracy: 0.6375
33
Mean accuracy: 0.5625
34
Mean accuracy: 0.5375
35
Mean accuracy: 0.6
36
Mean accuracy: 0.575
37
Mean accuracy: 0.6
38
Mean accuracy: 0.6
39
Mean accuracy: 0.4875
40
Mean accuracy: 0.5875
41
Mean accuracy: 0.6375
42
Mean accuracy: 0.475
43
Mean accuracy: 0.6625
44
Mean accuracy: 0.725
45
Mean accuracy: 0.4625
46
Mean accuracy: 0.6375
47
Mean accuracy: 0.475
48
Mean accuracy: 0.55
49
Mean accuracy: 0.525
50
Mean accuracy: 0.625
51
Mean accuracy: 0.575
52
Mean accuracy: 0.625
53
Mean accuracy: 0.6875
54
Mean accuracy: 0.6125
55
Mean accuracy: 0.4875
56
Mean accuracy: 0.575
57
Mean accuracy: 0.5625
58
Mean accuracy: 0.5875
59
Mean accuracy: 0.6125
60
Mean accuracy: 0.575
61
Mean accuracy: 0.5875
62
Mean accuracy: 0.6
63
Mean accuracy: 0.65
64
Mean accuracy: 0.5625
65
Mean accuracy: 0.6
66
Mean accuracy: 0.55
67
Mean accuracy: 0.6
68
Mean accuracy: 0.575
69
Mean accuracy: 0.575
70
Mean accuracy: 0.6375
71
Mean accuracy: 0.5375
72
Mean accuracy: 0.7
73
Mean accuracy: 0.625
74
Mean accuracy: 0.6375
75
Mean accuracy: 0.6625
76
Mean accuracy: 0.525
77
Mean accuracy: 0.625
78
Mean accuracy: 0.625
79
Mean accuracy: 0.5625
80
Mean accuracy: 0.6625
81
Mean accuracy: 0.55
82
Mean accuracy: 0.4875
83
Mean accuracy: 0.575
84
Mean accuracy: 0.625
85
Mean accuracy: 0.55
86
Mean accuracy: 0.5125
87
Mean accuracy: 0.4625
88
Mean accuracy: 0.5875
89
Mean accuracy: 0.6
90
Mean accuracy: 0.6375
91
Mean accuracy: 0.7
92
Mean accuracy: 0.6625
93
Mean accuracy: 0.65
94
Mean accuracy: 0.6125
95
Mean accuracy: 0.5625
96
Mean accuracy: 0.525
97
Mean accuracy: 0.5375
98
Mean accuracy: 0.6625
99
Mean accuracy: 0.55
100
Mean accuracy: 0.55

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_HYS1vs2_Male_100RF.csv", index = False)

0.5971250000000001