# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Female
df = pd.read_csv('DEGs_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Female
(764, 51)

,DIAGNOSIS,ENSG00000188822.7,ENSG00000156869.13,ENSG00000183508.4,ENSG00000225217.1,ENSG00000180667.10,ENSG00000116574.5,ENSG00000134317.17,ENSG00000179915.22,ENSG00000091181.19,...,ENSG00000131401.11,ENSG00000130433.7,ENSG00000205927.4,ENSG00000182240.15,ENSG00000224388.1,ENSG00000182362.13,ENSG00000100079.6,ENSG00000234493.4,ENSG00000278384.1,ENSG00000284648.1
0,0,500,323,28981,3330,24875,1191,191,305,782,...,1318,20,56,497,38,343,969,27,124,11
1,0,354,368,77677,1148,27435,815,117,118,1242,...,908,72,91,444,42,288,423,39,16,20

In [3]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df1.drop('DIAGNOSIS', axis = 1)
    y = df1['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7049999999999998
2
Mean accuracy: 0.7499999999999999
3
Mean accuracy: 0.7100000000000001
4
Mean accuracy: 0.745
5
Mean accuracy: 0.77
6
Mean accuracy: 0.735
7
Mean accuracy: 0.7249999999999999
8
Mean accuracy: 0.7300000000000001
9
Mean accuracy: 0.7649999999999999
10
Mean accuracy: 0.6699999999999999
11
Mean accuracy: 0.7099999999999999
12
Mean accuracy: 0.73
13
Mean accuracy: 0.7
14
Mean accuracy: 0.73
15
Mean accuracy: 0.74
16
Mean accuracy: 0.725
17
Mean accuracy: 0.7350000000000001
18
Mean accuracy: 0.695
19
Mean accuracy: 0.745
20
Mean accuracy: 0.715
21
Mean accuracy: 0.77
22
Mean accuracy: 0.7350000000000001
23
Mean accuracy: 0.76
24
Mean accuracy: 0.72
25
Mean accuracy: 0.78
26
Mean accuracy: 0.7150000000000001
27
Mean accuracy: 0.72
28
Mean accuracy: 0.76
29
Mean accuracy: 0.7499999999999999
30
Mean accuracy: 0.7700000000000001
31
Mean accuracy: 0.71
32
Mean accuracy: 0.7550000000000001
33
Mean accuracy: 0.77
34
Mean accuracy: 0.745
35
Mean accuracy: 0.7050000000000001
36
Mean accuracy: 0.72
37
Mean accuracy: 0.745
38
Mean accuracy: 0.7549999999999999
39
Mean accuracy: 0.73
40
Mean accuracy: 0.7549999999999999
41
Mean accuracy: 0.76
42
Mean accuracy: 0.685
43
Mean accuracy: 0.7249999999999999
44
Mean accuracy: 0.75
45
Mean accuracy: 0.7150000000000001
46
Mean accuracy: 0.75
47
Mean accuracy: 0.775
48
Mean accuracy: 0.7449999999999999
49
Mean accuracy: 0.74
50
Mean accuracy: 0.6950000000000001
51
Mean accuracy: 0.765
52
Mean accuracy: 0.755
53
Mean accuracy: 0.72
54
Mean accuracy: 0.7499999999999999
55
Mean accuracy: 0.775
56
Mean accuracy: 0.755
57
Mean accuracy: 0.7
58
Mean accuracy: 0.7949999999999999
59
Mean accuracy: 0.79
60
Mean accuracy: 0.7300000000000001
61
Mean accuracy: 0.68
62
Mean accuracy: 0.72
63
Mean accuracy: 0.7150000000000001
64
Mean accuracy: 0.7299999999999999
65
Mean accuracy: 0.7700000000000001
66
Mean accuracy: 0.7550000000000001
67
Mean accuracy: 0.7150000000000001
68
Mean accuracy: 0.8049999999999999
69
Mean accuracy: 0.71
70
Mean accuracy: 0.76
71
Mean accuracy: 0.7350000000000001
72
Mean accuracy: 0.725
73
Mean accuracy: 0.725
74
Mean accuracy: 0.7899999999999999
75
Mean accuracy: 0.76
76
Mean accuracy: 0.735
77
Mean accuracy: 0.77
78
Mean accuracy: 0.77
79
Mean accuracy: 0.71
80
Mean accuracy: 0.715
81
Mean accuracy: 0.7150000000000001
82
Mean accuracy: 0.7100000000000001
83
Mean accuracy: 0.7649999999999999
84
Mean accuracy: 0.7550000000000001
85
Mean accuracy: 0.7300000000000001
86
Mean accuracy: 0.7350000000000001
87
Mean accuracy: 0.69
88
Mean accuracy: 0.765
89
Mean accuracy: 0.725
90
Mean accuracy: 0.6849999999999999
91
Mean accuracy: 0.77
92
Mean accuracy: 0.7550000000000001
93
Mean accuracy: 0.6649999999999999
94
Mean accuracy: 0.74
95
Mean accuracy: 0.7450000000000001
96
Mean accuracy: 0.7000000000000001
97
Mean accuracy: 0.7150000000000001
98
Mean accuracy: 0.7849999999999999
99
Mean accuracy: 0.745
100
Mean accuracy: 0.655

In [4]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_DEGs_Female_100RF.csv", index = False)

0.7362000000000003

## Top 100 Boruta

In [5]:
%cd S:\PPMI_RNA\Processed\Female
df = pd.read_csv('DEGs_Boruta_Top100_Data_Female.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Female
(764, 101)

,DIAGNOSIS,ENSG00000271806.1,ENSG00000057757.9,ENSG00000188822.7,ENSG00000156869.13,ENSG00000282608.1,ENSG00000134256.12,ENSG00000183508.4,ENSG00000163554.13,ENSG00000225217.1,...,ENSG00000205927.4,ENSG00000184221.12,ENSG00000182240.15,ENSG00000224388.1,ENSG00000182362.13,ENSG00000100079.6,ENSG00000047597.6,ENSG00000234493.4,ENSG00000278384.1,ENSG00000156381.8
0,0,37,7505,500,323,70,848,28981,430,3330,...,56,118,497,38,343,969,3354,27,124,370
1,0,26,10504,354,368,62,714,77677,1162,1148,...,91,104,444,42,288,423,6188,39,16,1247

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df1.drop('DIAGNOSIS', axis = 1)
    y = df1['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.74
2
Mean accuracy: 0.73
3
Mean accuracy: 0.655
4
Mean accuracy: 0.7400000000000001
5
Mean accuracy: 0.7649999999999999
6
Mean accuracy: 0.735
7
Mean accuracy: 0.74
8
Mean accuracy: 0.7350000000000001
9
Mean accuracy: 0.76
10
Mean accuracy: 0.7350000000000001
11
Mean accuracy: 0.7050000000000001
12
Mean accuracy: 0.745
13
Mean accuracy: 0.72
14
Mean accuracy: 0.765
15
Mean accuracy: 0.76
16
Mean accuracy: 0.72
17
Mean accuracy: 0.7100000000000001
18
Mean accuracy: 0.7
19
Mean accuracy: 0.735
20
Mean accuracy: 0.6900000000000001
21
Mean accuracy: 0.745
22
Mean accuracy: 0.735
23
Mean accuracy: 0.755
24
Mean accuracy: 0.74
25
Mean accuracy: 0.765
26
Mean accuracy: 0.7
27
Mean accuracy: 0.72
28
Mean accuracy: 0.8
29
Mean accuracy: 0.705
30
Mean accuracy: 0.745
31
Mean accuracy: 0.73
32
Mean accuracy: 0.7450000000000001
33
Mean accuracy: 0.76
34
Mean accuracy: 0.78
35
Mean accuracy: 0.685
36
Mean accuracy: 0.705
37
Mean accuracy: 0.745
38
Mean accuracy: 0.76
39
Mean accuracy: 0.71
40
Mean accuracy: 0.7500000000000001
41
Mean accuracy: 0.7200000000000001
42
Mean accuracy: 0.6599999999999999
43
Mean accuracy: 0.74
44
Mean accuracy: 0.7350000000000001
45
Mean accuracy: 0.745
46
Mean accuracy: 0.7449999999999999
47
Mean accuracy: 0.73
48
Mean accuracy: 0.76
49
Mean accuracy: 0.745
50
Mean accuracy: 0.72
51
Mean accuracy: 0.7500000000000001
52
Mean accuracy: 0.73
53
Mean accuracy: 0.715
54
Mean accuracy: 0.71
55
Mean accuracy: 0.76
56
Mean accuracy: 0.72
57
Mean accuracy: 0.7200000000000001
58
Mean accuracy: 0.8
59
Mean accuracy: 0.745
60
Mean accuracy: 0.7150000000000001
61
Mean accuracy: 0.7150000000000001
62
Mean accuracy: 0.7300000000000001
63
Mean accuracy: 0.675
64
Mean accuracy: 0.7050000000000001
65
Mean accuracy: 0.72
66
Mean accuracy: 0.725
67
Mean accuracy: 0.68
68
Mean accuracy: 0.795
69
Mean accuracy: 0.745
70
Mean accuracy: 0.76
71
Mean accuracy: 0.7
72
Mean accuracy: 0.7250000000000001
73
Mean accuracy: 0.7150000000000001
74
Mean accuracy: 0.7649999999999999
75
Mean accuracy: 0.73
76
Mean accuracy: 0.7550000000000001
77
Mean accuracy: 0.77
78
Mean accuracy: 0.73
79
Mean accuracy: 0.7049999999999998
80
Mean accuracy: 0.7150000000000001
81
Mean accuracy: 0.71
82
Mean accuracy: 0.7150000000000001
83
Mean accuracy: 0.7649999999999999
84
Mean accuracy: 0.73
85
Mean accuracy: 0.7549999999999999
86
Mean accuracy: 0.72
87
Mean accuracy: 0.73
88
Mean accuracy: 0.725
89
Mean accuracy: 0.6950000000000001
90
Mean accuracy: 0.7249999999999999
91
Mean accuracy: 0.7449999999999999
92
Mean accuracy: 0.6950000000000001
93
Mean accuracy: 0.6849999999999999
94
Mean accuracy: 0.7500000000000001
95
Mean accuracy: 0.7300000000000001
96
Mean accuracy: 0.6900000000000001
97
Mean accuracy: 0.6849999999999999
98
Mean accuracy: 0.7499999999999999
99
Mean accuracy: 0.735
100
Mean accuracy: 0.655

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_DEGs_Female_100RF.csv", index = False)

0.7297999999999998

## Top 250 Boruta

In [8]:
%cd S:\PPMI_RNA\Processed\Female
df = pd.read_csv('DEGs_Boruta_Top250_Data_Female.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Female
(764, 250)

,DIAGNOSIS,ENSG00000271806.1,ENSG00000117115.12,ENSG00000162543.5,ENSG00000076864.19,ENSG00000057757.9,ENSG00000188822.7,ENSG00000116983.12,ENSG00000117461.14,ENSG00000162437.14,...,ENSG00000100079.6,ENSG00000073150.13,ENSG00000047597.6,ENSG00000238222.3,ENSG00000231725.1,ENSG00000234493.4,ENSG00000076770.14,ENSG00000233093.5,ENSG00000210082.2,ENSG00000278384.1
0,0,37,1745,208,27,7505,500,351,114,217,...,969,84,3354,5,18,27,35787,79,181,124
1,0,26,2239,369,46,10504,354,178,80,214,...,423,75,6188,9,3,39,34380,71,653,16

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df1.drop('DIAGNOSIS', axis = 1)
    y = df1['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.75
2
Mean accuracy: 0.7
3
Mean accuracy: 0.6649999999999999
4
Mean accuracy: 0.775
5
Mean accuracy: 0.7
6
Mean accuracy: 0.725
7
Mean accuracy: 0.72
8
Mean accuracy: 0.75
9
Mean accuracy: 0.7400000000000001
10
Mean accuracy: 0.6950000000000001
11
Mean accuracy: 0.745
12
Mean accuracy: 0.755
13
Mean accuracy: 0.71
14
Mean accuracy: 0.72
15
Mean accuracy: 0.7400000000000001
16
Mean accuracy: 0.74
17
Mean accuracy: 0.725
18
Mean accuracy: 0.71
19
Mean accuracy: 0.7150000000000001
20
Mean accuracy: 0.7150000000000001
21
Mean accuracy: 0.74
22
Mean accuracy: 0.735
23
Mean accuracy: 0.77
24
Mean accuracy: 0.7450000000000001
25
Mean accuracy: 0.7899999999999999
26
Mean accuracy: 0.73
27
Mean accuracy: 0.695
28
Mean accuracy: 0.78
29
Mean accuracy: 0.685
30
Mean accuracy: 0.785
31
Mean accuracy: 0.765
32
Mean accuracy: 0.7300000000000001
33
Mean accuracy: 0.7
34
Mean accuracy: 0.74
35
Mean accuracy: 0.715
36
Mean accuracy: 0.675
37
Mean accuracy: 0.75
38
Mean accuracy: 0.7300000000000001
39
Mean accuracy: 0.68
40
Mean accuracy: 0.7350000000000001
41
Mean accuracy: 0.74
42
Mean accuracy: 0.6849999999999999
43
Mean accuracy: 0.705
44
Mean accuracy: 0.73
45
Mean accuracy: 0.7999999999999999
46
Mean accuracy: 0.76
47
Mean accuracy: 0.72
48
Mean accuracy: 0.7799999999999999
49
Mean accuracy: 0.7599999999999999
50
Mean accuracy: 0.7350000000000001
51
Mean accuracy: 0.77
52
Mean accuracy: 0.7000000000000001
53
Mean accuracy: 0.7
54
Mean accuracy: 0.695
55
Mean accuracy: 0.74
56
Mean accuracy: 0.76
57
Mean accuracy: 0.7
58
Mean accuracy: 0.7750000000000001
59
Mean accuracy: 0.725
60
Mean accuracy: 0.755
61
Mean accuracy: 0.725
62
Mean accuracy: 0.7100000000000001
63
Mean accuracy: 0.725
64
Mean accuracy: 0.735
65
Mean accuracy: 0.75
66
Mean accuracy: 0.6699999999999999
67
Mean accuracy: 0.7
68
Mean accuracy: 0.765
69
Mean accuracy: 0.7449999999999999
70
Mean accuracy: 0.775
71
Mean accuracy: 0.7300000000000001
72
Mean accuracy: 0.7550000000000001
73
Mean accuracy: 0.745
74
Mean accuracy: 0.7499999999999999
75
Mean accuracy: 0.755
76
Mean accuracy: 0.72
77
Mean accuracy: 0.725
78
Mean accuracy: 0.7399999999999999
79
Mean accuracy: 0.72
80
Mean accuracy: 0.72
81
Mean accuracy: 0.715
82
Mean accuracy: 0.7550000000000001
83
Mean accuracy: 0.76
84
Mean accuracy: 0.735
85
Mean accuracy: 0.74
86
Mean accuracy: 0.7350000000000001
87
Mean accuracy: 0.7150000000000001
88
Mean accuracy: 0.72
89
Mean accuracy: 0.7
90
Mean accuracy: 0.7299999999999999
91
Mean accuracy: 0.755
92
Mean accuracy: 0.725
93
Mean accuracy: 0.7
94
Mean accuracy: 0.75
95
Mean accuracy: 0.7500000000000001
96
Mean accuracy: 0.645
97
Mean accuracy: 0.7000000000000001
98
Mean accuracy: 0.75
99
Mean accuracy: 0.725
100
Mean accuracy: 0.675

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_DEGs_Female_100RF.csv", index = False)

0.73045

## Top 500 Boruta

In [11]:
df = pd.read_csv('All_Counts_PatAndHealthy_Disease_Female.csv')
print(df.shape)
df.head(2)

(764, 58783)

,HudAlphaID,DIAGNOSIS,PATNO,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0002,Control,3201,2,199,10,0,0,0,0,...,0,0,2,0,0,0,3,0,0,0
1,5104_SL_0003,Control,3057,0,148,2,1,0,1,0,...,0,3,8,2,0,1,15,3,0,0

In [12]:
df = df.drop(['HudAlphaID' ,'PATNO'], axis=1)
df.head(2)

,DIAGNOSIS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,Control,2,199,10,0,0,0,0,1,0,...,0,0,2,0,0,0,3,0,0,0
1,Control,0,148,2,1,0,1,0,1,0,...,0,3,8,2,0,1,15,3,0,0

In [13]:
df2 = pd.read_csv('DEGs_Boruta_All_Female.csv')
df2_sub = df2['CpG'].iloc[:501]
df2_sub.head(3)

0             DIAGNOSIS
1    ENSG00000204177.10
2     ENSG00000228495.1
Name: CpG, dtype: object

In [14]:
df_500 = df[df2_sub]
print(df_500.shape)
df_500.head(2)

(764, 501)

,DIAGNOSIS,ENSG00000204177.10,ENSG00000228495.1,ENSG00000268240.1,ENSG00000231304.2,ENSG00000265218.1,ENSG00000266644.1,ENSG00000100079.6,ENSG00000225217.1,ENSG00000179915.22,...,ENSG00000138311.16,ENSG00000257261.5,ENSG00000123091.4,ENSG00000225914.2,ENSG00000117090.14,ENSG00000157045.8,ENSG00000229106.1,ENSG00000168004.9,ENSG00000119514.6,ENSG00000156515.23
0,Control,369,174,95,487,32,4,969,3330,305,...,92,514,12588,194,1140,831,174,30,233,2626
1,Control,250,46,94,109,17,6,423,1148,118,...,232,552,13441,126,947,592,187,59,229,3801

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.74
2
Mean accuracy: 0.7050000000000001
3
Mean accuracy: 0.7100000000000001
4
Mean accuracy: 0.7649999999999999
5
Mean accuracy: 0.73
6
Mean accuracy: 0.74
7
Mean accuracy: 0.7
8
Mean accuracy: 0.7350000000000001
9
Mean accuracy: 0.75
10
Mean accuracy: 0.6799999999999999
11
Mean accuracy: 0.7449999999999999
12
Mean accuracy: 0.7350000000000001
13
Mean accuracy: 0.69
14
Mean accuracy: 0.7350000000000001
15
Mean accuracy: 0.705
16
Mean accuracy: 0.72
17
Mean accuracy: 0.725
18
Mean accuracy: 0.7450000000000001
19
Mean accuracy: 0.7050000000000001
20
Mean accuracy: 0.665
21
Mean accuracy: 0.705
22
Mean accuracy: 0.7200000000000001
23
Mean accuracy: 0.76
24
Mean accuracy: 0.7100000000000001
25
Mean accuracy: 0.72
26
Mean accuracy: 0.7249999999999999
27
Mean accuracy: 0.7050000000000001
28
Mean accuracy: 0.755
29
Mean accuracy: 0.74
30
Mean accuracy: 0.73
31
Mean accuracy: 0.7750000000000001
32
Mean accuracy: 0.705
33
Mean accuracy: 0.675
34
Mean accuracy: 0.76
35
Mean accuracy: 0.6900000000000001
36
Mean accuracy: 0.6849999999999999
37
Mean accuracy: 0.745
38
Mean accuracy: 0.73
39
Mean accuracy: 0.705
40
Mean accuracy: 0.71
41
Mean accuracy: 0.7299999999999999
42
Mean accuracy: 0.695
43
Mean accuracy: 0.715
44
Mean accuracy: 0.7300000000000001
45
Mean accuracy: 0.745
46
Mean accuracy: 0.745
47
Mean accuracy: 0.7699999999999999
48
Mean accuracy: 0.74
49
Mean accuracy: 0.7100000000000001
50
Mean accuracy: 0.7250000000000001
51
Mean accuracy: 0.75
52
Mean accuracy: 0.6900000000000001
53
Mean accuracy: 0.7100000000000001
54
Mean accuracy: 0.685
55
Mean accuracy: 0.735
56
Mean accuracy: 0.765
57
Mean accuracy: 0.7150000000000001
58
Mean accuracy: 0.74
59
Mean accuracy: 0.73
60
Mean accuracy: 0.6950000000000001
61
Mean accuracy: 0.7
62
Mean accuracy: 0.7250000000000001
63
Mean accuracy: 0.7350000000000001
64
Mean accuracy: 0.7449999999999999
65
Mean accuracy: 0.7049999999999998
66
Mean accuracy: 0.7
67
Mean accuracy: 0.705
68
Mean accuracy: 0.75
69
Mean accuracy: 0.725
70
Mean accuracy: 0.7300000000000001
71
Mean accuracy: 0.74
72
Mean accuracy: 0.7150000000000001
73
Mean accuracy: 0.74
74
Mean accuracy: 0.735
75
Mean accuracy: 0.74
76
Mean accuracy: 0.6849999999999999
77
Mean accuracy: 0.7300000000000001
78
Mean accuracy: 0.7100000000000001
79
Mean accuracy: 0.7150000000000001
80
Mean accuracy: 0.6950000000000001
81
Mean accuracy: 0.7649999999999999
82
Mean accuracy: 0.735
83
Mean accuracy: 0.745
84
Mean accuracy: 0.76
85
Mean accuracy: 0.76
86
Mean accuracy: 0.6900000000000001
87
Mean accuracy: 0.6749999999999999
88
Mean accuracy: 0.71
89
Mean accuracy: 0.7
90
Mean accuracy: 0.72
91
Mean accuracy: 0.775
92
Mean accuracy: 0.69
93
Mean accuracy: 0.7
94
Mean accuracy: 0.77
95
Mean accuracy: 0.7
96
Mean accuracy: 0.7
97
Mean accuracy: 0.6950000000000001
98
Mean accuracy: 0.725
99
Mean accuracy: 0.7350000000000001
100
Mean accuracy: 0.675

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_DEGs_Female_100RF.csv", index = False)

0.72245