# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Female
df = pd.read_csv('All_Counts_PatAndHealthy_Disease_Female.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Female
(764, 58783)

,HudAlphaID,DIAGNOSIS,PATNO,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0002,Control,3201,2,199,10,0,0,0,0,...,0,0,2,0,0,0,3,0,0,0
1,5104_SL_0003,Control,3057,0,148,2,1,0,1,0,...,0,3,8,2,0,1,15,3,0,0

In [3]:
df1 = df.drop(['HudAlphaID' ,'PATNO'], axis=1)
df1.head(2)

,DIAGNOSIS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,Control,2,199,10,0,0,0,0,1,0,...,0,0,2,0,0,0,3,0,0,0
1,Control,0,148,2,1,0,1,0,1,0,...,0,3,8,2,0,1,15,3,0,0

## Top 50 NMI

In [5]:
df2 = pd.read_csv('NMI_AllCounts_Female.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000270972.1
Name: Geneid, dtype: object

In [6]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(764, 51)

,DIAGNOSIS,ENSG00000270972.1,ENSG00000100079.6,ENSG00000173598.13,ENSG00000152484.13,ENSG00000265218.1,ENSG00000263142.5,ENSG00000266918.1,ENSG00000196422.10,ENSG00000255328.1,...,ENSG00000013561.17,ENSG00000141469.17,ENSG00000134317.17,ENSG00000115758.12,ENSG00000253590.1,ENSG00000082898.16,ENSG00000135045.6,ENSG00000231304.2,ENSG00000119782.13,ENSG00000092067.5
0,Control,85,969,4772,5983,32,81,37,222,159,...,3507,1975,191,7730,69,9482,453,487,137,146
1,Control,30,423,4595,8744,17,80,33,183,60,...,5682,4237,117,11938,103,6135,348,109,126,107

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.74
2
Mean accuracy: 0.745
3
Mean accuracy: 0.685
4
Mean accuracy: 0.76
5
Mean accuracy: 0.75
6
Mean accuracy: 0.76
7
Mean accuracy: 0.74
8
Mean accuracy: 0.73
9
Mean accuracy: 0.7499999999999999
10
Mean accuracy: 0.6900000000000001
11
Mean accuracy: 0.6849999999999999
12
Mean accuracy: 0.72
13
Mean accuracy: 0.7150000000000001
14
Mean accuracy: 0.7350000000000001
15
Mean accuracy: 0.77
16
Mean accuracy: 0.715
17
Mean accuracy: 0.6950000000000001
18
Mean accuracy: 0.725
19
Mean accuracy: 0.78
20
Mean accuracy: 0.685
21
Mean accuracy: 0.7000000000000001
22
Mean accuracy: 0.74
23
Mean accuracy: 0.745
24
Mean accuracy: 0.74
25
Mean accuracy: 0.735
26
Mean accuracy: 0.695
27
Mean accuracy: 0.7000000000000001
28
Mean accuracy: 0.7949999999999999
29
Mean accuracy: 0.6799999999999999
30
Mean accuracy: 0.7000000000000001
31
Mean accuracy: 0.72
32
Mean accuracy: 0.725
33
Mean accuracy: 0.76
34
Mean accuracy: 0.7449999999999999
35
Mean accuracy: 0.7350000000000001
36
Mean accuracy: 0.705
37
Mean accuracy: 0.74
38
Mean accuracy: 0.74
39
Mean accuracy: 0.7200000000000001
40
Mean accuracy: 0.7100000000000001
41
Mean accuracy: 0.75
42
Mean accuracy: 0.655
43
Mean accuracy: 0.755
44
Mean accuracy: 0.7749999999999999
45
Mean accuracy: 0.7200000000000001
46
Mean accuracy: 0.7550000000000001
47
Mean accuracy: 0.7449999999999999
48
Mean accuracy: 0.7449999999999999
49
Mean accuracy: 0.74
50
Mean accuracy: 0.6799999999999999
51
Mean accuracy: 0.7499999999999999
52
Mean accuracy: 0.7700000000000001
53
Mean accuracy: 0.7
54
Mean accuracy: 0.71
55
Mean accuracy: 0.8099999999999999
56
Mean accuracy: 0.745
57
Mean accuracy: 0.6900000000000001
58
Mean accuracy: 0.7649999999999999
59
Mean accuracy: 0.69
60
Mean accuracy: 0.7000000000000001
61
Mean accuracy: 0.755
62
Mean accuracy: 0.72
63
Mean accuracy: 0.6449999999999999
64
Mean accuracy: 0.725
65
Mean accuracy: 0.7449999999999999
66
Mean accuracy: 0.74
67
Mean accuracy: 0.665
68
Mean accuracy: 0.73
69
Mean accuracy: 0.7000000000000001
70
Mean accuracy: 0.7350000000000001
71
Mean accuracy: 0.7
72
Mean accuracy: 0.71
73
Mean accuracy: 0.7350000000000001
74
Mean accuracy: 0.7899999999999999
75
Mean accuracy: 0.74
76
Mean accuracy: 0.685
77
Mean accuracy: 0.73
78
Mean accuracy: 0.73
79
Mean accuracy: 0.7250000000000001
80
Mean accuracy: 0.745
81
Mean accuracy: 0.745
82
Mean accuracy: 0.705
83
Mean accuracy: 0.755
84
Mean accuracy: 0.74
85
Mean accuracy: 0.7449999999999999
86
Mean accuracy: 0.7100000000000001
87
Mean accuracy: 0.75
88
Mean accuracy: 0.76
89
Mean accuracy: 0.67
90
Mean accuracy: 0.755
91
Mean accuracy: 0.74
92
Mean accuracy: 0.74
93
Mean accuracy: 0.7299999999999999
94
Mean accuracy: 0.7500000000000001
95
Mean accuracy: 0.7249999999999999
96
Mean accuracy: 0.6849999999999999
97
Mean accuracy: 0.72
98
Mean accuracy: 0.75
99
Mean accuracy: 0.745
100
Mean accuracy: 0.67

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_DEGs_Female_100RF.csv", index = False)

0.7279499999999999

## Top 100 NMI

In [9]:
df2 = pd.read_csv('NMI_AllCounts_Female.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000270972.1
Name: Geneid, dtype: object

In [10]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(764, 101)

,DIAGNOSIS,ENSG00000270972.1,ENSG00000100079.6,ENSG00000173598.13,ENSG00000152484.13,ENSG00000265218.1,ENSG00000263142.5,ENSG00000266918.1,ENSG00000196422.10,ENSG00000255328.1,...,ENSG00000259238.1,ENSG00000101782.14,ENSG00000176014.12,ENSG00000189068.10,ENSG00000076770.14,ENSG00000204177.10,ENSG00000251916.1,ENSG00000196678.13,ENSG00000141076.17,ENSG00000102760.12
0,Control,85,969,4772,5983,32,81,37,222,159,...,21,17564,627,366,35787,369,20,370,434,1834
1,Control,30,423,4595,8744,17,80,33,183,60,...,15,22499,226,209,34380,250,7,173,307,1524

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7250000000000001
2
Mean accuracy: 0.72
3
Mean accuracy: 0.6849999999999999
4
Mean accuracy: 0.76
5
Mean accuracy: 0.75
6
Mean accuracy: 0.735
7
Mean accuracy: 0.76
8
Mean accuracy: 0.7050000000000001
9
Mean accuracy: 0.77
10
Mean accuracy: 0.6950000000000001
11
Mean accuracy: 0.6849999999999999
12
Mean accuracy: 0.74
13
Mean accuracy: 0.715
14
Mean accuracy: 0.71
15
Mean accuracy: 0.7649999999999999
16
Mean accuracy: 0.745
17
Mean accuracy: 0.725
18
Mean accuracy: 0.705
19
Mean accuracy: 0.75
20
Mean accuracy: 0.71
21
Mean accuracy: 0.715
22
Mean accuracy: 0.7550000000000001
23
Mean accuracy: 0.755
24
Mean accuracy: 0.725
25
Mean accuracy: 0.7100000000000001
26
Mean accuracy: 0.71
27
Mean accuracy: 0.7150000000000001
28
Mean accuracy: 0.775
29
Mean accuracy: 0.715
30
Mean accuracy: 0.78
31
Mean accuracy: 0.7349999999999999
32
Mean accuracy: 0.75
33
Mean accuracy: 0.73
34
Mean accuracy: 0.72
35
Mean accuracy: 0.6950000000000001
36
Mean accuracy: 0.71
37
Mean accuracy: 0.7450000000000001
38
Mean accuracy: 0.69
39
Mean accuracy: 0.705
40
Mean accuracy: 0.74
41
Mean accuracy: 0.765
42
Mean accuracy: 0.7150000000000001
43
Mean accuracy: 0.75
44
Mean accuracy: 0.755
45
Mean accuracy: 0.7350000000000001
46
Mean accuracy: 0.7550000000000001
47
Mean accuracy: 0.7549999999999999
48
Mean accuracy: 0.7649999999999999
49
Mean accuracy: 0.765
50
Mean accuracy: 0.7250000000000001
51
Mean accuracy: 0.74
52
Mean accuracy: 0.75
53
Mean accuracy: 0.675
54
Mean accuracy: 0.74
55
Mean accuracy: 0.7649999999999999
56
Mean accuracy: 0.7749999999999999
57
Mean accuracy: 0.7350000000000001
58
Mean accuracy: 0.7599999999999999
59
Mean accuracy: 0.725
60
Mean accuracy: 0.705
61
Mean accuracy: 0.7300000000000001
62
Mean accuracy: 0.74
63
Mean accuracy: 0.6899999999999998
64
Mean accuracy: 0.7249999999999999
65
Mean accuracy: 0.7449999999999999
66
Mean accuracy: 0.73
67
Mean accuracy: 0.72
68
Mean accuracy: 0.7899999999999999
69
Mean accuracy: 0.76
70
Mean accuracy: 0.75
71
Mean accuracy: 0.72
72
Mean accuracy: 0.725
73
Mean accuracy: 0.73
74
Mean accuracy: 0.7449999999999999
75
Mean accuracy: 0.7499999999999999
76
Mean accuracy: 0.74
77
Mean accuracy: 0.78
78
Mean accuracy: 0.75
79
Mean accuracy: 0.745
80
Mean accuracy: 0.7000000000000001
81
Mean accuracy: 0.7100000000000001
82
Mean accuracy: 0.73
83
Mean accuracy: 0.775
84
Mean accuracy: 0.7250000000000001
85
Mean accuracy: 0.705
86
Mean accuracy: 0.74
87
Mean accuracy: 0.73
88
Mean accuracy: 0.7550000000000001
89
Mean accuracy: 0.73
90
Mean accuracy: 0.7699999999999999
91
Mean accuracy: 0.75
92
Mean accuracy: 0.775
93
Mean accuracy: 0.6799999999999999
94
Mean accuracy: 0.76
95
Mean accuracy: 0.7200000000000001
96
Mean accuracy: 0.665
97
Mean accuracy: 0.74
98
Mean accuracy: 0.765
99
Mean accuracy: 0.72
100
Mean accuracy: 0.69

In [12]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_DEGs_Female_100RF.csv", index = False)

0.7338499999999999

## Top 250 NMI

In [13]:
df2 = pd.read_csv('NMI_AllCounts_Female.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000270972.1
Name: Geneid, dtype: object

In [14]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(764, 251)

,DIAGNOSIS,ENSG00000270972.1,ENSG00000100079.6,ENSG00000173598.13,ENSG00000152484.13,ENSG00000265218.1,ENSG00000263142.5,ENSG00000266918.1,ENSG00000196422.10,ENSG00000255328.1,...,ENSG00000064687.12,ENSG00000229391.7,ENSG00000106772.17,ENSG00000267082.1,ENSG00000257017.8,ENSG00000105501.12,ENSG00000138376.10,ENSG00000196072.11,ENSG00000164114.18,ENSG00000139289.13
0,Control,85,969,4772,5983,32,81,37,222,159,...,2249,450,42,32,112,79,767,1147,569,262
1,Control,30,423,4595,8744,17,80,33,183,60,...,2150,312,34,30,93,111,796,610,298,226

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7300000000000001
2
Mean accuracy: 0.7250000000000001
3
Mean accuracy: 0.7150000000000001
4
Mean accuracy: 0.78
5
Mean accuracy: 0.7249999999999999
6
Mean accuracy: 0.76
7
Mean accuracy: 0.7700000000000001
8
Mean accuracy: 0.69
9
Mean accuracy: 0.745
10
Mean accuracy: 0.7250000000000001
11
Mean accuracy: 0.72
12
Mean accuracy: 0.795
13
Mean accuracy: 0.705
14
Mean accuracy: 0.74
15
Mean accuracy: 0.7100000000000001
16
Mean accuracy: 0.74
17
Mean accuracy: 0.73
18
Mean accuracy: 0.75
19
Mean accuracy: 0.7150000000000001
20
Mean accuracy: 0.71
21
Mean accuracy: 0.6950000000000001
22
Mean accuracy: 0.76
23
Mean accuracy: 0.76
24
Mean accuracy: 0.735
25
Mean accuracy: 0.73
26
Mean accuracy: 0.6900000000000001
27
Mean accuracy: 0.6950000000000001
28
Mean accuracy: 0.76
29
Mean accuracy: 0.72
30
Mean accuracy: 0.725
31
Mean accuracy: 0.78
32
Mean accuracy: 0.74
33
Mean accuracy: 0.735
34
Mean accuracy: 0.7000000000000001
35
Mean accuracy: 0.72
36
Mean accuracy: 0.7000000000000001
37
Mean accuracy: 0.7100000000000001
38
Mean accuracy: 0.705
39
Mean accuracy: 0.7050000000000001
40
Mean accuracy: 0.7100000000000001
41
Mean accuracy: 0.7949999999999999
42
Mean accuracy: 0.7
43
Mean accuracy: 0.745
44
Mean accuracy: 0.7300000000000001
45
Mean accuracy: 0.725
46
Mean accuracy: 0.7400000000000001
47
Mean accuracy: 0.78
48
Mean accuracy: 0.8150000000000001
49
Mean accuracy: 0.755
50
Mean accuracy: 0.7400000000000001
51
Mean accuracy: 0.7449999999999999
52
Mean accuracy: 0.745
53
Mean accuracy: 0.7100000000000002
54
Mean accuracy: 0.7
55
Mean accuracy: 0.76
56
Mean accuracy: 0.77
57
Mean accuracy: 0.74
58
Mean accuracy: 0.74
59
Mean accuracy: 0.73
60
Mean accuracy: 0.735
61
Mean accuracy: 0.725
62
Mean accuracy: 0.705
63
Mean accuracy: 0.7
64
Mean accuracy: 0.7300000000000001
65
Mean accuracy: 0.735
66
Mean accuracy: 0.7099999999999999
67
Mean accuracy: 0.705
68
Mean accuracy: 0.775
69
Mean accuracy: 0.7500000000000001
70
Mean accuracy: 0.76
71
Mean accuracy: 0.735
72
Mean accuracy: 0.74
73
Mean accuracy: 0.7550000000000001
74
Mean accuracy: 0.76
75
Mean accuracy: 0.72
76
Mean accuracy: 0.72
77
Mean accuracy: 0.7350000000000001
78
Mean accuracy: 0.72
79
Mean accuracy: 0.735
80
Mean accuracy: 0.7100000000000001
81
Mean accuracy: 0.7550000000000001
82
Mean accuracy: 0.775
83
Mean accuracy: 0.77
84
Mean accuracy: 0.735
85
Mean accuracy: 0.76
86
Mean accuracy: 0.7150000000000001
87
Mean accuracy: 0.725
88
Mean accuracy: 0.7300000000000001
89
Mean accuracy: 0.6849999999999999
90
Mean accuracy: 0.7250000000000001
91
Mean accuracy: 0.75
92
Mean accuracy: 0.725
93
Mean accuracy: 0.705
94
Mean accuracy: 0.765
95
Mean accuracy: 0.7250000000000001
96
Mean accuracy: 0.67
97
Mean accuracy: 0.6950000000000001
98
Mean accuracy: 0.74
99
Mean accuracy: 0.71
100
Mean accuracy: 0.6950000000000001

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_DEGs_Female_100RF.csv", index = False)

0.7323499999999997

## Top 500 NMI

In [17]:
df2 = pd.read_csv('NMI_AllCounts_Female.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000270972.1
Name: Geneid, dtype: object

In [18]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

(764, 501)

,DIAGNOSIS,ENSG00000270972.1,ENSG00000100079.6,ENSG00000173598.13,ENSG00000152484.13,ENSG00000265218.1,ENSG00000263142.5,ENSG00000266918.1,ENSG00000196422.10,ENSG00000255328.1,...,ENSG00000249633.1,ENSG00000075131.9,ENSG00000170540.14,ENSG00000244607.6,ENSG00000196684.12,ENSG00000275377.1,ENSG00000156395.12,ENSG00000204936.9,ENSG00000049247.13,ENSG00000123358.19
0,Control,85,969,4772,5983,32,81,37,222,159,...,11,121,6407,39,1667,82,235,157,31,37
1,Control,30,423,4595,8744,17,80,33,183,60,...,7,131,5580,21,1366,27,87,11,46,47

In [19]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.715
2
Mean accuracy: 0.695
3
Mean accuracy: 0.6849999999999998
4
Mean accuracy: 0.75
5
Mean accuracy: 0.73
6
Mean accuracy: 0.7449999999999999
7
Mean accuracy: 0.715
8
Mean accuracy: 0.715
9
Mean accuracy: 0.755
10
Mean accuracy: 0.71
11
Mean accuracy: 0.6950000000000001
12
Mean accuracy: 0.72
13
Mean accuracy: 0.6799999999999999
14
Mean accuracy: 0.7150000000000001
15
Mean accuracy: 0.725
16
Mean accuracy: 0.755
17
Mean accuracy: 0.7599999999999999
18
Mean accuracy: 0.6950000000000001
19
Mean accuracy: 0.73
20
Mean accuracy: 0.68
21
Mean accuracy: 0.72
22
Mean accuracy: 0.7099999999999999
23
Mean accuracy: 0.7599999999999999
24
Mean accuracy: 0.7150000000000001
25
Mean accuracy: 0.7
26
Mean accuracy: 0.725
27
Mean accuracy: 0.7
28
Mean accuracy: 0.735
29
Mean accuracy: 0.71
30
Mean accuracy: 0.725
31
Mean accuracy: 0.765
32
Mean accuracy: 0.705
33
Mean accuracy: 0.6699999999999999
34
Mean accuracy: 0.725
35
Mean accuracy: 0.715
36
Mean accuracy: 0.6449999999999999
37
Mean accuracy: 0.7200000000000001
38
Mean accuracy: 0.695
39
Mean accuracy: 0.7150000000000001
40
Mean accuracy: 0.72
41
Mean accuracy: 0.7150000000000001
42
Mean accuracy: 0.6699999999999999
43
Mean accuracy: 0.735
44
Mean accuracy: 0.7549999999999999
45
Mean accuracy: 0.6799999999999999
46
Mean accuracy: 0.7150000000000001
47
Mean accuracy: 0.74
48
Mean accuracy: 0.76
49
Mean accuracy: 0.735
50
Mean accuracy: 0.6950000000000001
51
Mean accuracy: 0.725
52
Mean accuracy: 0.7150000000000001
53
Mean accuracy: 0.6950000000000001
54
Mean accuracy: 0.705
55
Mean accuracy: 0.7649999999999999
56
Mean accuracy: 0.76
57
Mean accuracy: 0.74
58
Mean accuracy: 0.7300000000000001
59
Mean accuracy: 0.765
60
Mean accuracy: 0.7150000000000001
61
Mean accuracy: 0.6900000000000001
62
Mean accuracy: 0.69
63
Mean accuracy: 0.7
64
Mean accuracy: 0.725
65
Mean accuracy: 0.7450000000000001
66
Mean accuracy: 0.7300000000000001
67
Mean accuracy: 0.665
68
Mean accuracy: 0.755
69
Mean accuracy: 0.74
70
Mean accuracy: 0.725
71
Mean accuracy: 0.725
72
Mean accuracy: 0.68
73
Mean accuracy: 0.7150000000000001
74
Mean accuracy: 0.725
75
Mean accuracy: 0.73
76
Mean accuracy: 0.7350000000000001
77
Mean accuracy: 0.715
78
Mean accuracy: 0.715
79
Mean accuracy: 0.73
80
Mean accuracy: 0.6950000000000001
81
Mean accuracy: 0.725
82
Mean accuracy: 0.71
83
Mean accuracy: 0.7300000000000001
84
Mean accuracy: 0.735
85
Mean accuracy: 0.755
86
Mean accuracy: 0.675
87
Mean accuracy: 0.71
88
Mean accuracy: 0.7100000000000001
89
Mean accuracy: 0.715
90
Mean accuracy: 0.6950000000000001
91
Mean accuracy: 0.76
92
Mean accuracy: 0.6799999999999999
93
Mean accuracy: 0.6700000000000002
94
Mean accuracy: 0.7649999999999999
95
Mean accuracy: 0.7
96
Mean accuracy: 0.6950000000000001
97
Mean accuracy: 0.7100000000000001
98
Mean accuracy: 0.74
99
Mean accuracy: 0.74
100
Mean accuracy: 0.6950000000000001

In [20]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_DEGs_Female_100RF.csv", index = False)

0.7180500000000001