# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
df = pd.read_csv('HYS1vs2_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
(729, 51)

,ENSG00000186891.13,ENSG00000173372.16,ENSG00000168765.16,ENSG00000125551.18,ENSG00000229754.1,ENSG00000124019.9,ENSG00000206561.12,ENSG00000179934.6,ENSG00000012223.12,ENSG00000163661.3,...,ENSG00000211966.2,ENSG00000211970.3,ENSG00000062524.15,ENSG00000103148.15,ENSG00000278987.1,ENSG00000267265.5,ENSG00000160307.9,ENSG00000278196.3,ENSG00000100336.17,HYS
0,138,246,404,150,808,133,406,98,708,66,...,138,14,242,3378,177,149,49,248,61,2
1,218,165,309,118,169,127,322,89,258,59,...,54,11,179,1456,100,107,41,15,62,2

In [3]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(100))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6649999999999999
2
Mean accuracy: 0.685
3
Mean accuracy: 0.685
4
Mean accuracy: 0.6300000000000001
5
Mean accuracy: 0.62
6
Mean accuracy: 0.655
7
Mean accuracy: 0.545
8
Mean accuracy: 0.66
9
Mean accuracy: 0.61
10
Mean accuracy: 0.645
11
Mean accuracy: 0.625
12
Mean accuracy: 0.485
13
Mean accuracy: 0.62
14
Mean accuracy: 0.6699999999999999
15
Mean accuracy: 0.605
16
Mean accuracy: 0.66
17
Mean accuracy: 0.66
18
Mean accuracy: 0.6950000000000001
19
Mean accuracy: 0.615
20
Mean accuracy: 0.63
21
Mean accuracy: 0.635
22
Mean accuracy: 0.625
23
Mean accuracy: 0.6099999999999999
24
Mean accuracy: 0.6699999999999999
25
Mean accuracy: 0.6599999999999999
26
Mean accuracy: 0.62
27
Mean accuracy: 0.6
28
Mean accuracy: 0.7000000000000001
29
Mean accuracy: 0.6599999999999999
30
Mean accuracy: 0.6
31
Mean accuracy: 0.6049999999999999
32
Mean accuracy: 0.61
33
Mean accuracy: 0.6900000000000002
34
Mean accuracy: 0.5900000000000001
35
Mean accuracy: 0.6799999999999999
36
Mean accuracy: 0.585
37
Mean accuracy: 0.57
38
Mean accuracy: 0.64
39
Mean accuracy: 0.6849999999999999
40
Mean accuracy: 0.6950000000000001
41
Mean accuracy: 0.63
42
Mean accuracy: 0.63
43
Mean accuracy: 0.7
44
Mean accuracy: 0.63
45
Mean accuracy: 0.65
46
Mean accuracy: 0.6799999999999999
47
Mean accuracy: 0.6
48
Mean accuracy: 0.6500000000000001
49
Mean accuracy: 0.7
50
Mean accuracy: 0.6649999999999999
51
Mean accuracy: 0.5850000000000001
52
Mean accuracy: 0.65
53
Mean accuracy: 0.645
54
Mean accuracy: 0.6399999999999999
55
Mean accuracy: 0.6349999999999999
56
Mean accuracy: 0.63
57
Mean accuracy: 0.6100000000000001
58
Mean accuracy: 0.67
59
Mean accuracy: 0.6300000000000001
60
Mean accuracy: 0.645
61
Mean accuracy: 0.6950000000000001
62
Mean accuracy: 0.615
63
Mean accuracy: 0.63
64
Mean accuracy: 0.635
65
Mean accuracy: 0.665
66
Mean accuracy: 0.72
67
Mean accuracy: 0.605
68
Mean accuracy: 0.655
69
Mean accuracy: 0.625
70
Mean accuracy: 0.68
71
Mean accuracy: 0.58
72
Mean accuracy: 0.65
73
Mean accuracy: 0.565
74
Mean accuracy: 0.61
75
Mean accuracy: 0.645
76
Mean accuracy: 0.645
77
Mean accuracy: 0.695
78
Mean accuracy: 0.6849999999999999
79
Mean accuracy: 0.625
80
Mean accuracy: 0.665
81
Mean accuracy: 0.655
82
Mean accuracy: 0.655
83
Mean accuracy: 0.65
84
Mean accuracy: 0.6799999999999999
85
Mean accuracy: 0.72
86
Mean accuracy: 0.6500000000000001
87
Mean accuracy: 0.615
88
Mean accuracy: 0.625
89
Mean accuracy: 0.6399999999999999
90
Mean accuracy: 0.695
91
Mean accuracy: 0.68
92
Mean accuracy: 0.5900000000000001
93
Mean accuracy: 0.62
94
Mean accuracy: 0.67
95
Mean accuracy: 0.735
96
Mean accuracy: 0.665
97
Mean accuracy: 0.66
98
Mean accuracy: 0.67
99
Mean accuracy: 0.61
100
Mean accuracy: 0.6300000000000001

In [4]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_HYS1vs2_Male_100RF.csv", index = False)

0.64275

## Top 100 Boruta

In [5]:
df = pd.read_csv('HYS1vs2_Boruta_Top100_Data_Male.csv')
print(df.shape)
df.head(2)

(729, 101)

,ENSG00000186891.13,ENSG00000173372.16,ENSG00000122420.9,ENSG00000168765.16,ENSG00000125551.18,ENSG00000144290.16,ENSG00000115457.9,ENSG00000229754.1,ENSG00000124019.9,ENSG00000206561.12,...,ENSG00000211638.2,ENSG00000278196.3,ENSG00000211673.2,ENSG00000218537.1,ENSG00000273295.1,ENSG00000100336.17,ENSG00000275975.1,ENSG00000182489.8,ENSG00000260585.1,HYS
0,138,246,44,404,150,447,39,808,133,406,...,183,248,280,83,505,61,25,83,5,2
1,218,165,6,309,118,157,11,169,127,322,...,13,15,21,85,320,62,15,120,6,2

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(100))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6699999999999999
2
Mean accuracy: 0.71
3
Mean accuracy: 0.63
4
Mean accuracy: 0.615
5
Mean accuracy: 0.58
6
Mean accuracy: 0.625
7
Mean accuracy: 0.56
8
Mean accuracy: 0.595
9
Mean accuracy: 0.6
10
Mean accuracy: 0.6449999999999999
11
Mean accuracy: 0.6100000000000001
12
Mean accuracy: 0.52
13
Mean accuracy: 0.595
14
Mean accuracy: 0.635
15
Mean accuracy: 0.6500000000000001
16
Mean accuracy: 0.6749999999999999
17
Mean accuracy: 0.675
18
Mean accuracy: 0.6649999999999999
19
Mean accuracy: 0.62
20
Mean accuracy: 0.6599999999999999
21
Mean accuracy: 0.605
22
Mean accuracy: 0.615
23
Mean accuracy: 0.6799999999999999
24
Mean accuracy: 0.63
25
Mean accuracy: 0.615
26
Mean accuracy: 0.625
27
Mean accuracy: 0.5850000000000001
28
Mean accuracy: 0.7000000000000001
29
Mean accuracy: 0.655
30
Mean accuracy: 0.625
31
Mean accuracy: 0.5700000000000001
32
Mean accuracy: 0.6199999999999999
33
Mean accuracy: 0.65
34
Mean accuracy: 0.5499999999999999
35
Mean accuracy: 0.6500000000000001
36
Mean accuracy: 0.645
37
Mean accuracy: 0.595
38
Mean accuracy: 0.675
39
Mean accuracy: 0.655
40
Mean accuracy: 0.625
41
Mean accuracy: 0.595
42
Mean accuracy: 0.635
43
Mean accuracy: 0.685
44
Mean accuracy: 0.645
45
Mean accuracy: 0.6399999999999999
46
Mean accuracy: 0.705
47
Mean accuracy: 0.615
48
Mean accuracy: 0.6950000000000001
49
Mean accuracy: 0.675
50
Mean accuracy: 0.705
51
Mean accuracy: 0.525
52
Mean accuracy: 0.67
53
Mean accuracy: 0.65
54
Mean accuracy: 0.64
55
Mean accuracy: 0.6100000000000001
56
Mean accuracy: 0.6699999999999999
57
Mean accuracy: 0.615
58
Mean accuracy: 0.645
59
Mean accuracy: 0.645
60
Mean accuracy: 0.6599999999999999
61
Mean accuracy: 0.6249999999999999
62
Mean accuracy: 0.615
63
Mean accuracy: 0.6050000000000001
64
Mean accuracy: 0.6050000000000001
65
Mean accuracy: 0.6950000000000001
66
Mean accuracy: 0.6950000000000001
67
Mean accuracy: 0.615
68
Mean accuracy: 0.6649999999999999
69
Mean accuracy: 0.635
70
Mean accuracy: 0.675
71
Mean accuracy: 0.6
72
Mean accuracy: 0.64
73
Mean accuracy: 0.605
74
Mean accuracy: 0.6050000000000001
75
Mean accuracy: 0.565
76
Mean accuracy: 0.655
77
Mean accuracy: 0.635
78
Mean accuracy: 0.675
79
Mean accuracy: 0.6100000000000001
80
Mean accuracy: 0.635
81
Mean accuracy: 0.64
82
Mean accuracy: 0.6199999999999999
83
Mean accuracy: 0.645
84
Mean accuracy: 0.65
85
Mean accuracy: 0.6849999999999999
86
Mean accuracy: 0.645
87
Mean accuracy: 0.605
88
Mean accuracy: 0.6399999999999999
89
Mean accuracy: 0.62
90
Mean accuracy: 0.675
91
Mean accuracy: 0.6450000000000001
92
Mean accuracy: 0.5850000000000001
93
Mean accuracy: 0.61
94
Mean accuracy: 0.6600000000000001
95
Mean accuracy: 0.6599999999999999
96
Mean accuracy: 0.665
97
Mean accuracy: 0.6900000000000002
98
Mean accuracy: 0.6
99
Mean accuracy: 0.62
100
Mean accuracy: 0.64

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_HYS1vs2_Male_100RF.csv", index = False)

0.6348499999999998

## Top 250 Boruta

In [8]:
df = pd.read_csv('HYS1vs2_Boruta_Top250_Data_Male.csv')
print(df.shape)
df.head(2)

(729, 251)

,ENSG00000186891.13,ENSG00000049247.13,ENSG00000132879.13,ENSG00000285646.1,ENSG00000173372.16,ENSG00000213172.3,ENSG00000117399.13,ENSG00000122420.9,ENSG00000238015.2,ENSG00000137941.16,...,ENSG00000133477.16,ENSG00000216866.5,ENSG00000275975.1,ENSG00000186310.9,ENSG00000182489.8,ENSG00000260585.1,ENSG00000129682.15,ENSG00000155966.13,ENSG00000185010.14,HYS
0,138,37,504,6,246,77,82,44,31,93,...,84,61,25,86,83,5,27,318,215,2
1,218,46,206,3,165,39,6,6,26,133,...,87,52,15,65,120,6,37,289,135,2

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(100))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.655
2
Mean accuracy: 0.6700000000000002
3
Mean accuracy: 0.6
4
Mean accuracy: 0.6649999999999999
5
Mean accuracy: 0.595
6
Mean accuracy: 0.61
7
Mean accuracy: 0.5200000000000001
8
Mean accuracy: 0.635
9
Mean accuracy: 0.605
10
Mean accuracy: 0.65
11
Mean accuracy: 0.6000000000000001
12
Mean accuracy: 0.54
13
Mean accuracy: 0.6450000000000001
14
Mean accuracy: 0.635
15
Mean accuracy: 0.605
16
Mean accuracy: 0.6900000000000001
17
Mean accuracy: 0.64
18
Mean accuracy: 0.6399999999999999
19
Mean accuracy: 0.6300000000000001
20
Mean accuracy: 0.635
21
Mean accuracy: 0.625
22
Mean accuracy: 0.64
23
Mean accuracy: 0.6249999999999999
24
Mean accuracy: 0.68
25
Mean accuracy: 0.615
26
Mean accuracy: 0.655
27
Mean accuracy: 0.6399999999999999
28
Mean accuracy: 0.685
29
Mean accuracy: 0.64
30
Mean accuracy: 0.6000000000000001
31
Mean accuracy: 0.615
32
Mean accuracy: 0.65
33
Mean accuracy: 0.6400000000000001
34
Mean accuracy: 0.5549999999999999
35
Mean accuracy: 0.64
36
Mean accuracy: 0.595
37
Mean accuracy: 0.61
38
Mean accuracy: 0.635
39
Mean accuracy: 0.6699999999999999
40
Mean accuracy: 0.655
41
Mean accuracy: 0.635
42
Mean accuracy: 0.6399999999999999
43
Mean accuracy: 0.675
44
Mean accuracy: 0.655
45
Mean accuracy: 0.6200000000000001
46
Mean accuracy: 0.655
47
Mean accuracy: 0.6100000000000001
48
Mean accuracy: 0.6799999999999999
49
Mean accuracy: 0.725
50
Mean accuracy: 0.665
51
Mean accuracy: 0.595
52
Mean accuracy: 0.7000000000000001
53
Mean accuracy: 0.635
54
Mean accuracy: 0.635
55
Mean accuracy: 0.5700000000000001
56
Mean accuracy: 0.5900000000000001
57
Mean accuracy: 0.6050000000000001
58
Mean accuracy: 0.6950000000000001
59
Mean accuracy: 0.6
60
Mean accuracy: 0.645
61
Mean accuracy: 0.645
62
Mean accuracy: 0.62
63
Mean accuracy: 0.635
64
Mean accuracy: 0.615
65
Mean accuracy: 0.635
66
Mean accuracy: 0.7500000000000001
67
Mean accuracy: 0.64
68
Mean accuracy: 0.645
69
Mean accuracy: 0.63
70
Mean accuracy: 0.665
71
Mean accuracy: 0.635
72
Mean accuracy: 0.5850000000000001
73
Mean accuracy: 0.5700000000000001
74
Mean accuracy: 0.595
75
Mean accuracy: 0.5650000000000002
76
Mean accuracy: 0.6599999999999999
77
Mean accuracy: 0.6849999999999999
78
Mean accuracy: 0.6799999999999999
79
Mean accuracy: 0.62
80
Mean accuracy: 0.645
81
Mean accuracy: 0.655
82
Mean accuracy: 0.635
83
Mean accuracy: 0.6100000000000001
84
Mean accuracy: 0.6699999999999999
85
Mean accuracy: 0.6649999999999999
86
Mean accuracy: 0.615
87
Mean accuracy: 0.625
88
Mean accuracy: 0.655
89
Mean accuracy: 0.65
90
Mean accuracy: 0.7100000000000001
91
Mean accuracy: 0.7
92
Mean accuracy: 0.585
93
Mean accuracy: 0.615
94
Mean accuracy: 0.625
95
Mean accuracy: 0.6600000000000001
96
Mean accuracy: 0.6500000000000001
97
Mean accuracy: 0.635
98
Mean accuracy: 0.58
99
Mean accuracy: 0.61
100
Mean accuracy: 0.6449999999999999

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_HYS1vs2_Male_100RF.csv", index = False)

0.6348000000000003

## Top 500 Boruta

In [11]:
df = pd.read_csv('HYS1vs2_Boruta_Top500_Data_Male.csv')
print(df.shape)
df.head(2)

(729, 501)

,ENSG00000278267.1,ENSG00000186891.13,ENSG00000235169.8,ENSG00000049247.13,ENSG00000132879.13,ENSG00000175206.10,ENSG00000285646.1,ENSG00000187942.11,ENSG00000173372.16,ENSG00000284602.1,...,ENSG00000186310.9,ENSG00000182489.8,ENSG00000250995.1,ENSG00000260585.1,ENSG00000221930.6,ENSG00000129682.15,ENSG00000155966.13,ENSG00000198883.11,ENSG00000185010.14,HYS
0,15,138,206,37,504,0,6,3,246,396,...,86,83,156,5,19,27,318,22,215,2
1,8,218,66,46,206,3,3,19,165,263,...,65,120,138,6,48,37,289,10,135,2

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(100))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.645
2
Mean accuracy: 0.67
3
Mean accuracy: 0.6749999999999999
4
Mean accuracy: 0.6249999999999999
5
Mean accuracy: 0.635
6
Mean accuracy: 0.62
7
Mean accuracy: 0.5900000000000001
8
Mean accuracy: 0.595
9
Mean accuracy: 0.68
10
Mean accuracy: 0.595
11
Mean accuracy: 0.63
12
Mean accuracy: 0.5599999999999999
13
Mean accuracy: 0.63
14
Mean accuracy: 0.6950000000000001
15
Mean accuracy: 0.6449999999999999
16
Mean accuracy: 0.685
17
Mean accuracy: 0.675
18
Mean accuracy: 0.7
19
Mean accuracy: 0.675
20
Mean accuracy: 0.655
21
Mean accuracy: 0.6699999999999999
22
Mean accuracy: 0.61
23
Mean accuracy: 0.6449999999999999
24
Mean accuracy: 0.6649999999999999
25
Mean accuracy: 0.625
26
Mean accuracy: 0.58
27
Mean accuracy: 0.63
28
Mean accuracy: 0.6449999999999999
29
Mean accuracy: 0.635
30
Mean accuracy: 0.6100000000000001
31
Mean accuracy: 0.5549999999999999
32
Mean accuracy: 0.6250000000000001
33
Mean accuracy: 0.655
34
Mean accuracy: 0.5900000000000001
35
Mean accuracy: 0.6799999999999999
36
Mean accuracy: 0.6599999999999999
37
Mean accuracy: 0.6
38
Mean accuracy: 0.6100000000000001
39
Mean accuracy: 0.6449999999999999
40
Mean accuracy: 0.6449999999999999
41
Mean accuracy: 0.5999999999999999
42
Mean accuracy: 0.655
43
Mean accuracy: 0.6799999999999999
44
Mean accuracy: 0.6
45
Mean accuracy: 0.5900000000000001
46
Mean accuracy: 0.705
47
Mean accuracy: 0.6100000000000001
48
Mean accuracy: 0.6499999999999999
49
Mean accuracy: 0.7349999999999999
50
Mean accuracy: 0.6400000000000001
51
Mean accuracy: 0.625
52
Mean accuracy: 0.675
53
Mean accuracy: 0.625
54
Mean accuracy: 0.6399999999999999
55
Mean accuracy: 0.56
56
Mean accuracy: 0.64
57
Mean accuracy: 0.61
58
Mean accuracy: 0.6249999999999999
59
Mean accuracy: 0.6300000000000001
60
Mean accuracy: 0.64
61
Mean accuracy: 0.625
62
Mean accuracy: 0.6
63
Mean accuracy: 0.63
64
Mean accuracy: 0.62
65
Mean accuracy: 0.65
66
Mean accuracy: 0.615
67
Mean accuracy: 0.6449999999999999
68
Mean accuracy: 0.665
69
Mean accuracy: 0.6499999999999999
70
Mean accuracy: 0.68
71
Mean accuracy: 0.635
72
Mean accuracy: 0.6649999999999999
73
Mean accuracy: 0.58
74
Mean accuracy: 0.595
75
Mean accuracy: 0.57
76
Mean accuracy: 0.7
77
Mean accuracy: 0.67
78
Mean accuracy: 0.6699999999999999
79
Mean accuracy: 0.645
80
Mean accuracy: 0.645
81
Mean accuracy: 0.66
82
Mean accuracy: 0.66
83
Mean accuracy: 0.64
84
Mean accuracy: 0.6649999999999999
85
Mean accuracy: 0.6699999999999999
86
Mean accuracy: 0.655
87
Mean accuracy: 0.5700000000000001
88
Mean accuracy: 0.5850000000000001
89
Mean accuracy: 0.655
90
Mean accuracy: 0.625
91
Mean accuracy: 0.7200000000000001
92
Mean accuracy: 0.6449999999999999
93
Mean accuracy: 0.65
94
Mean accuracy: 0.64
95
Mean accuracy: 0.6849999999999999
96
Mean accuracy: 0.635
97
Mean accuracy: 0.69
98
Mean accuracy: 0.6100000000000001
99
Mean accuracy: 0.615
100
Mean accuracy: 0.665

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_HYS1vs2_Male_100RF.csv", index = False)

0.6389