# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
df = pd.read_csv('Apathy_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
(458, 3572)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,MDS_Apathy_Category,cg19958696,cg05962325,...,cg19795267,cg16922840,cg19628277,cg26480988,cg01673347,cg12994818,cg09008531,cg16463148,cg04021430,cg04863888
0,200973410159_R03C01,3000,2,2,0,69.1,4,0,0.010314,0.057597,...,0.751058,0.901978,0.580283,0.548182,0.725312,0.092118,0.723395,0.129795,0.017529,0.026699
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.014601,0.068728,...,0.630319,0.851560,0.521620,0.495925,0.830013,0.076462,0.728590,0.246918,0.039718,0.024071
2,200991620021_R03C01,3002,2,1,2,67.6,4,0,0.014465,0.043749,...,0.756439,0.861054,0.530380,0.500924,0.792804,0.074791,0.660346,0.263525,0.029293,0.021847

In [4]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Age','MDS_Apathy_Category','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg19958696,cg05962325,cg15093662,cg04873221,cg05903298,cg19020436,cg14994056,cg05973813,cg18337422,...,cg19795267,cg16922840,cg19628277,cg26480988,cg01673347,cg12994818,cg09008531,cg16463148,cg04021430,cg04863888
0,2,0.010314,0.057597,0.020549,0.015659,0.011741,0.014318,0.035177,0.014771,0.013507,...,0.751058,0.901978,0.580283,0.548182,0.725312,0.092118,0.723395,0.129795,0.017529,0.026699
1,1,0.014601,0.068728,0.019329,0.021747,0.012923,0.017399,0.033939,0.020282,0.017160,...,0.630319,0.851560,0.521620,0.495925,0.830013,0.076462,0.728590,0.246918,0.039718,0.024071

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.5399999999999999
3
Mean accuracy: 0.45999999999999996
4
Mean accuracy: 0.53
5
Mean accuracy: 0.42000000000000004
6
Mean accuracy: 0.51
7
Mean accuracy: 0.48999999999999994
8
Mean accuracy: 0.57
9
Mean accuracy: 0.51
10
Mean accuracy: 0.56
11
Mean accuracy: 0.5700000000000001
12
Mean accuracy: 0.56
13
Mean accuracy: 0.43000000000000005
14
Mean accuracy: 0.5700000000000001
15
Mean accuracy: 0.52
16
Mean accuracy: 0.4600000000000001
17
Mean accuracy: 0.41
18
Mean accuracy: 0.48999999999999994
19
Mean accuracy: 0.55
20
Mean accuracy: 0.47000000000000003
21
Mean accuracy: 0.5700000000000001
22
Mean accuracy: 0.5200000000000001
23
Mean accuracy: 0.53
24
Mean accuracy: 0.6300000000000001
25
Mean accuracy: 0.53
26
Mean accuracy: 0.45
27
Mean accuracy: 0.41999999999999993
28
Mean accuracy: 0.52
29
Mean accuracy: 0.45999999999999996
30
Mean accuracy: 0.6099999999999999
31
Mean accuracy: 0.4600000000000001
32
Mean accuracy: 0.54
33
Mean accuracy: 0.47000000000000003
34
Mean accuracy: 0.53
35
Mean accuracy: 0.5
36
Mean accuracy: 0.51
37
Mean accuracy: 0.6
38
Mean accuracy: 0.48
39
Mean accuracy: 0.5599999999999999
40
Mean accuracy: 0.58
41
Mean accuracy: 0.43
42
Mean accuracy: 0.42000000000000004
43
Mean accuracy: 0.59
44
Mean accuracy: 0.5
45
Mean accuracy: 0.55
46
Mean accuracy: 0.59
47
Mean accuracy: 0.54
48
Mean accuracy: 0.51
49
Mean accuracy: 0.49000000000000005
50
Mean accuracy: 0.6
51
Mean accuracy: 0.41
52
Mean accuracy: 0.47000000000000003
53
Mean accuracy: 0.53
54
Mean accuracy: 0.36
55
Mean accuracy: 0.51
56
Mean accuracy: 0.4800000000000001
57
Mean accuracy: 0.43
58
Mean accuracy: 0.4800000000000001
59
Mean accuracy: 0.49000000000000005
60
Mean accuracy: 0.55
61
Mean accuracy: 0.53
62
Mean accuracy: 0.55
63
Mean accuracy: 0.43000000000000005
64
Mean accuracy: 0.48999999999999994
65
Mean accuracy: 0.53
66
Mean accuracy: 0.39999999999999997
67
Mean accuracy: 0.51
68
Mean accuracy: 0.51
69
Mean accuracy: 0.5599999999999999
70
Mean accuracy: 0.5
71
Mean accuracy: 0.54
72
Mean accuracy: 0.44000000000000006
73
Mean accuracy: 0.45999999999999996
74
Mean accuracy: 0.5
75
Mean accuracy: 0.49000000000000005
76
Mean accuracy: 0.55
77
Mean accuracy: 0.5
78
Mean accuracy: 0.51
79
Mean accuracy: 0.55
80
Mean accuracy: 0.5
81
Mean accuracy: 0.5
82
Mean accuracy: 0.5199999999999999
83
Mean accuracy: 0.58
84
Mean accuracy: 0.41
85
Mean accuracy: 0.5
86
Mean accuracy: 0.57
87
Mean accuracy: 0.44000000000000006
88
Mean accuracy: 0.5900000000000001
89
Mean accuracy: 0.47000000000000003
90
Mean accuracy: 0.5
91
Mean accuracy: 0.49000000000000005
92
Mean accuracy: 0.5
93
Mean accuracy: 0.5700000000000001
94
Mean accuracy: 0.5
95
Mean accuracy: 0.54
96
Mean accuracy: 0.5599999999999998
97
Mean accuracy: 0.5599999999999999
98
Mean accuracy: 0.51
99
Mean accuracy: 0.51
100
Mean accuracy: 0.43999999999999995

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_AllCpG_100RF.csv", index = False)

0.5077999999999999

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(80))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48
2
Mean accuracy: 0.45
3
Mean accuracy: 0.49000000000000005
4
Mean accuracy: 0.44000000000000006
5
Mean accuracy: 0.5199999999999999
6
Mean accuracy: 0.51
7
Mean accuracy: 0.4999999999999999
8
Mean accuracy: 0.63
9
Mean accuracy: 0.45
10
Mean accuracy: 0.49000000000000005
11
Mean accuracy: 0.38
12
Mean accuracy: 0.51
13
Mean accuracy: 0.41
14
Mean accuracy: 0.43000000000000005
15
Mean accuracy: 0.4600000000000001
16
Mean accuracy: 0.39
17
Mean accuracy: 0.48999999999999994
18
Mean accuracy: 0.5399999999999999
19
Mean accuracy: 0.62
20
Mean accuracy: 0.44000000000000006
21
Mean accuracy: 0.5700000000000001
22
Mean accuracy: 0.5
23
Mean accuracy: 0.51
24
Mean accuracy: 0.47000000000000003
25
Mean accuracy: 0.48
26
Mean accuracy: 0.41
27
Mean accuracy: 0.5599999999999999
28
Mean accuracy: 0.5900000000000001
29
Mean accuracy: 0.53
30
Mean accuracy: 0.5399999999999999
31
Mean accuracy: 0.5700000000000001
32
Mean accuracy: 0.39
33
Mean accuracy: 0.4600000000000001
34
Mean accuracy: 0.48999999999999994
35
Mean accuracy: 0.4699999999999999
36
Mean accuracy: 0.51
37
Mean accuracy: 0.35
38
Mean accuracy: 0.5700000000000001
39
Mean accuracy: 0.47000000000000003
40
Mean accuracy: 0.6300000000000001
41
Mean accuracy: 0.45999999999999996
42
Mean accuracy: 0.37
43
Mean accuracy: 0.53
44
Mean accuracy: 0.39
45
Mean accuracy: 0.65
46
Mean accuracy: 0.45
47
Mean accuracy: 0.45
48
Mean accuracy: 0.45999999999999996
49
Mean accuracy: 0.48
50
Mean accuracy: 0.4699999999999999
51
Mean accuracy: 0.49000000000000005
52
Mean accuracy: 0.4499999999999999
53
Mean accuracy: 0.48
54
Mean accuracy: 0.4999999999999999
55
Mean accuracy: 0.54
56
Mean accuracy: 0.5199999999999999
57
Mean accuracy: 0.51
58
Mean accuracy: 0.47000000000000003
59
Mean accuracy: 0.51
60
Mean accuracy: 0.55
61
Mean accuracy: 0.48
62
Mean accuracy: 0.45999999999999996
63
Mean accuracy: 0.4600000000000001
64
Mean accuracy: 0.5
65
Mean accuracy: 0.5599999999999999
66
Mean accuracy: 0.4800000000000001
67
Mean accuracy: 0.45
68
Mean accuracy: 0.58
69
Mean accuracy: 0.45
70
Mean accuracy: 0.5
71
Mean accuracy: 0.48
72
Mean accuracy: 0.54
73
Mean accuracy: 0.49000000000000005
74
Mean accuracy: 0.43999999999999995
75
Mean accuracy: 0.55
76
Mean accuracy: 0.45
77
Mean accuracy: 0.47000000000000003
78
Mean accuracy: 0.53
79
Mean accuracy: 0.5700000000000001
80
Mean accuracy: 0.47000000000000003
81
Mean accuracy: 0.53
82
Mean accuracy: 0.44000000000000006
83
Mean accuracy: 0.43
84
Mean accuracy: 0.5
85
Mean accuracy: 0.53
86
Mean accuracy: 0.5
87
Mean accuracy: 0.48
88
Mean accuracy: 0.53
89
Mean accuracy: 0.42000000000000004
90
Mean accuracy: 0.45
91
Mean accuracy: 0.39
92
Mean accuracy: 0.49000000000000005
93
Mean accuracy: 0.53
94
Mean accuracy: 0.5800000000000001
95
Mean accuracy: 0.45000000000000007
96
Mean accuracy: 0.51
97
Mean accuracy: 0.5499999999999999
98
Mean accuracy: 0.5700000000000001
99
Mean accuracy: 0.47000000000000003
100
Mean accuracy: 0.6100000000000001

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Rand80CpG_100RF.csv", index = False)

0.493

## RanFor 100 times. Samples = 93

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(93, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(80))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.39
2
Mean accuracy: 0.4600000000000001
3
Mean accuracy: 0.6199999999999999
4
Mean accuracy: 0.45999999999999996
5
Mean accuracy: 0.52
6
Mean accuracy: 0.51
7
Mean accuracy: 0.53
8
Mean accuracy: 0.5900000000000001
9
Mean accuracy: 0.48
10
Mean accuracy: 0.5
11
Mean accuracy: 0.43
12
Mean accuracy: 0.47000000000000003
13
Mean accuracy: 0.5
14
Mean accuracy: 0.48999999999999994
15
Mean accuracy: 0.45
16
Mean accuracy: 0.41
17
Mean accuracy: 0.52
18
Mean accuracy: 0.4600000000000001
19
Mean accuracy: 0.48999999999999994
20
Mean accuracy: 0.47000000000000003
21
Mean accuracy: 0.59
22
Mean accuracy: 0.4600000000000001
23
Mean accuracy: 0.5599999999999999
24
Mean accuracy: 0.44000000000000006
25
Mean accuracy: 0.4699999999999999
26
Mean accuracy: 0.38999999999999996
27
Mean accuracy: 0.57
28
Mean accuracy: 0.6100000000000001
29
Mean accuracy: 0.44000000000000006
30
Mean accuracy: 0.49000000000000005
31
Mean accuracy: 0.5599999999999999
32
Mean accuracy: 0.48
33
Mean accuracy: 0.4600000000000001
34
Mean accuracy: 0.44000000000000006
35
Mean accuracy: 0.39
36
Mean accuracy: 0.54
37
Mean accuracy: 0.4999999999999999
38
Mean accuracy: 0.45
39
Mean accuracy: 0.51
40
Mean accuracy: 0.5599999999999999
41
Mean accuracy: 0.47000000000000003
42
Mean accuracy: 0.45999999999999996
43
Mean accuracy: 0.48999999999999994
44
Mean accuracy: 0.42000000000000004
45
Mean accuracy: 0.6
46
Mean accuracy: 0.48999999999999994
47
Mean accuracy: 0.48
48
Mean accuracy: 0.48999999999999994
49
Mean accuracy: 0.56
50
Mean accuracy: 0.5199999999999999
51
Mean accuracy: 0.58
52
Mean accuracy: 0.5700000000000001
53
Mean accuracy: 0.49000000000000005
54
Mean accuracy: 0.51
55
Mean accuracy: 0.6
56
Mean accuracy: 0.45999999999999996
57
Mean accuracy: 0.52
58
Mean accuracy: 0.4
59
Mean accuracy: 0.5599999999999999
60
Mean accuracy: 0.5599999999999999
61
Mean accuracy: 0.5199999999999999
62
Mean accuracy: 0.44000000000000006
63
Mean accuracy: 0.45999999999999996
64
Mean accuracy: 0.5700000000000001
65
Mean accuracy: 0.5299999999999999
66
Mean accuracy: 0.4600000000000001
67
Mean accuracy: 0.5
68
Mean accuracy: 0.5900000000000001
69
Mean accuracy: 0.38999999999999996
70
Mean accuracy: 0.52
71
Mean accuracy: 0.47000000000000003
72
Mean accuracy: 0.43
73
Mean accuracy: 0.45
74
Mean accuracy: 0.42000000000000004
75
Mean accuracy: 0.5
76
Mean accuracy: 0.47999999999999987
77
Mean accuracy: 0.51
78
Mean accuracy: 0.41999999999999993
79
Mean accuracy: 0.57
80
Mean accuracy: 0.4800000000000001
81
Mean accuracy: 0.53
82
Mean accuracy: 0.53
83
Mean accuracy: 0.52
84
Mean accuracy: 0.48
85
Mean accuracy: 0.53
86
Mean accuracy: 0.43000000000000005
87
Mean accuracy: 0.5400000000000001
88
Mean accuracy: 0.5499999999999999
89
Mean accuracy: 0.36
90
Mean accuracy: 0.39
91
Mean accuracy: 0.47000000000000003
92
Mean accuracy: 0.62
93
Mean accuracy: 0.5
94
Mean accuracy: 0.59
95
Mean accuracy: 0.45999999999999996
96
Mean accuracy: 0.4800000000000001
97
Mean accuracy: 0.4600000000000001
98
Mean accuracy: 0.51
99
Mean accuracy: 0.47000000000000003
100
Mean accuracy: 0.58

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Rand93CpG_100RF.csv", index = False)

0.49599999999999994

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Apathy_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(307, 52)

,PATNO,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,...,cg20414811,cg22216017,cg15809230,cg17624978,cg16606731,cg13468400,cg11755107,cg10121816,cg13240962,cg15419852
0,3001,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,...,0.833260,0.043279,0.015557,0.866434,0.574604,0.812987,0.014287,0.011981,0.778440,0.025940
1,3007,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,...,0.873684,0.045068,0.015942,0.899224,0.625920,0.897971,0.015179,0.014084,0.799525,0.037032

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,cg05817202,...,cg20414811,cg22216017,cg15809230,cg17624978,cg16606731,cg13468400,cg11755107,cg10121816,cg13240962,cg15419852
0,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,0.823899,...,0.833260,0.043279,0.015557,0.866434,0.574604,0.812987,0.014287,0.011981,0.778440,0.025940
1,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,0.849287,...,0.873684,0.045068,0.015942,0.899224,0.625920,0.897971,0.015179,0.014084,0.799525,0.037032

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6000000000000001
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.73
4
Mean accuracy: 0.72
5
Mean accuracy: 0.6799999999999999
6
Mean accuracy: 0.6699999999999999
7
Mean accuracy: 0.67
8
Mean accuracy: 0.7100000000000001
9
Mean accuracy: 0.74
10
Mean accuracy: 0.69
11
Mean accuracy: 0.6599999999999999
12
Mean accuracy: 0.65
13
Mean accuracy: 0.7300000000000001
14
Mean accuracy: 0.72
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.6599999999999999
17
Mean accuracy: 0.6100000000000001
18
Mean accuracy: 0.72
19
Mean accuracy: 0.6
20
Mean accuracy: 0.71
21
Mean accuracy: 0.71
22
Mean accuracy: 0.6300000000000001
23
Mean accuracy: 0.7500000000000001
24
Mean accuracy: 0.73
25
Mean accuracy: 0.6300000000000001
26
Mean accuracy: 0.6499999999999999
27
Mean accuracy: 0.7000000000000001
28
Mean accuracy: 0.74
29
Mean accuracy: 0.58
30
Mean accuracy: 0.71
31
Mean accuracy: 0.67
32
Mean accuracy: 0.7
33
Mean accuracy: 0.6300000000000001
34
Mean accuracy: 0.63
35
Mean accuracy: 0.66
36
Mean accuracy: 0.5900000000000001
37
Mean accuracy: 0.7
38
Mean accuracy: 0.65
39
Mean accuracy: 0.71
40
Mean accuracy: 0.67
41
Mean accuracy: 0.6900000000000001
42
Mean accuracy: 0.72
43
Mean accuracy: 0.72
44
Mean accuracy: 0.7
45
Mean accuracy: 0.75
46
Mean accuracy: 0.74
47
Mean accuracy: 0.63
48
Mean accuracy: 0.7300000000000001
49
Mean accuracy: 0.7
50
Mean accuracy: 0.6499999999999999
51
Mean accuracy: 0.6599999999999999
52
Mean accuracy: 0.6300000000000001
53
Mean accuracy: 0.7000000000000001
54
Mean accuracy: 0.5599999999999999
55
Mean accuracy: 0.69
56
Mean accuracy: 0.69
57
Mean accuracy: 0.71
58
Mean accuracy: 0.67
59
Mean accuracy: 0.72
60
Mean accuracy: 0.5599999999999999
61
Mean accuracy: 0.65
62
Mean accuracy: 0.64
63
Mean accuracy: 0.62
64
Mean accuracy: 0.6199999999999999
65
Mean accuracy: 0.6799999999999999
66
Mean accuracy: 0.52
67
Mean accuracy: 0.77
68
Mean accuracy: 0.6699999999999999
69
Mean accuracy: 0.6100000000000001
70
Mean accuracy: 0.7
71
Mean accuracy: 0.6099999999999999
72
Mean accuracy: 0.63
73
Mean accuracy: 0.6799999999999999
74
Mean accuracy: 0.6799999999999999
75
Mean accuracy: 0.5599999999999999
76
Mean accuracy: 0.6500000000000001
77
Mean accuracy: 0.7
78
Mean accuracy: 0.7100000000000001
79
Mean accuracy: 0.7
80
Mean accuracy: 0.6599999999999999
81
Mean accuracy: 0.62
82
Mean accuracy: 0.77
83
Mean accuracy: 0.6799999999999999
84
Mean accuracy: 0.6799999999999999
85
Mean accuracy: 0.6
86
Mean accuracy: 0.7
87
Mean accuracy: 0.69
88
Mean accuracy: 0.7300000000000001
89
Mean accuracy: 0.69
90
Mean accuracy: 0.72
91
Mean accuracy: 0.6699999999999999
92
Mean accuracy: 0.68
93
Mean accuracy: 0.7
94
Mean accuracy: 0.6399999999999999
95
Mean accuracy: 0.66
96
Mean accuracy: 0.7100000000000001
97
Mean accuracy: 0.72
98
Mean accuracy: 0.64
99
Mean accuracy: 0.6699999999999999
100
Mean accuracy: 0.65

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Boruta50CpG_100RF.csv", index = False)

0.6733

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_Apathy_Data.csv')
print(df.shape)
df.head(2)

(307, 51)

,APPRDX,cg03787486,cg01360545,cg12573516,cg18859045,cg11450827,cg20981182,cg19505862,cg26941073,cg22917487,...,cg19711613,cg10131227,cg15469205,cg12613770,cg20003494,cg15736994,cg16840743,cg03909844,cg00558297,cg17668069
0,1,0.035693,0.605723,0.026891,0.233609,0.797882,0.070829,0.040946,0.925943,0.875027,...,0.841310,0.929469,0.865868,0.838669,0.025708,0.523965,0.072730,0.675087,0.776180,0.044870
1,1,0.034595,0.633931,0.050838,0.335034,0.805798,0.079024,0.040822,0.915694,0.851476,...,0.839718,0.719363,0.830760,0.848701,0.045513,0.562597,0.072311,0.769234,0.366488,0.045872

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,cg05817202,...,cg20414811,cg22216017,cg15809230,cg17624978,cg16606731,cg13468400,cg11755107,cg10121816,cg13240962,cg15419852
0,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,0.823899,...,0.833260,0.043279,0.015557,0.866434,0.574604,0.812987,0.014287,0.011981,0.778440,0.025940
1,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,0.849287,...,0.873684,0.045068,0.015942,0.899224,0.625920,0.897971,0.015179,0.014084,0.799525,0.037032

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6199999999999999
2
Mean accuracy: 0.68
3
Mean accuracy: 0.71
4
Mean accuracy: 0.6599999999999999
5
Mean accuracy: 0.7
6
Mean accuracy: 0.72
7
Mean accuracy: 0.67
8
Mean accuracy: 0.73
9
Mean accuracy: 0.73
10
Mean accuracy: 0.6199999999999999
11
Mean accuracy: 0.74
12
Mean accuracy: 0.72
13
Mean accuracy: 0.7
14
Mean accuracy: 0.7499999999999999
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.6200000000000001
17
Mean accuracy: 0.67
18
Mean accuracy: 0.6799999999999999
19
Mean accuracy: 0.63
20
Mean accuracy: 0.6900000000000001
21
Mean accuracy: 0.7300000000000001
22
Mean accuracy: 0.73
23
Mean accuracy: 0.7100000000000001
24
Mean accuracy: 0.76
25
Mean accuracy: 0.76
26
Mean accuracy: 0.77
27
Mean accuracy: 0.7
28
Mean accuracy: 0.7
29
Mean accuracy: 0.63
30
Mean accuracy: 0.71
31
Mean accuracy: 0.7100000000000001
32
Mean accuracy: 0.7300000000000001
33
Mean accuracy: 0.72
34
Mean accuracy: 0.7300000000000001
35
Mean accuracy: 0.6699999999999999
36
Mean accuracy: 0.66
37
Mean accuracy: 0.74
38
Mean accuracy: 0.6599999999999999
39
Mean accuracy: 0.78
40
Mean accuracy: 0.7
41
Mean accuracy: 0.66
42
Mean accuracy: 0.71
43
Mean accuracy: 0.6499999999999999
44
Mean accuracy: 0.67
45
Mean accuracy: 0.75
46
Mean accuracy: 0.65
47
Mean accuracy: 0.7000000000000001
48
Mean accuracy: 0.57
49
Mean accuracy: 0.76
50
Mean accuracy: 0.78
51
Mean accuracy: 0.6300000000000001
52
Mean accuracy: 0.73
53
Mean accuracy: 0.67
54
Mean accuracy: 0.66
55
Mean accuracy: 0.6900000000000001
56
Mean accuracy: 0.72
57
Mean accuracy: 0.7400000000000001
58
Mean accuracy: 0.65
59
Mean accuracy: 0.6799999999999999
60
Mean accuracy: 0.75
61
Mean accuracy: 0.73
62
Mean accuracy: 0.76
63
Mean accuracy: 0.6599999999999999
64
Mean accuracy: 0.76
65
Mean accuracy: 0.7
66
Mean accuracy: 0.7500000000000001
67
Mean accuracy: 0.71
68
Mean accuracy: 0.64
69
Mean accuracy: 0.73
70
Mean accuracy: 0.6399999999999999
71
Mean accuracy: 0.71
72
Mean accuracy: 0.6900000000000001
73
Mean accuracy: 0.7
74
Mean accuracy: 0.64
75
Mean accuracy: 0.72
76
Mean accuracy: 0.75
77
Mean accuracy: 0.72
78
Mean accuracy: 0.65
79
Mean accuracy: 0.68
80
Mean accuracy: 0.6900000000000001
81
Mean accuracy: 0.7
82
Mean accuracy: 0.71
83
Mean accuracy: 0.69
84
Mean accuracy: 0.78
85
Mean accuracy: 0.73
86
Mean accuracy: 0.72
87
Mean accuracy: 0.6900000000000001
88
Mean accuracy: 0.6799999999999999
89
Mean accuracy: 0.65
90
Mean accuracy: 0.71
91
Mean accuracy: 0.73
92
Mean accuracy: 0.6200000000000001
93
Mean accuracy: 0.75
94
Mean accuracy: 0.6900000000000001
95
Mean accuracy: 0.6900000000000001
96
Mean accuracy: 0.67
97
Mean accuracy: 0.7100000000000001
98
Mean accuracy: 0.77
99
Mean accuracy: 0.6900000000000001
100
Mean accuracy: 0.67

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_NMI50CpG_100RF.csv", index = False)

0.6987999999999996

## RanFor Top 50 Boruta + NMI 100 times. Samples = 93

In [18]:
df = pd.read_csv('Apathy_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(307, 101)

,PATNO,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,...,cg19711613,cg10131227,cg15469205,cg12613770,cg20003494,cg15736994,cg16840743,cg03909844,cg00558297,cg17668069
0,3001,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,...,0.841310,0.929469,0.865868,0.838669,0.025708,0.523965,0.072730,0.675087,0.776180,0.044870
1,3007,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,...,0.839718,0.719363,0.830760,0.848701,0.045513,0.562597,0.072311,0.769234,0.366488,0.045872

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,cg05817202,...,cg19711613,cg10131227,cg15469205,cg12613770,cg20003494,cg15736994,cg16840743,cg03909844,cg00558297,cg17668069
0,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,0.823899,...,0.841310,0.929469,0.865868,0.838669,0.025708,0.523965,0.072730,0.675087,0.776180,0.044870
1,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,0.849287,...,0.839718,0.719363,0.830760,0.848701,0.045513,0.562597,0.072311,0.769234,0.366488,0.045872

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6500000000000001
2
Mean accuracy: 0.7499999999999999
3
Mean accuracy: 0.7
4
Mean accuracy: 0.7299999999999999
5
Mean accuracy: 0.75
6
Mean accuracy: 0.72
7
Mean accuracy: 0.6199999999999999
8
Mean accuracy: 0.73
9
Mean accuracy: 0.75
10
Mean accuracy: 0.6900000000000001
11
Mean accuracy: 0.7400000000000001
12
Mean accuracy: 0.7100000000000001
13
Mean accuracy: 0.76
14
Mean accuracy: 0.79
15
Mean accuracy: 0.7
16
Mean accuracy: 0.64
17
Mean accuracy: 0.63
18
Mean accuracy: 0.6799999999999999
19
Mean accuracy: 0.6599999999999999
20
Mean accuracy: 0.77
21
Mean accuracy: 0.73
22
Mean accuracy: 0.74
23
Mean accuracy: 0.75
24
Mean accuracy: 0.75
25
Mean accuracy: 0.7
26
Mean accuracy: 0.78
27
Mean accuracy: 0.73
28
Mean accuracy: 0.69
29
Mean accuracy: 0.67
30
Mean accuracy: 0.76
31
Mean accuracy: 0.72
32
Mean accuracy: 0.7500000000000001
33
Mean accuracy: 0.74
34
Mean accuracy: 0.74
35
Mean accuracy: 0.71
36
Mean accuracy: 0.66
37
Mean accuracy: 0.75
38
Mean accuracy: 0.6899999999999998
39
Mean accuracy: 0.72
40
Mean accuracy: 0.76
41
Mean accuracy: 0.7
42
Mean accuracy: 0.67
43
Mean accuracy: 0.8100000000000002
44
Mean accuracy: 0.7
45
Mean accuracy: 0.79
46
Mean accuracy: 0.6900000000000001
47
Mean accuracy: 0.6599999999999999
48
Mean accuracy: 0.73
49
Mean accuracy: 0.74
50
Mean accuracy: 0.78
51
Mean accuracy: 0.6599999999999999
52
Mean accuracy: 0.75
53
Mean accuracy: 0.72
54
Mean accuracy: 0.6699999999999999
55
Mean accuracy: 0.66
56
Mean accuracy: 0.72
57
Mean accuracy: 0.76
58
Mean accuracy: 0.71
59
Mean accuracy: 0.72
60
Mean accuracy: 0.73
61
Mean accuracy: 0.6699999999999999
62
Mean accuracy: 0.71
63
Mean accuracy: 0.6499999999999999
64
Mean accuracy: 0.68
65
Mean accuracy: 0.73
66
Mean accuracy: 0.7299999999999999
67
Mean accuracy: 0.77
68
Mean accuracy: 0.6899999999999998
69
Mean accuracy: 0.6699999999999999
70
Mean accuracy: 0.66
71
Mean accuracy: 0.6599999999999999
72
Mean accuracy: 0.66
73
Mean accuracy: 0.73
74
Mean accuracy: 0.7499999999999999
75
Mean accuracy: 0.6299999999999999
76
Mean accuracy: 0.7200000000000001
77
Mean accuracy: 0.71
78
Mean accuracy: 0.7100000000000001
79
Mean accuracy: 0.75
80
Mean accuracy: 0.74
81
Mean accuracy: 0.7
82
Mean accuracy: 0.71
83
Mean accuracy: 0.74
84
Mean accuracy: 0.74
85
Mean accuracy: 0.7100000000000001
86
Mean accuracy: 0.73
87
Mean accuracy: 0.74
88
Mean accuracy: 0.7300000000000001
89
Mean accuracy: 0.7100000000000001
90
Mean accuracy: 0.75
91
Mean accuracy: 0.79
92
Mean accuracy: 0.65
93
Mean accuracy: 0.7
94
Mean accuracy: 0.71
95
Mean accuracy: 0.71
96
Mean accuracy: 0.6799999999999999
97
Mean accuracy: 0.7300000000000001
98
Mean accuracy: 0.7
99
Mean accuracy: 0.69
100
Mean accuracy: 0.74

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Top50sCpG93_100RF.csv", index = False)

0.7145999999999999