# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
df = pd.read_csv('LetterNumber_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
(458, 73193)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,LetterNumber_Category,cg20815302,cg25795414,...,cg27475074,cg02546039,cg25870071,cg26765773,cg22019496,cg02429154,cg05411695,cg13202877,cg17697230,cg05687264
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.915790,0.899909,...,0.028559,0.920549,0.469715,0.112805,0.892764,0.925107,0.070574,0.165807,0.918808,0.928897
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.907957,0.868910,...,0.049168,0.906285,0.458602,0.068597,0.859078,0.907987,0.036712,0.177144,0.927030,0.911733
2,200991620021_R03C01,3002,2,1,2,67.6,4,1,0.914788,0.898327,...,0.023227,0.902970,0.345503,0.064245,0.873081,0.928342,0.046664,0.176564,0.909178,0.932602

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','LetterNumber_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg20815302,cg25795414,cg00959375,cg07781847,cg05138383,cg27394794,cg12443990,cg19788329,cg22178513,...,cg27475074,cg02546039,cg25870071,cg26765773,cg22019496,cg02429154,cg05411695,cg13202877,cg17697230,cg05687264
0,2,0.915790,0.899909,0.804116,0.796131,0.740029,0.838002,0.822036,0.813254,0.745601,...,0.028559,0.920549,0.469715,0.112805,0.892764,0.925107,0.070574,0.165807,0.918808,0.928897
1,1,0.907957,0.868910,0.752844,0.827413,0.771393,0.766283,0.791932,0.785104,0.723989,...,0.049168,0.906285,0.458602,0.068597,0.859078,0.907987,0.036712,0.177144,0.927030,0.911733

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5549999999999999
2
Mean accuracy: 0.49499999999999994
3
Mean accuracy: 0.5350000000000001
4
Mean accuracy: 0.525
5
Mean accuracy: 0.5700000000000001
6
Mean accuracy: 0.575
7
Mean accuracy: 0.495
8
Mean accuracy: 0.51
9
Mean accuracy: 0.55
10
Mean accuracy: 0.5149999999999999
11
Mean accuracy: 0.5250000000000001
12
Mean accuracy: 0.5499999999999999
13
Mean accuracy: 0.45499999999999996
14
Mean accuracy: 0.45
15
Mean accuracy: 0.565
16
Mean accuracy: 0.55
17
Mean accuracy: 0.55
18
Mean accuracy: 0.42000000000000004
19
Mean accuracy: 0.475
20
Mean accuracy: 0.515
21
Mean accuracy: 0.5050000000000001
22
Mean accuracy: 0.525
23
Mean accuracy: 0.515
24
Mean accuracy: 0.48
25
Mean accuracy: 0.5249999999999999
26
Mean accuracy: 0.535
27
Mean accuracy: 0.52
28
Mean accuracy: 0.5449999999999999
29
Mean accuracy: 0.5149999999999999
30
Mean accuracy: 0.55
31
Mean accuracy: 0.495
32
Mean accuracy: 0.495
33
Mean accuracy: 0.425
34
Mean accuracy: 0.545
35
Mean accuracy: 0.48999999999999994
36
Mean accuracy: 0.5549999999999999
37
Mean accuracy: 0.525
38
Mean accuracy: 0.5
39
Mean accuracy: 0.52
40
Mean accuracy: 0.48500000000000004
41
Mean accuracy: 0.51
42
Mean accuracy: 0.445
43
Mean accuracy: 0.485
44
Mean accuracy: 0.485
45
Mean accuracy: 0.55
46
Mean accuracy: 0.49000000000000005
47
Mean accuracy: 0.495
48
Mean accuracy: 0.53
49
Mean accuracy: 0.53
50
Mean accuracy: 0.53
51
Mean accuracy: 0.5200000000000001
52
Mean accuracy: 0.4699999999999999
53
Mean accuracy: 0.465
54
Mean accuracy: 0.515
55
Mean accuracy: 0.5050000000000001
56
Mean accuracy: 0.525
57
Mean accuracy: 0.48
58
Mean accuracy: 0.55
59
Mean accuracy: 0.53
60
Mean accuracy: 0.55
61
Mean accuracy: 0.515
62
Mean accuracy: 0.5650000000000001
63
Mean accuracy: 0.5299999999999999
64
Mean accuracy: 0.52
65
Mean accuracy: 0.5050000000000001
66
Mean accuracy: 0.5900000000000001
67
Mean accuracy: 0.5399999999999999
68
Mean accuracy: 0.48500000000000004
69
Mean accuracy: 0.5900000000000001
70
Mean accuracy: 0.535
71
Mean accuracy: 0.4
72
Mean accuracy: 0.43499999999999994
73
Mean accuracy: 0.4999999999999999
74
Mean accuracy: 0.475
75
Mean accuracy: 0.525
76
Mean accuracy: 0.45499999999999996
77
Mean accuracy: 0.5
78
Mean accuracy: 0.45
79
Mean accuracy: 0.5400000000000001
80
Mean accuracy: 0.53
81
Mean accuracy: 0.51
82
Mean accuracy: 0.48500000000000004
83
Mean accuracy: 0.485
84
Mean accuracy: 0.48500000000000004
85
Mean accuracy: 0.47000000000000003
86
Mean accuracy: 0.58
87
Mean accuracy: 0.58
88
Mean accuracy: 0.5000000000000001
89
Mean accuracy: 0.47000000000000003
90
Mean accuracy: 0.55
91
Mean accuracy: 0.52
92
Mean accuracy: 0.495
93
Mean accuracy: 0.49499999999999994
94
Mean accuracy: 0.5850000000000001
95
Mean accuracy: 0.53
96
Mean accuracy: 0.495
97
Mean accuracy: 0.525
98
Mean accuracy: 0.525
99
Mean accuracy: 0.5349999999999999
100
Mean accuracy: 0.5549999999999999

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_AllCpG_100RF.csv", index = False)

0.5135

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48500000000000004
2
Mean accuracy: 0.445
3
Mean accuracy: 0.45500000000000007
4
Mean accuracy: 0.5599999999999999
5
Mean accuracy: 0.595
6
Mean accuracy: 0.51
7
Mean accuracy: 0.54
8
Mean accuracy: 0.48
9
Mean accuracy: 0.53
10
Mean accuracy: 0.5149999999999999
11
Mean accuracy: 0.49000000000000005
12
Mean accuracy: 0.47000000000000003
13
Mean accuracy: 0.4900000000000001
14
Mean accuracy: 0.485
15
Mean accuracy: 0.495
16
Mean accuracy: 0.485
17
Mean accuracy: 0.53
18
Mean accuracy: 0.5299999999999999
19
Mean accuracy: 0.475
20
Mean accuracy: 0.5900000000000001
21
Mean accuracy: 0.5599999999999999
22
Mean accuracy: 0.49000000000000005
23
Mean accuracy: 0.43999999999999995
24
Mean accuracy: 0.475
25
Mean accuracy: 0.54
26
Mean accuracy: 0.54
27
Mean accuracy: 0.55
28
Mean accuracy: 0.53
29
Mean accuracy: 0.5
30
Mean accuracy: 0.5249999999999999
31
Mean accuracy: 0.51
32
Mean accuracy: 0.49499999999999994
33
Mean accuracy: 0.5549999999999999
34
Mean accuracy: 0.505
35
Mean accuracy: 0.465
36
Mean accuracy: 0.43999999999999995
37
Mean accuracy: 0.555
38
Mean accuracy: 0.45000000000000007
39
Mean accuracy: 0.5
40
Mean accuracy: 0.5549999999999999
41
Mean accuracy: 0.5450000000000002
42
Mean accuracy: 0.48
43
Mean accuracy: 0.52
44
Mean accuracy: 0.475
45
Mean accuracy: 0.465
46
Mean accuracy: 0.505
47
Mean accuracy: 0.48500000000000004
48
Mean accuracy: 0.43000000000000005
49
Mean accuracy: 0.43
50
Mean accuracy: 0.53
51
Mean accuracy: 0.51
52
Mean accuracy: 0.53
53
Mean accuracy: 0.515
54
Mean accuracy: 0.525
55
Mean accuracy: 0.505
56
Mean accuracy: 0.6049999999999999
57
Mean accuracy: 0.41000000000000003
58
Mean accuracy: 0.625
59
Mean accuracy: 0.5
60
Mean accuracy: 0.505
61
Mean accuracy: 0.43
62
Mean accuracy: 0.45
63
Mean accuracy: 0.495
64
Mean accuracy: 0.575
65
Mean accuracy: 0.4800000000000001
66
Mean accuracy: 0.525
67
Mean accuracy: 0.465
68
Mean accuracy: 0.5549999999999999
69
Mean accuracy: 0.565
70
Mean accuracy: 0.525
71
Mean accuracy: 0.5399999999999999
72
Mean accuracy: 0.465
73
Mean accuracy: 0.515
74
Mean accuracy: 0.485
75
Mean accuracy: 0.47000000000000003
76
Mean accuracy: 0.43500000000000005
77
Mean accuracy: 0.5
78
Mean accuracy: 0.505
79
Mean accuracy: 0.535
80
Mean accuracy: 0.495
81
Mean accuracy: 0.525
82
Mean accuracy: 0.505
83
Mean accuracy: 0.615
84
Mean accuracy: 0.52
85
Mean accuracy: 0.5499999999999999
86
Mean accuracy: 0.505
87
Mean accuracy: 0.5
88
Mean accuracy: 0.46499999999999997
89
Mean accuracy: 0.52
90
Mean accuracy: 0.53
91
Mean accuracy: 0.55
92
Mean accuracy: 0.5900000000000001
93
Mean accuracy: 0.485
94
Mean accuracy: 0.425
95
Mean accuracy: 0.55
96
Mean accuracy: 0.5850000000000001
97
Mean accuracy: 0.4749999999999999
98
Mean accuracy: 0.45999999999999996
99
Mean accuracy: 0.475
100
Mean accuracy: 0.475

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_Rand50CpG_100RF.csv", index = False)

0.5074500000000001

## RanFor 100 times. Samples = 96

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(96, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.47999999999999987
2
Mean accuracy: 0.45
3
Mean accuracy: 0.48999999999999994
4
Mean accuracy: 0.565
5
Mean accuracy: 0.5650000000000001
6
Mean accuracy: 0.52
7
Mean accuracy: 0.58
8
Mean accuracy: 0.5
9
Mean accuracy: 0.495
10
Mean accuracy: 0.515
11
Mean accuracy: 0.525
12
Mean accuracy: 0.52
13
Mean accuracy: 0.58
14
Mean accuracy: 0.52
15
Mean accuracy: 0.5
16
Mean accuracy: 0.5
17
Mean accuracy: 0.5200000000000001
18
Mean accuracy: 0.525
19
Mean accuracy: 0.53
20
Mean accuracy: 0.525
21
Mean accuracy: 0.475
22
Mean accuracy: 0.45
23
Mean accuracy: 0.505
24
Mean accuracy: 0.55
25
Mean accuracy: 0.53
26
Mean accuracy: 0.52
27
Mean accuracy: 0.575
28
Mean accuracy: 0.5249999999999999
29
Mean accuracy: 0.515
30
Mean accuracy: 0.5250000000000001
31
Mean accuracy: 0.5549999999999999
32
Mean accuracy: 0.5549999999999999
33
Mean accuracy: 0.49000000000000005
34
Mean accuracy: 0.3950000000000001
35
Mean accuracy: 0.49000000000000005
36
Mean accuracy: 0.42000000000000004
37
Mean accuracy: 0.5549999999999999
38
Mean accuracy: 0.45
39
Mean accuracy: 0.5199999999999999
40
Mean accuracy: 0.555
41
Mean accuracy: 0.495
42
Mean accuracy: 0.46499999999999997
43
Mean accuracy: 0.53
44
Mean accuracy: 0.5399999999999999
45
Mean accuracy: 0.4999999999999999
46
Mean accuracy: 0.495
47
Mean accuracy: 0.55
48
Mean accuracy: 0.47000000000000003
49
Mean accuracy: 0.4600000000000001
50
Mean accuracy: 0.525
51
Mean accuracy: 0.51
52
Mean accuracy: 0.55
53
Mean accuracy: 0.5349999999999999
54
Mean accuracy: 0.5200000000000001
55
Mean accuracy: 0.5249999999999999
56
Mean accuracy: 0.545
57
Mean accuracy: 0.39
58
Mean accuracy: 0.58
59
Mean accuracy: 0.525
60
Mean accuracy: 0.505
61
Mean accuracy: 0.44000000000000006
62
Mean accuracy: 0.44000000000000006
63
Mean accuracy: 0.5349999999999999
64
Mean accuracy: 0.5349999999999999
65
Mean accuracy: 0.55
66
Mean accuracy: 0.47000000000000003
67
Mean accuracy: 0.58
68
Mean accuracy: 0.495
69
Mean accuracy: 0.52
70
Mean accuracy: 0.5299999999999999
71
Mean accuracy: 0.525
72
Mean accuracy: 0.5349999999999999
73
Mean accuracy: 0.5
74
Mean accuracy: 0.525
75
Mean accuracy: 0.4800000000000001
76
Mean accuracy: 0.43
77
Mean accuracy: 0.4800000000000001
78
Mean accuracy: 0.51
79
Mean accuracy: 0.58
80
Mean accuracy: 0.5
81
Mean accuracy: 0.545
82
Mean accuracy: 0.5399999999999998
83
Mean accuracy: 0.54
84
Mean accuracy: 0.5
85
Mean accuracy: 0.52
86
Mean accuracy: 0.515
87
Mean accuracy: 0.5199999999999999
88
Mean accuracy: 0.475
89
Mean accuracy: 0.5149999999999999
90
Mean accuracy: 0.5399999999999999
91
Mean accuracy: 0.475
92
Mean accuracy: 0.515
93
Mean accuracy: 0.515
94
Mean accuracy: 0.46499999999999997
95
Mean accuracy: 0.5449999999999999
96
Mean accuracy: 0.49000000000000005
97
Mean accuracy: 0.43
98
Mean accuracy: 0.44000000000000006
99
Mean accuracy: 0.4700000000000001
100
Mean accuracy: 0.45

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_Rand96CpG_100RF.csv", index = False)

0.5093999999999999

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('LetterNumber_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg02471954,cg26657920,cg00260798,cg04009197,cg03245734,cg03424478,cg24467842,cg21747188,...,cg07612271,cg14565835,cg27542525,cg10322510,cg18967713,cg11802732,cg12220605,cg12015492,cg00811166,cg12046288
0,3000,2,0.928420,0.876827,0.924389,0.898288,0.042934,0.028517,0.830469,0.025714,...,0.918277,0.776492,0.329920,0.967393,0.015011,0.039124,0.117280,0.033413,0.887979,0.017441
1,3001,1,0.853669,0.836352,0.885679,0.850314,0.047562,0.030953,0.874708,0.064156,...,0.896129,0.856185,0.347469,0.967266,0.019488,0.038867,0.082447,0.039214,0.840791,0.019627

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02471954,cg26657920,cg00260798,cg04009197,cg03245734,cg03424478,cg24467842,cg21747188,cg13312668,...,cg07612271,cg14565835,cg27542525,cg10322510,cg18967713,cg11802732,cg12220605,cg12015492,cg00811166,cg12046288
0,2,0.928420,0.876827,0.924389,0.898288,0.042934,0.028517,0.830469,0.025714,0.902683,...,0.918277,0.776492,0.329920,0.967393,0.015011,0.039124,0.117280,0.033413,0.887979,0.017441
1,1,0.853669,0.836352,0.885679,0.850314,0.047562,0.030953,0.874708,0.064156,0.858468,...,0.896129,0.856185,0.347469,0.967266,0.019488,0.038867,0.082447,0.039214,0.840791,0.019627

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6899999999999998
2
Mean accuracy: 0.675
3
Mean accuracy: 0.675
4
Mean accuracy: 0.62
5
Mean accuracy: 0.625
6
Mean accuracy: 0.7
7
Mean accuracy: 0.655
8
Mean accuracy: 0.6849999999999999
9
Mean accuracy: 0.67
10
Mean accuracy: 0.645
11
Mean accuracy: 0.6900000000000001
12
Mean accuracy: 0.6950000000000001
13
Mean accuracy: 0.6
14
Mean accuracy: 0.6250000000000001
15
Mean accuracy: 0.6849999999999999
16
Mean accuracy: 0.6450000000000001
17
Mean accuracy: 0.6849999999999999
18
Mean accuracy: 0.625
19
Mean accuracy: 0.595
20
Mean accuracy: 0.6599999999999999
21
Mean accuracy: 0.74
22
Mean accuracy: 0.655
23
Mean accuracy: 0.665
24
Mean accuracy: 0.6950000000000001
25
Mean accuracy: 0.655
26
Mean accuracy: 0.635
27
Mean accuracy: 0.6500000000000001
28
Mean accuracy: 0.68
29
Mean accuracy: 0.72
30
Mean accuracy: 0.67
31
Mean accuracy: 0.685
32
Mean accuracy: 0.64
33
Mean accuracy: 0.635
34
Mean accuracy: 0.74
35
Mean accuracy: 0.705
36
Mean accuracy: 0.71
37
Mean accuracy: 0.72
38
Mean accuracy: 0.655
39
Mean accuracy: 0.655
40
Mean accuracy: 0.625
41
Mean accuracy: 0.635
42
Mean accuracy: 0.6849999999999999
43
Mean accuracy: 0.695
44
Mean accuracy: 0.68
45
Mean accuracy: 0.69
46
Mean accuracy: 0.65
47
Mean accuracy: 0.675
48
Mean accuracy: 0.725
49
Mean accuracy: 0.6450000000000001
50
Mean accuracy: 0.64
51
Mean accuracy: 0.665
52
Mean accuracy: 0.64
53
Mean accuracy: 0.68
54
Mean accuracy: 0.6950000000000001
55
Mean accuracy: 0.71
56
Mean accuracy: 0.6649999999999999
57
Mean accuracy: 0.7050000000000001
58
Mean accuracy: 0.6900000000000001
59
Mean accuracy: 0.6900000000000001
60
Mean accuracy: 0.6299999999999999
61
Mean accuracy: 0.64
62
Mean accuracy: 0.6849999999999999
63
Mean accuracy: 0.6799999999999999
64
Mean accuracy: 0.6699999999999999
65
Mean accuracy: 0.66
66
Mean accuracy: 0.715
67
Mean accuracy: 0.665
68
Mean accuracy: 0.655
69
Mean accuracy: 0.655
70
Mean accuracy: 0.66
71
Mean accuracy: 0.625
72
Mean accuracy: 0.705
73
Mean accuracy: 0.65
74
Mean accuracy: 0.675
75
Mean accuracy: 0.675
76
Mean accuracy: 0.6
77
Mean accuracy: 0.685
78
Mean accuracy: 0.635
79
Mean accuracy: 0.6599999999999999
80
Mean accuracy: 0.6849999999999999
81
Mean accuracy: 0.6799999999999999
82
Mean accuracy: 0.64
83
Mean accuracy: 0.6050000000000001
84
Mean accuracy: 0.7200000000000001
85
Mean accuracy: 0.61
86
Mean accuracy: 0.73
87
Mean accuracy: 0.655
88
Mean accuracy: 0.665
89
Mean accuracy: 0.6599999999999999
90
Mean accuracy: 0.64
91
Mean accuracy: 0.65
92
Mean accuracy: 0.64
93
Mean accuracy: 0.73
94
Mean accuracy: 0.7150000000000001
95
Mean accuracy: 0.695
96
Mean accuracy: 0.65
97
Mean accuracy: 0.7
98
Mean accuracy: 0.66
99
Mean accuracy: 0.6950000000000001
100
Mean accuracy: 0.6250000000000001

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_Boruta50CpG_100RF.csv", index = False)

0.6681499999999998

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_LetterNumber_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg17937070,cg06796611,cg17712928,cg26408382,cg03424478,cg00052836,cg00593243,cg06061283,...,cg08606911,cg23849327,cg02647998,cg15520443,cg26562694,cg25195987,cg05082965,cg12046288,cg19534805,cg18634479
0,3000,2,0.955360,0.782549,0.910165,0.903011,0.028517,0.931199,0.948020,0.870155,...,0.059446,0.517787,0.899838,0.116186,0.041020,0.855891,0.042589,0.017441,0.935316,0.019785
1,3001,1,0.902738,0.728984,0.950909,0.922423,0.030953,0.872534,0.917518,0.732005,...,0.069594,0.554499,0.885940,0.083426,0.025679,0.875692,0.035756,0.019627,0.903219,0.022394

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg17937070,cg06796611,cg17712928,cg26408382,cg03424478,cg00052836,cg00593243,cg06061283,cg24402323,...,cg08606911,cg23849327,cg02647998,cg15520443,cg26562694,cg25195987,cg05082965,cg12046288,cg19534805,cg18634479
0,2,0.955360,0.782549,0.910165,0.903011,0.028517,0.931199,0.948020,0.870155,0.039978,...,0.059446,0.517787,0.899838,0.116186,0.041020,0.855891,0.042589,0.017441,0.935316,0.019785
1,1,0.902738,0.728984,0.950909,0.922423,0.030953,0.872534,0.917518,0.732005,0.060656,...,0.069594,0.554499,0.885940,0.083426,0.025679,0.875692,0.035756,0.019627,0.903219,0.022394

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.65
2
Mean accuracy: 0.7
3
Mean accuracy: 0.655
4
Mean accuracy: 0.675
5
Mean accuracy: 0.6849999999999999
6
Mean accuracy: 0.675
7
Mean accuracy: 0.6699999999999999
8
Mean accuracy: 0.66
9
Mean accuracy: 0.74
10
Mean accuracy: 0.71
11
Mean accuracy: 0.695
12
Mean accuracy: 0.705
13
Mean accuracy: 0.635
14
Mean accuracy: 0.6249999999999999
15
Mean accuracy: 0.65
16
Mean accuracy: 0.6799999999999999
17
Mean accuracy: 0.73
18
Mean accuracy: 0.675
19
Mean accuracy: 0.655
20
Mean accuracy: 0.6849999999999999
21
Mean accuracy: 0.675
22
Mean accuracy: 0.6650000000000001
23
Mean accuracy: 0.635
24
Mean accuracy: 0.6900000000000002
25
Mean accuracy: 0.6849999999999999
26
Mean accuracy: 0.62
27
Mean accuracy: 0.665
28
Mean accuracy: 0.725
29
Mean accuracy: 0.6849999999999999
30
Mean accuracy: 0.635
31
Mean accuracy: 0.6950000000000001
32
Mean accuracy: 0.66
33
Mean accuracy: 0.6699999999999999
34
Mean accuracy: 0.66
35
Mean accuracy: 0.7000000000000001
36
Mean accuracy: 0.655
37
Mean accuracy: 0.685
38
Mean accuracy: 0.715
39
Mean accuracy: 0.6950000000000001
40
Mean accuracy: 0.7
41
Mean accuracy: 0.65
42
Mean accuracy: 0.6700000000000002
43
Mean accuracy: 0.7
44
Mean accuracy: 0.6799999999999999
45
Mean accuracy: 0.6649999999999999
46
Mean accuracy: 0.675
47
Mean accuracy: 0.6900000000000001
48
Mean accuracy: 0.6749999999999999
49
Mean accuracy: 0.665
50
Mean accuracy: 0.67
51
Mean accuracy: 0.6400000000000001
52
Mean accuracy: 0.6749999999999999
53
Mean accuracy: 0.705
54
Mean accuracy: 0.665
55
Mean accuracy: 0.655
56
Mean accuracy: 0.655
57
Mean accuracy: 0.6549999999999999
58
Mean accuracy: 0.75
59
Mean accuracy: 0.645
60
Mean accuracy: 0.7
61
Mean accuracy: 0.645
62
Mean accuracy: 0.6799999999999999
63
Mean accuracy: 0.69
64
Mean accuracy: 0.635
65
Mean accuracy: 0.675
66
Mean accuracy: 0.6950000000000001
67
Mean accuracy: 0.6500000000000001
68
Mean accuracy: 0.64
69
Mean accuracy: 0.67
70
Mean accuracy: 0.68
71
Mean accuracy: 0.6250000000000001
72
Mean accuracy: 0.6499999999999999
73
Mean accuracy: 0.6700000000000002
74
Mean accuracy: 0.6599999999999999
75
Mean accuracy: 0.6849999999999999
76
Mean accuracy: 0.655
77
Mean accuracy: 0.6300000000000001
78
Mean accuracy: 0.635
79
Mean accuracy: 0.7
80
Mean accuracy: 0.645
81
Mean accuracy: 0.6950000000000001
82
Mean accuracy: 0.685
83
Mean accuracy: 0.705
84
Mean accuracy: 0.72
85
Mean accuracy: 0.6900000000000001
86
Mean accuracy: 0.7050000000000001
87
Mean accuracy: 0.6250000000000001
88
Mean accuracy: 0.705
89
Mean accuracy: 0.68
90
Mean accuracy: 0.7399999999999999
91
Mean accuracy: 0.68
92
Mean accuracy: 0.64
93
Mean accuracy: 0.74
94
Mean accuracy: 0.6299999999999999
95
Mean accuracy: 0.68
96
Mean accuracy: 0.68
97
Mean accuracy: 0.735
98
Mean accuracy: 0.6599999999999999
99
Mean accuracy: 0.6900000000000002
100
Mean accuracy: 0.705

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_NMI50CpG_100RF.csv", index = False)

0.6756000000000002

## RanFor Top 50 Boruta + NMI 100 times. Samples = 96

In [19]:
df = pd.read_csv('LetterNumber_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(458, 98)

,PATNO,APPRDX,cg17937070,cg06796611,cg17712928,cg26408382,cg03424478,cg00052836,cg00593243,cg06061283,...,cg07193024,cg07612271,cg14565835,cg27542525,cg10322510,cg18967713,cg11802732,cg12220605,cg12015492,cg00811166
0,3000,2,0.955360,0.782549,0.910165,0.903011,0.028517,0.931199,0.948020,0.870155,...,0.104884,0.918277,0.776492,0.329920,0.967393,0.015011,0.039124,0.117280,0.033413,0.887979
1,3001,1,0.902738,0.728984,0.950909,0.922423,0.030953,0.872534,0.917518,0.732005,...,0.136834,0.896129,0.856185,0.347469,0.967266,0.019488,0.038867,0.082447,0.039214,0.840791

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg17937070,cg06796611,cg17712928,cg26408382,cg03424478,cg00052836,cg00593243,cg06061283,cg24402323,...,cg07193024,cg07612271,cg14565835,cg27542525,cg10322510,cg18967713,cg11802732,cg12220605,cg12015492,cg00811166
0,2,0.955360,0.782549,0.910165,0.903011,0.028517,0.931199,0.948020,0.870155,0.039978,...,0.104884,0.918277,0.776492,0.329920,0.967393,0.015011,0.039124,0.117280,0.033413,0.887979
1,1,0.902738,0.728984,0.950909,0.922423,0.030953,0.872534,0.917518,0.732005,0.060656,...,0.136834,0.896129,0.856185,0.347469,0.967266,0.019488,0.038867,0.082447,0.039214,0.840791

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.705
2
Mean accuracy: 0.7049999999999998
3
Mean accuracy: 0.6950000000000001
4
Mean accuracy: 0.6599999999999999
5
Mean accuracy: 0.71
6
Mean accuracy: 0.74
7
Mean accuracy: 0.675
8
Mean accuracy: 0.6799999999999999
9
Mean accuracy: 0.645
10
Mean accuracy: 0.6749999999999999
11
Mean accuracy: 0.745
12
Mean accuracy: 0.675
13
Mean accuracy: 0.705
14
Mean accuracy: 0.635
15
Mean accuracy: 0.6950000000000001
16
Mean accuracy: 0.7150000000000001
17
Mean accuracy: 0.715
18
Mean accuracy: 0.705
19
Mean accuracy: 0.6399999999999999
20
Mean accuracy: 0.7499999999999999
21
Mean accuracy: 0.6950000000000001
22
Mean accuracy: 0.675
23
Mean accuracy: 0.6699999999999999
24
Mean accuracy: 0.6900000000000001
25
Mean accuracy: 0.6799999999999999
26
Mean accuracy: 0.6399999999999999
27
Mean accuracy: 0.6799999999999999
28
Mean accuracy: 0.705
29
Mean accuracy: 0.7100000000000001
30
Mean accuracy: 0.65
31
Mean accuracy: 0.65
32
Mean accuracy: 0.6950000000000001
33
Mean accuracy: 0.67
34
Mean accuracy: 0.6950000000000001
35
Mean accuracy: 0.745
36
Mean accuracy: 0.7000000000000001
37
Mean accuracy: 0.6849999999999998
38
Mean accuracy: 0.7
39
Mean accuracy: 0.69
40
Mean accuracy: 0.6849999999999999
41
Mean accuracy: 0.685
42
Mean accuracy: 0.7249999999999999
43
Mean accuracy: 0.6699999999999999
44
Mean accuracy: 0.705
45
Mean accuracy: 0.705
46
Mean accuracy: 0.635
47
Mean accuracy: 0.665
48
Mean accuracy: 0.705
49
Mean accuracy: 0.655
50
Mean accuracy: 0.66
51
Mean accuracy: 0.6499999999999999
52
Mean accuracy: 0.6849999999999999
53
Mean accuracy: 0.655
54
Mean accuracy: 0.74
55
Mean accuracy: 0.655
56
Mean accuracy: 0.6749999999999999
57
Mean accuracy: 0.72
58
Mean accuracy: 0.71
59
Mean accuracy: 0.705
60
Mean accuracy: 0.685
61
Mean accuracy: 0.665
62
Mean accuracy: 0.6900000000000001
63
Mean accuracy: 0.7249999999999999
64
Mean accuracy: 0.6649999999999999
65
Mean accuracy: 0.7
66
Mean accuracy: 0.7100000000000001
67
Mean accuracy: 0.675
68
Mean accuracy: 0.6950000000000001
69
Mean accuracy: 0.73
70
Mean accuracy: 0.6699999999999999
71
Mean accuracy: 0.66
72
Mean accuracy: 0.69
73
Mean accuracy: 0.6599999999999999
74
Mean accuracy: 0.685
75
Mean accuracy: 0.675
76
Mean accuracy: 0.7049999999999998
77
Mean accuracy: 0.6599999999999999
78
Mean accuracy: 0.7100000000000001
79
Mean accuracy: 0.7
80
Mean accuracy: 0.6799999999999999
81
Mean accuracy: 0.695
82
Mean accuracy: 0.715
83
Mean accuracy: 0.72
84
Mean accuracy: 0.7200000000000001
85
Mean accuracy: 0.655
86
Mean accuracy: 0.715
87
Mean accuracy: 0.6649999999999999
88
Mean accuracy: 0.6950000000000001
89
Mean accuracy: 0.685
90
Mean accuracy: 0.7
91
Mean accuracy: 0.665
92
Mean accuracy: 0.6449999999999999
93
Mean accuracy: 0.73
94
Mean accuracy: 0.73
95
Mean accuracy: 0.7200000000000001
96
Mean accuracy: 0.6399999999999999
97
Mean accuracy: 0.725
98
Mean accuracy: 0.685
99
Mean accuracy: 0.7100000000000001
100
Mean accuracy: 0.7

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LetterNumber_Top50sCpG96_100RF.csv", index = False)

0.6893499999999999