# Random Forest Classification

## Importing the libraries

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\Only_Male\GeneCpG\Fatigue
df = pd.read_csv('FatigueCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\Only_Male\GeneCpG\Fatigue
(307, 31218)

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Fatigue,cg17960051,cg06562372,cg04099454,...,cg15500865,cg10329418,cg18241308,cg04350520,cg04685170,cg20985067,cg08461772,cg25879118,cg07510163,ch.13.693633F
0,0,200991620021_R01C01,3001,2,1,1,1,0.019716,0.024434,0.895146,...,0.105174,0.262518,0.784256,0.886425,0.080717,0.814912,0.331552,0.916387,0.841837,0.036872
1,1,200973410167_R04C01,3007,2,1,1,1,0.020417,0.016055,0.882493,...,0.066103,0.210723,0.905081,0.882225,0.082907,0.906400,0.497660,0.915460,0.822889,0.039866
2,2,200973410167_R05C01,3010,2,1,1,1,0.020654,0.017736,0.927835,...,0.330337,0.310647,0.852778,0.876989,0.183659,0.917887,0.470535,0.894010,0.823575,0.036319

In [4]:
df1 = df.drop(['Unnamed: 0','PATNO', 'Sentrix', 'HYS', 'Gender', 'MDSP_Fatigue'], axis=1)
df1.head(2)

,APPRDX,cg17960051,cg06562372,cg04099454,cg18542829,cg04599912,cg15759056,cg16703576,cg00031165,cg26835636,...,cg15500865,cg10329418,cg18241308,cg04350520,cg04685170,cg20985067,cg08461772,cg25879118,cg07510163,ch.13.693633F
0,1,0.019716,0.024434,0.895146,0.024184,0.014927,0.012150,0.026345,0.078477,0.016245,...,0.105174,0.262518,0.784256,0.886425,0.080717,0.814912,0.331552,0.916387,0.841837,0.036872
1,1,0.020417,0.016055,0.882493,0.045616,0.021537,0.013626,0.032826,0.033160,0.018156,...,0.066103,0.210723,0.905081,0.882225,0.082907,0.906400,0.497660,0.915460,0.822889,0.039866

In [5]:
df1 = df1.transpose()
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
APPRDX,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,2.00000,2.000000,2.00000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000
cg17960051,0.019716,0.020417,0.020654,0.015615,0.019431,0.018499,0.017311,0.015358,0.015278,0.022692,...,0.017515,0.01611,0.016656,0.01624,0.011848,0.01539,0.019081,0.015741,0.025337,0.018544

In [6]:
df1.rename(columns=df1.iloc[0], inplace = True)

In [7]:
df1.index.name ='CpG'
df1.reset_index(inplace=True)
df1.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
0,APPRDX,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,2.00000,2.000000,2.00000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000
1,cg17960051,0.019716,0.020417,0.020654,0.015615,0.019431,0.018499,0.017311,0.015358,0.015278,...,0.017515,0.01611,0.016656,0.01624,0.011848,0.01539,0.019081,0.015741,0.025337,0.018544

In [8]:
df1 = df1.drop ([0], axis = 0)
df1.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,cg17960051,0.019716,0.020417,0.020654,0.015615,0.019431,0.018499,0.017311,0.015358,0.015278,...,0.017515,0.016110,0.016656,0.016240,0.011848,0.015390,0.019081,0.015741,0.025337,0.018544
2,cg06562372,0.024434,0.016055,0.017736,0.079565,0.013873,0.018993,0.034363,0.029264,0.045489,...,0.082414,0.043832,0.026010,0.015081,0.071585,0.039357,0.066754,0.014234,0.008521,0.022749

In [10]:
df2 = pd.read_csv ("Fatigue_BorutaMale_Top50.csv")
df2.head(2)

          CpG
0  cg18473117
1  cg17001689

In [11]:
df3 = pd.merge (df1, df2, on= "CpG", how= "inner")
df3.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
0,cg18763277,0.014544,0.011834,0.011795,0.011309,0.00915,0.012065,0.011295,0.010407,0.015724,...,0.013593,0.010668,0.012021,0.009668,0.009720,0.012349,0.012927,0.011344,0.008477,0.010039
1,cg14123992,0.706168,0.795863,0.814368,0.811281,0.81033,0.802805,0.813715,0.818708,0.759572,...,0.770520,0.763153,0.850510,0.761744,0.852371,0.818160,0.777276,0.769537,0.803530,0.807397

In [12]:
df3 = df3.transpose()
df3.head(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
CpG,cg18763277,cg14123992,cg14025220,cg06129513,cg03433260,cg18473117,cg23225637,cg16969182,cg09926649,cg00057317,...,cg16494828,cg22956956,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg12526471,cg25101936,cg27166921
1.0,0.014544,0.706168,0.899514,0.843875,0.038531,0.938774,0.874061,0.011725,0.832275,0.025983,...,0.012698,0.018457,0.906395,0.018032,0.812987,0.62662,0.874991,0.416863,0.560435,0.300019

In [13]:
df3.rename(columns=df3.iloc[0], inplace = True)

In [14]:
df3.index.name ='APPRDX'
df3.reset_index(inplace=True)
df3.head(2)

,APPRDX,cg18763277,cg14123992,cg14025220,cg06129513,cg03433260,cg18473117,cg23225637,cg16969182,cg09926649,...,cg16494828,cg22956956,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg12526471,cg25101936,cg27166921
0,CpG,cg18763277,cg14123992,cg14025220,cg06129513,cg03433260,cg18473117,cg23225637,cg16969182,cg09926649,...,cg16494828,cg22956956,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg12526471,cg25101936,cg27166921
1,1.0,0.014544,0.706168,0.899514,0.843875,0.038531,0.938774,0.874061,0.011725,0.832275,...,0.012698,0.018457,0.906395,0.018032,0.812987,0.62662,0.874991,0.416863,0.560435,0.300019

In [15]:
df3 = df3.drop ([0], axis = 0)
df3.head(2)

,APPRDX,cg18763277,cg14123992,cg14025220,cg06129513,cg03433260,cg18473117,cg23225637,cg16969182,cg09926649,...,cg16494828,cg22956956,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg12526471,cg25101936,cg27166921
1,1.0,0.014544,0.706168,0.899514,0.843875,0.038531,0.938774,0.874061,0.011725,0.832275,...,0.012698,0.018457,0.906395,0.018032,0.812987,0.62662,0.874991,0.416863,0.560435,0.300019
2,1.0,0.011834,0.795863,0.911433,0.920245,0.020036,0.928175,0.937422,0.014853,0.826505,...,0.012574,0.019397,0.90218,0.011688,0.897971,0.646688,0.866949,0.449186,0.599352,0.276575

In [ ]:
df3.reset_index(inplace = True, drop = True)
df3.head()

,APPRDX,cg18763277,cg14123992,cg14025220,cg06129513,cg03433260,cg18473117,cg23225637,cg16969182,cg09926649,...,cg16494828,cg22956956,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg12526471,cg25101936,cg27166921
0,1.0,0.014544,0.706168,0.899514,0.843875,0.038531,0.938774,0.874061,0.011725,0.832275,...,0.012698,0.018457,0.906395,0.018032,0.812987,0.62662,0.874991,0.416863,0.560435,0.300019
1,1.0,0.011834,0.795863,0.911433,0.920245,0.020036,0.928175,0.937422,0.014853,0.826505,...,0.012574,0.019397,0.90218,0.011688,0.897971,0.646688,0.866949,0.449186,0.599352,0.276575
2,1.0,0.011795,0.814368,0.910879,0.922113,0.048856,0.882784,0.894025,0.016542,0.794506,...,0.013394,0.018474,0.889371,0.011454,0.89016,0.610457,0.84604,0.398286,0.558453,0.402996
3,1.0,0.011309,0.811281,0.9395,0.902452,0.023357,0.846916,0.939026,0.008609,0.903202,...,0.012678,0.023916,0.879019,0.008509,0.877528,0.588449,0.881088,0.401721,0.49067,0.277644
4,1.0,0.00915,0.81033,0.925994,0.885714,0.032039,0.948415,0.887678,0.008158,0.839301,...,0.009479,0.017369,0.927048,0.010359,0.830541,0.574753,0.916431,0.424466,0.514081,0.278193

In [ ]:
df3.shape

In [ ]:
df3 ['APPRDX'] = df3 ['APPRDX'].apply(int)

## RanFor 1000 times, CpG only

In [ ]:
df3.head(2)

In [ ]:
df3.shape

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,1001) :
        print(i)
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

In [ ]:
dframe1.head(2)

In [ ]:
dframe1.to_csv ("LetNumSeq_BorutaCpG_Male_1000RF.csv")