# Random Forest Classification

## Importing the libraries

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\Only_Male\GeneCpG\TrailMakingB
df = pd.read_csv('TrailMakingBCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\Only_Male\GeneCpG\TrailMakingB
(149, 61926)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,Trail_Making_B_Category,cg02315971,cg24133836,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.028697,0.017000,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,200973410167_R05C01,3010,1,1,2,47.0,2,0,0.032514,0.024376,...,0.135166,0.040369,0.040454,0.054845,0.029884,0.033953,0.035941,0.869649,0.022581,0.837364
2,200989060140_R08C01,3071,1,2,0,71.5,4,0,0.029306,0.016859,...,0.210696,0.034217,0.057532,0.050986,0.061246,0.069935,0.056667,0.864325,0.032721,0.866873

In [4]:
df1 = df.drop(['PATNO', 'Sentrix', 'HYS', 'Gender', 'Age', 'AgeCate','Trail_Making_B_Category'], axis=1)
df1.head(2)

,APPRDX,cg02315971,cg24133836,cg03286969,cg11738782,cg25741731,cg24629744,cg23836745,cg11685489,cg06081147,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,1,0.028697,0.017000,0.018631,0.871526,0.026148,0.866396,0.922285,0.881489,0.647436,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,1,0.032514,0.024376,0.014555,0.830575,0.038973,0.840974,0.843498,0.843964,0.580843,...,0.135166,0.040369,0.040454,0.054845,0.029884,0.033953,0.035941,0.869649,0.022581,0.837364

In [5]:
df1 = df1.transpose()
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
APPRDX,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.00000,1.000000,2.000000,1.00000
cg02315971,0.028697,0.032514,0.029306,0.029561,0.032278,0.025483,0.024293,0.024587,0.020581,0.030575,...,0.019716,0.025688,0.020961,0.022105,0.020557,0.029005,0.02797,0.023084,0.023641,0.02361

In [6]:
df1.rename(columns=df1.iloc[0], inplace = True)

In [7]:
df1.index.name ='CpG'
df1.reset_index(inplace=True)
df1.head(2)

,CpG,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0
0,APPRDX,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.00000,1.000000,2.000000,1.00000
1,cg02315971,0.028697,0.032514,0.029306,0.029561,0.032278,0.025483,0.024293,0.024587,0.020581,...,0.019716,0.025688,0.020961,0.022105,0.020557,0.029005,0.02797,0.023084,0.023641,0.02361

In [8]:
df1 = df1.drop ([0], axis = 0)
df1.head(2)

,CpG,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0
1,cg02315971,0.028697,0.032514,0.029306,0.029561,0.032278,0.025483,0.024293,0.024587,0.020581,...,0.019716,0.025688,0.020961,0.022105,0.020557,0.029005,0.027970,0.023084,0.023641,0.023610
2,cg24133836,0.017000,0.024376,0.016859,0.016263,0.017849,0.013146,0.016187,0.011696,0.012516,...,0.015664,0.019554,0.013587,0.017732,0.014679,0.016137,0.018924,0.022102,0.015783,0.016976

In [9]:
df2 = pd.read_csv ("TrlMakB_BorutaMale_Top50.csv")
df2.head(2)

          CpG  Ranking
0  cg27074582        1
1  cg23266797        2

In [26]:
df3 = pd.merge (df1, df2, on= "CpG", how= "inner")
df3.head(2)

,CpG,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,Ranking
0,cg22491250,0.826536,0.767820,0.768357,0.671021,0.878888,0.820410,0.844047,0.824151,0.838224,...,0.807329,0.851239,0.840673,0.796913,0.829852,0.754509,0.833192,0.852800,0.741699,46
1,cg17456612,0.129620,0.192883,0.209592,0.033178,0.113332,0.107244,0.148454,0.169291,0.123849,...,0.174612,0.134470,0.144884,0.133228,0.177855,0.109425,0.152947,0.140516,0.128063,3

In [27]:
df3 = df3.transpose()
df3.head(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
CpG,cg22491250,cg17456612,cg22906524,cg24029994,cg00044757,cg02109003,cg16386508,cg24257038,cg11492856,cg18187148,...,cg27314273,cg08351100,cg14112935,cg05124260,cg10428394,cg08560373,cg19810426,cg25591106,cg16101065,cg14494661
1.0,0.826536,0.12962,0.569369,0.959547,0.827448,0.639496,0.902234,0.016959,0.911869,0.973669,...,0.86951,0.210532,0.562639,0.533905,0.612733,0.406922,0.293279,0.886256,0.086928,0.905255

In [28]:
df3.rename(columns=df3.iloc[0], inplace = True)

In [29]:
df3.index.name ='APPRDX'
df3.reset_index(inplace=True)
df3.head(2)

,APPRDX,cg22491250,cg17456612,cg22906524,cg24029994,cg00044757,cg02109003,cg16386508,cg24257038,cg11492856,...,cg27314273,cg08351100,cg14112935,cg05124260,cg10428394,cg08560373,cg19810426,cg25591106,cg16101065,cg14494661
0,CpG,cg22491250,cg17456612,cg22906524,cg24029994,cg00044757,cg02109003,cg16386508,cg24257038,cg11492856,...,cg27314273,cg08351100,cg14112935,cg05124260,cg10428394,cg08560373,cg19810426,cg25591106,cg16101065,cg14494661
1,1.0,0.826536,0.12962,0.569369,0.959547,0.827448,0.639496,0.902234,0.016959,0.911869,...,0.86951,0.210532,0.562639,0.533905,0.612733,0.406922,0.293279,0.886256,0.086928,0.905255

In [30]:
df3 = df3.drop ([0], axis = 0)
df3.head(2)

,APPRDX,cg22491250,cg17456612,cg22906524,cg24029994,cg00044757,cg02109003,cg16386508,cg24257038,cg11492856,...,cg27314273,cg08351100,cg14112935,cg05124260,cg10428394,cg08560373,cg19810426,cg25591106,cg16101065,cg14494661
1,1.0,0.826536,0.12962,0.569369,0.959547,0.827448,0.639496,0.902234,0.016959,0.911869,...,0.86951,0.210532,0.562639,0.533905,0.612733,0.406922,0.293279,0.886256,0.086928,0.905255
2,1.0,0.76782,0.192883,0.553591,0.902318,0.857494,0.565529,0.89493,0.015629,0.897121,...,0.85542,0.125857,0.641998,0.729819,0.603028,0.167838,0.227377,0.83418,0.075011,0.870986

In [31]:
df3.reset_index(inplace = True, drop = True)
df3.head()

,APPRDX,cg22491250,cg17456612,cg22906524,cg24029994,cg00044757,cg02109003,cg16386508,cg24257038,cg11492856,...,cg27314273,cg08351100,cg14112935,cg05124260,cg10428394,cg08560373,cg19810426,cg25591106,cg16101065,cg14494661
0,1.0,0.826536,0.12962,0.569369,0.959547,0.827448,0.639496,0.902234,0.016959,0.911869,...,0.86951,0.210532,0.562639,0.533905,0.612733,0.406922,0.293279,0.886256,0.086928,0.905255
1,1.0,0.76782,0.192883,0.553591,0.902318,0.857494,0.565529,0.89493,0.015629,0.897121,...,0.85542,0.125857,0.641998,0.729819,0.603028,0.167838,0.227377,0.83418,0.075011,0.870986
2,2.0,0.768357,0.209592,0.611962,0.950031,0.878257,0.614418,0.892727,0.013043,0.909162,...,0.896794,0.081266,0.536699,0.559587,0.548924,0.47944,0.269123,0.832374,0.098345,0.86553
3,2.0,0.671021,0.033178,0.539559,0.945294,0.795198,0.665375,0.874236,0.013038,0.876484,...,0.887455,0.139865,0.621818,0.664472,0.533777,0.390201,0.282759,0.693967,0.11221,0.847731
4,2.0,0.878888,0.113332,0.679806,0.969859,0.826952,0.490332,0.928267,0.019837,0.930022,...,0.869174,0.116495,0.487028,0.699019,0.531652,0.433253,0.257228,0.913202,0.061959,0.899498

In [32]:
df3.shape

(150, 51)

In [33]:
df3 ['APPRDX'] = df3 ['APPRDX'].apply(int)

ValueError: invalid literal for int() with base 10: 'Ranking'

## RanFor 1000 times, CpG only

In [ ]:
df3.head(2)

In [ ]:
df3.shape

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,1001) :
        print(i)
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(40))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

In [ ]:
dframe1.head(2)

In [ ]:
dframe1.to_csv ("TrlMakB_BorutaCpG_Male_1000RF.csv")