# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male
df = pd.read_csv('CountData_HYS1vs2_PD_withHYS_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male
(165, 58782)

,HudAlphaID,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0029,1,1,55,2,0,0,0,0,0,...,0,0,3,0,0,0,10,0,0,0
1,5104_SL_0031,1,16,274,20,1,0,0,0,1,...,1,44,6,1,0,5,19,9,0,0

In [3]:
df1 = df.drop(['HudAlphaID'], axis=1)
df1.head(2)

,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,1,1,55,2,0,0,0,0,0,0,...,0,0,3,0,0,0,10,0,0,0
1,1,16,274,20,1,0,0,0,1,0,...,1,44,6,1,0,5,19,9,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_Male.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0                  HYS
1    ENSG00000236031.1
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(165, 51)

,HYS,ENSG00000236031.1,ENSG00000187905.10,ENSG00000276945.1,ENSG00000263961.7,ENSG00000104974.11,ENSG00000206656.1,ENSG00000133657.15,ENSG00000228288.6,ENSG00000136267.13,...,ENSG00000261270.1,ENSG00000223427.1,ENSG00000228786.5,ENSG00000207378.1,ENSG00000239887.4,ENSG00000162873.14,ENSG00000266932.1,ENSG00000259268.1,ENSG00000103742.11,ENSG00000207697.1
0,1,5,1,9,12,1686,8,4928,0,0,...,197,0,0,12,2,12,5,15,0,101
1,1,9,24,2,60,4396,15,4298,5,6,...,265,1,1,3,21,158,4,11,41,51

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('HYS').apply(lambda x: x.sample(40))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7375
2
Mean accuracy: 0.675
3
Mean accuracy: 0.6625
4
Mean accuracy: 0.7625
5
Mean accuracy: 0.6875
6
Mean accuracy: 0.7125
7
Mean accuracy: 0.6625
8
Mean accuracy: 0.725
9
Mean accuracy: 0.6375
10
Mean accuracy: 0.7
11
Mean accuracy: 0.6375
12
Mean accuracy: 0.6375
13
Mean accuracy: 0.7125
14
Mean accuracy: 0.6875
15
Mean accuracy: 0.75
16
Mean accuracy: 0.6375
17
Mean accuracy: 0.675
18
Mean accuracy: 0.6375
19
Mean accuracy: 0.7375
20
Mean accuracy: 0.7375
21
Mean accuracy: 0.6625
22
Mean accuracy: 0.7
23
Mean accuracy: 0.6375
24
Mean accuracy: 0.7
25
Mean accuracy: 0.625
26
Mean accuracy: 0.7375
27
Mean accuracy: 0.7
28
Mean accuracy: 0.725
29
Mean accuracy: 0.65
30

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_HYS1vs2_Male_100RF.csv", index = False)

## Top 100 NMI

In [ ]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_Male.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

In [ ]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('HYS').apply(lambda x: x.sample(40))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_HYS1vs2_Male_100RF.csv", index = False)

## Top 250 NMI

In [ ]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_Male.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

In [ ]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('HYS').apply(lambda x: x.sample(40))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_HYS1vs2_Male_100RF.csv", index = False)

## Top 500 NMI

In [ ]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_Male.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

In [ ]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('HYS').apply(lambda x: x.sample(40))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_HYS1vs2_Male_100RF.csv", index = False)