# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
df = pd.read_csv('CountData_HYS1vs2vs3_PD_withHYS_Male.csv')
df = df[df['HYS'] != 3]
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
(729, 58782)

,HudAlphaID,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0001,2,15,232,15,0,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,5104_SL_0007,2,0,97,8,0,0,0,0,0,...,0,9,0,1,0,0,7,1,0,0

In [3]:
df1 = df.drop(['HudAlphaID'], axis=1)
df1.head(2)

,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,2,15,232,15,0,0,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,2,0,97,8,0,0,0,0,0,2,...,0,9,0,1,0,0,7,1,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0                   HYS
1    ENSG00000091129.19
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(729, 51)

,HYS,ENSG00000091129.19,ENSG00000230910.3,ENSG00000182985.17,ENSG00000266145.1,ENSG00000073464.11,ENSG00000153201.15,ENSG00000232208.2,ENSG00000283125.1,ENSG00000251669.5,...,ENSG00000258170.1,ENSG00000279254.1,ENSG00000173114.12,ENSG00000272909.1,ENSG00000259054.1,ENSG00000167774.2,ENSG00000211935.3,ENSG00000197885.10,ENSG00000262652.1,ENSG00000265450.1
0,2,176,144,424,23,885,10758,70,7,88,...,0,54,488,148,8,0,31,180,118,25
1,2,56,23,112,9,1100,9592,109,19,35,...,0,45,189,54,6,3,77,160,71,8

In [6]:
df['HYS'].value_counts()

2    511
1    218
Name: HYS, dtype: int64

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('HYS').apply(lambda x: x.sample(100))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.69
2
Mean accuracy: 0.6199999999999999
3
Mean accuracy: 0.6749999999999999
4
Mean accuracy: 0.6599999999999999
5
Mean accuracy: 0.6250000000000001
6
Mean accuracy: 0.6
7
Mean accuracy: 0.64
8
Mean accuracy: 0.635
9
Mean accuracy: 0.6100000000000001
10
Mean accuracy: 0.5549999999999999
11
Mean accuracy: 0.635
12
Mean accuracy: 0.595
13
Mean accuracy: 0.625
14
Mean accuracy: 0.685
15
Mean accuracy: 0.65
16
Mean accuracy: 0.635
17
Mean accuracy: 0.625
18
Mean accuracy: 0.6799999999999999
19
Mean accuracy: 0.6399999999999999
20
Mean accuracy: 0.64
21
Mean accuracy: 0.65
22
Mean accuracy: 0.635
23
Mean accuracy: 0.625
24
Mean accuracy: 0.6749999999999999
25
Mean accuracy: 0.58
26
Mean accuracy: 0.645
27
Mean accuracy: 0.7100000000000001
28
Mean accuracy: 0.675
29
Mean accuracy: 0.6599999999999999
30
Mean accuracy: 0.5599999999999999
31
Mean accuracy: 0.61
32
Mean accuracy: 0.6599999999999999
33
Mean accuracy: 0.7
34
Mean accuracy: 0.5700000000000001
35
Mean accuracy: 0.61
36
Mean accuracy: 0.67
37
Mean accuracy: 0.6100000000000001
38
Mean accuracy: 0.655
39
Mean accuracy: 0.6699999999999999
40
Mean accuracy: 0.68
41
Mean accuracy: 0.6100000000000001
42
Mean accuracy: 0.6499999999999999
43
Mean accuracy: 0.6950000000000001
44
Mean accuracy: 0.6199999999999999
45
Mean accuracy: 0.63
46
Mean accuracy: 0.6699999999999999
47
Mean accuracy: 0.6000000000000001
48
Mean accuracy: 0.615
49
Mean accuracy: 0.665
50
Mean accuracy: 0.6950000000000001
51
Mean accuracy: 0.665
52
Mean accuracy: 0.6799999999999999
53
Mean accuracy: 0.65
54
Mean accuracy: 0.615
55
Mean accuracy: 0.55
56
Mean accuracy: 0.6100000000000001
57
Mean accuracy: 0.63
58
Mean accuracy: 0.655
59
Mean accuracy: 0.64
60
Mean accuracy: 0.6849999999999998
61
Mean accuracy: 0.645
62
Mean accuracy: 0.635
63
Mean accuracy: 0.6649999999999999
64
Mean accuracy: 0.605
65
Mean accuracy: 0.725
66
Mean accuracy: 0.6900000000000001
67
Mean accuracy: 0.665
68
Mean accuracy: 0.6500000000000001
69
Mean accuracy: 0.675
70
Mean accuracy: 0.655
71
Mean accuracy: 0.5549999999999999
72
Mean accuracy: 0.67
73
Mean accuracy: 0.6599999999999999
74
Mean accuracy: 0.64
75
Mean accuracy: 0.59
76
Mean accuracy: 0.6450000000000001
77
Mean accuracy: 0.65
78
Mean accuracy: 0.67
79
Mean accuracy: 0.6900000000000001
80
Mean accuracy: 0.63
81
Mean accuracy: 0.7050000000000001
82
Mean accuracy: 0.6500000000000001
83
Mean accuracy: 0.6399999999999999
84
Mean accuracy: 0.625
85
Mean accuracy: 0.625
86
Mean accuracy: 0.6450000000000001
87
Mean accuracy: 0.635
88
Mean accuracy: 0.5850000000000001
89
Mean accuracy: 0.665
90
Mean accuracy: 0.675
91
Mean accuracy: 0.7299999999999999
92
Mean accuracy: 0.655
93
Mean accuracy: 0.6399999999999999
94
Mean accuracy: 0.595
95
Mean accuracy: 0.635
96
Mean accuracy: 0.6249999999999999
97
Mean accuracy: 0.665
98
Mean accuracy: 0.7
99
Mean accuracy: 0.62
100
Mean accuracy: 0.675

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_HYS1vs2_Male_100RF.csv", index = False)

0.6439999999999999

## Top 100 NMI

In [12]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0                   HYS
1    ENSG00000091129.19
Name: Geneid, dtype: object

In [13]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(729, 101)

,HYS,ENSG00000091129.19,ENSG00000230910.3,ENSG00000182985.17,ENSG00000266145.1,ENSG00000073464.11,ENSG00000153201.15,ENSG00000232208.2,ENSG00000283125.1,ENSG00000251669.5,...,ENSG00000100453.12,ENSG00000248327.1,ENSG00000260916.7,ENSG00000136021.18,ENSG00000271447.5,ENSG00000131459.12,ENSG00000258365.1,ENSG00000125971.16,ENSG00000257083.5,ENSG00000274602.4
0,2,176,144,424,23,885,10758,70,7,88,...,2444,0,3445,5030,61,38,126,694,36,89
1,2,56,23,112,9,1100,9592,109,19,35,...,1739,3,3692,4672,19,27,71,400,34,205

In [14]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('HYS').apply(lambda x: x.sample(100))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.705
2
Mean accuracy: 0.66
3
Mean accuracy: 0.6950000000000001
4
Mean accuracy: 0.635
5
Mean accuracy: 0.6250000000000001
6
Mean accuracy: 0.595
7
Mean accuracy: 0.66
8
Mean accuracy: 0.6599999999999999
9
Mean accuracy: 0.6300000000000001
10
Mean accuracy: 0.61
11
Mean accuracy: 0.6199999999999999
12
Mean accuracy: 0.5700000000000001
13
Mean accuracy: 0.65
14
Mean accuracy: 0.67
15
Mean accuracy: 0.635
16
Mean accuracy: 0.6
17
Mean accuracy: 0.675
18
Mean accuracy: 0.6749999999999999
19
Mean accuracy: 0.6749999999999999
20
Mean accuracy: 0.6799999999999999
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.7
23
Mean accuracy: 0.655
24
Mean accuracy: 0.6649999999999999
25
Mean accuracy: 0.6599999999999999
26
Mean accuracy: 0.655
27
Mean accuracy: 0.6900000000000001
28
Mean accuracy: 0.71
29
Mean accuracy: 0.66
30
Mean accuracy: 0.605
31
Mean accuracy: 0.6200000000000001
32
Mean accuracy: 0.6950000000000001
33
Mean accuracy: 0.66
34
Mean accuracy: 0.635
35
Mean accuracy: 0.63
36
Mean accuracy: 0.6950000000000001
37
Mean accuracy: 0.5850000000000001
38
Mean accuracy: 0.7300000000000001
39
Mean accuracy: 0.6950000000000001
40
Mean accuracy: 0.685
41
Mean accuracy: 0.62
42
Mean accuracy: 0.655
43
Mean accuracy: 0.675
44
Mean accuracy: 0.6649999999999999
45
Mean accuracy: 0.6300000000000001
46
Mean accuracy: 0.705
47
Mean accuracy: 0.635
48
Mean accuracy: 0.59
49
Mean accuracy: 0.66
50
Mean accuracy: 0.735
51
Mean accuracy: 0.615
52
Mean accuracy: 0.6300000000000001
53
Mean accuracy: 0.675
54
Mean accuracy: 0.6599999999999999
55
Mean accuracy: 0.595
56
Mean accuracy: 0.6300000000000001
57
Mean accuracy: 0.64
58
Mean accuracy: 0.6699999999999999
59
Mean accuracy: 0.635
60
Mean accuracy: 0.67
61
Mean accuracy: 0.625
62
Mean accuracy: 0.7
63
Mean accuracy: 0.65
64
Mean accuracy: 0.61
65
Mean accuracy: 0.6749999999999999
66
Mean accuracy: 0.6849999999999999
67
Mean accuracy: 0.6849999999999999
68
Mean accuracy: 0.6950000000000001
69
Mean accuracy: 0.645
70
Mean accuracy: 0.65
71
Mean accuracy: 0.645
72
Mean accuracy: 0.6249999999999999
73
Mean accuracy: 0.66
74
Mean accuracy: 0.65
75
Mean accuracy: 0.59
76
Mean accuracy: 0.71
77
Mean accuracy: 0.725
78
Mean accuracy: 0.66
79
Mean accuracy: 0.6399999999999999
80
Mean accuracy: 0.665
81
Mean accuracy: 0.7
82
Mean accuracy: 0.6900000000000001
83
Mean accuracy: 0.655
84
Mean accuracy: 0.615
85
Mean accuracy: 0.6849999999999999
86
Mean accuracy: 0.635
87
Mean accuracy: 0.635
88
Mean accuracy: 0.62
89
Mean accuracy: 0.635
90
Mean accuracy: 0.685
91
Mean accuracy: 0.7200000000000001
92
Mean accuracy: 0.5700000000000001
93
Mean accuracy: 0.7
94
Mean accuracy: 0.65
95
Mean accuracy: 0.6599999999999999
96
Mean accuracy: 0.6950000000000001
97
Mean accuracy: 0.675
98
Mean accuracy: 0.65
99
Mean accuracy: 0.67
100
Mean accuracy: 0.6599999999999999

In [15]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_HYS1vs2_Male_100RF.csv", index = False)

0.6560000000000001

## Top 250 NMI

In [17]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0                   HYS
1    ENSG00000091129.19
Name: Geneid, dtype: object

In [18]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(729, 251)

,HYS,ENSG00000091129.19,ENSG00000230910.3,ENSG00000182985.17,ENSG00000266145.1,ENSG00000073464.11,ENSG00000153201.15,ENSG00000232208.2,ENSG00000283125.1,ENSG00000251669.5,...,ENSG00000251411.1,ENSG00000270793.1,ENSG00000229738.1,ENSG00000211727.3,ENSG00000230262.6,ENSG00000211978.2,ENSG00000215284.2,ENSG00000221930.6,ENSG00000260135.6,ENSG00000184613.10
0,2,176,144,424,23,885,10758,70,7,88,...,38,0,1,53,11,15,38,19,31,5330
1,2,56,23,112,9,1100,9592,109,19,35,...,17,0,2,19,1,37,56,48,3,3126

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('HYS').apply(lambda x: x.sample(100))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.675
2
Mean accuracy: 0.69
3
Mean accuracy: 0.655
4

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_HYS1vs2_Male_100RF.csv", index = False)

## Top 500 NMI

In [ ]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

In [ ]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('HYS').apply(lambda x: x.sample(100))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_HYS1vs2_Male_100RF.csv", index = False)