# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Male
df = pd.read_csv('All_Counts_PatAndHealthy_Disease_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Male
(1346, 58783)

,HudAlphaID,DIAGNOSIS,PATNO,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0001,PD,3174,15,232,15,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,5104_SL_0007,PD,3471,0,97,8,0,0,0,0,...,0,9,0,1,0,0,7,1,0,0

In [3]:
df1 = df.drop(['HudAlphaID' ,'PATNO'], axis=1)
df1.head(2)

,DIAGNOSIS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,PD,15,232,15,0,0,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,PD,0,97,8,0,0,0,0,0,2,...,0,9,0,1,0,0,7,1,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_Male.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000257878.1
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(1346, 51)

,DIAGNOSIS,ENSG00000257878.1,ENSG00000281741.2,ENSG00000111490.13,ENSG00000168126.3,ENSG00000268240.1,ENSG00000100218.11,ENSG00000114656.11,ENSG00000234290.2,ENSG00000187010.20,...,ENSG00000152463.14,ENSG00000167434.9,ENSG00000271554.1,ENSG00000196914.8,ENSG00000259651.2,ENSG00000258476.5,ENSG00000285106.1,ENSG00000277763.1,ENSG00000270210.1,ENSG00000249138.1
0,PD,566,88,228,27,117,48,504,243,9,...,4,391,23,11424,407,349,1306,134,8,751
1,PD,1077,22,440,24,64,46,660,146,0,...,8,446,12,5199,540,490,969,96,25,1154

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.64
2
Mean accuracy: 0.5650000000000002
3
Mean accuracy: 0.585
4
Mean accuracy: 0.6249999999999999
5
Mean accuracy: 0.565
6
Mean accuracy: 0.6399999999999999
7
Mean accuracy: 0.595
8
Mean accuracy: 0.575
9
Mean accuracy: 0.545
10
Mean accuracy: 0.56
11
Mean accuracy: 0.67
12
Mean accuracy: 0.65
13
Mean accuracy: 0.59
14
Mean accuracy: 0.605
15
Mean accuracy: 0.6799999999999999
16
Mean accuracy: 0.6150000000000001
17
Mean accuracy: 0.645
18
Mean accuracy: 0.6149999999999999
19
Mean accuracy: 0.6199999999999999
20
Mean accuracy: 0.6049999999999999
21
Mean accuracy: 0.635
22
Mean accuracy: 0.67
23
Mean accuracy: 0.615
24
Mean accuracy: 0.62
25
Mean accuracy: 0.625
26
Mean accuracy: 0.63
27
Mean accuracy: 0.62
28
Mean accuracy: 0.63
29
Mean accuracy: 0.635
30
Mean accuracy: 0.6199999999999999
31
Mean accuracy: 0.665
32
Mean accuracy: 0.58
33
Mean accuracy: 0.5599999999999999
34
Mean accuracy: 0.6599999999999999
35
Mean accuracy: 0.6399999999999999
36
Mean accuracy: 0.6000000000000001
37
Mean accuracy: 0.62
38
Mean accuracy: 0.635
39
Mean accuracy: 0.5700000000000001
40
Mean accuracy: 0.655
41
Mean accuracy: 0.5900000000000001
42
Mean accuracy: 0.6100000000000001
43
Mean accuracy: 0.615
44
Mean accuracy: 0.6250000000000001
45
Mean accuracy: 0.6499999999999999
46
Mean accuracy: 0.6799999999999999
47
Mean accuracy: 0.615
48
Mean accuracy: 0.5899999999999999
49
Mean accuracy: 0.665
50
Mean accuracy: 0.62
51
Mean accuracy: 0.6100000000000001
52
Mean accuracy: 0.6250000000000001
53
Mean accuracy: 0.655
54
Mean accuracy: 0.675
55
Mean accuracy: 0.6400000000000001
56
Mean accuracy: 0.625
57
Mean accuracy: 0.6399999999999999
58
Mean accuracy: 0.6699999999999999
59
Mean accuracy: 0.5950000000000001
60
Mean accuracy: 0.6250000000000001
61
Mean accuracy: 0.7150000000000001
62
Mean accuracy: 0.5850000000000001
63
Mean accuracy: 0.635
64
Mean accuracy: 0.6300000000000001
65
Mean accuracy: 0.6450000000000001
66
Mean accuracy: 0.5549999999999999
67
Mean accuracy: 0.625
68
Mean accuracy: 0.645
69
Mean accuracy: 0.63
70
Mean accuracy: 0.6449999999999999
71
Mean accuracy: 0.61
72
Mean accuracy: 0.7
73
Mean accuracy: 0.6749999999999999
74
Mean accuracy: 0.6199999999999999
75
Mean accuracy: 0.67
76
Mean accuracy: 0.615
77
Mean accuracy: 0.61
78
Mean accuracy: 0.62
79
Mean accuracy: 0.655
80
Mean accuracy: 0.6649999999999999
81
Mean accuracy: 0.665
82
Mean accuracy: 0.62
83
Mean accuracy: 0.5799999999999998
84
Mean accuracy: 0.675
85
Mean accuracy: 0.575
86
Mean accuracy: 0.635
87
Mean accuracy: 0.5549999999999999
88
Mean accuracy: 0.59
89
Mean accuracy: 0.6050000000000001
90
Mean accuracy: 0.5799999999999998
91
Mean accuracy: 0.63
92
Mean accuracy: 0.55
93
Mean accuracy: 0.63
94
Mean accuracy: 0.5950000000000001
95
Mean accuracy: 0.64
96
Mean accuracy: 0.5900000000000001
97
Mean accuracy: 0.6299999999999999
98
Mean accuracy: 0.6199999999999999
99
Mean accuracy: 0.65
100
Mean accuracy: 0.575

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_DEGs_Male_100RF.csv", index = False)

0.6223500000000002

## Top 100 NMI

In [8]:
df2 = pd.read_csv('NMI_AllCounts_Male.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000257878.1
Name: Geneid, dtype: object

In [9]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(1346, 101)

,DIAGNOSIS,ENSG00000257878.1,ENSG00000281741.2,ENSG00000111490.13,ENSG00000168126.3,ENSG00000268240.1,ENSG00000100218.11,ENSG00000114656.11,ENSG00000234290.2,ENSG00000187010.20,...,ENSG00000276533.1,ENSG00000116514.16,ENSG00000174885.12,ENSG00000257156.1,ENSG00000135378.3,ENSG00000242113.3,ENSG00000166947.13,ENSG00000271736.1,ENSG00000282939.1,ENSG00000244607.6
0,PD,566,88,228,27,117,48,504,243,9,...,507,2369,975,50,1345,52,12437,208,91,53
1,PD,1077,22,440,24,64,46,660,146,0,...,485,2778,1569,171,2992,57,1995,84,125,41

In [10]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.625
2
Mean accuracy: 0.5449999999999999
3
Mean accuracy: 0.6549999999999999
4
Mean accuracy: 0.6449999999999999
5
Mean accuracy: 0.5700000000000001
6
Mean accuracy: 0.645
7
Mean accuracy: 0.6000000000000001
8
Mean accuracy: 0.5599999999999999
9
Mean accuracy: 0.5050000000000001
10
Mean accuracy: 0.625
11
Mean accuracy: 0.6649999999999999
12
Mean accuracy: 0.645
13
Mean accuracy: 0.62
14
Mean accuracy: 0.6499999999999999
15
Mean accuracy: 0.6649999999999999
16
Mean accuracy: 0.6
17
Mean accuracy: 0.62
18
Mean accuracy: 0.625
19
Mean accuracy: 0.5599999999999999
20
Mean accuracy: 0.63
21
Mean accuracy: 0.655
22
Mean accuracy: 0.6600000000000001
23
Mean accuracy: 0.6399999999999999
24
Mean accuracy: 0.655
25
Mean accuracy: 0.6300000000000001
26
Mean accuracy: 0.6449999999999999
27
Mean accuracy: 0.615
28
Mean accuracy: 0.67
29
Mean accuracy: 0.6300000000000001
30
Mean accuracy: 0.63
31
Mean accuracy: 0.67
32
Mean accuracy: 0.625
33
Mean accuracy: 0.5800000000000001
34
Mean accuracy: 0.645
35
Mean accuracy: 0.6399999999999999
36
Mean accuracy: 0.6250000000000001
37
Mean accuracy: 0.645
38
Mean accuracy: 0.6199999999999999
39
Mean accuracy: 0.6799999999999999
40
Mean accuracy: 0.7000000000000001
41
Mean accuracy: 0.615
42
Mean accuracy: 0.605
43
Mean accuracy: 0.5999999999999999
44
Mean accuracy: 0.6
45
Mean accuracy: 0.6900000000000001
46
Mean accuracy: 0.6250000000000001
47
Mean accuracy: 0.675
48
Mean accuracy: 0.665
49
Mean accuracy: 0.7
50
Mean accuracy: 0.6100000000000001
51
Mean accuracy: 0.6100000000000001
52
Mean accuracy: 0.6449999999999999
53
Mean accuracy: 0.6500000000000001
54
Mean accuracy: 0.6199999999999999
55
Mean accuracy: 0.6599999999999999
56
Mean accuracy: 0.645
57
Mean accuracy: 0.6599999999999999
58
Mean accuracy: 0.69
59
Mean accuracy: 0.605
60
Mean accuracy: 0.65
61
Mean accuracy: 0.7
62
Mean accuracy: 0.6050000000000001
63
Mean accuracy: 0.645
64
Mean accuracy: 0.665
65
Mean accuracy: 0.6250000000000001
66
Mean accuracy: 0.5800000000000001
67
Mean accuracy: 0.6399999999999999
68
Mean accuracy: 0.635
69
Mean accuracy: 0.64
70
Mean accuracy: 0.6300000000000001
71
Mean accuracy: 0.615
72
Mean accuracy: 0.645
73
Mean accuracy: 0.68
74
Mean accuracy: 0.65
75
Mean accuracy: 0.675
76
Mean accuracy: 0.6849999999999999
77
Mean accuracy: 0.6100000000000001
78
Mean accuracy: 0.635
79
Mean accuracy: 0.62
80
Mean accuracy: 0.6699999999999999
81
Mean accuracy: 0.645
82
Mean accuracy: 0.6100000000000001
83
Mean accuracy: 0.5900000000000001
84
Mean accuracy: 0.655
85
Mean accuracy: 0.54
86
Mean accuracy: 0.615
87
Mean accuracy: 0.5900000000000001
88
Mean accuracy: 0.615
89
Mean accuracy: 0.625
90
Mean accuracy: 0.5349999999999999
91
Mean accuracy: 0.6300000000000001
92
Mean accuracy: 0.6199999999999999
93
Mean accuracy: 0.6199999999999999
94
Mean accuracy: 0.635
95
Mean accuracy: 0.62
96
Mean accuracy: 0.625
97
Mean accuracy: 0.6300000000000001
98
Mean accuracy: 0.63
99
Mean accuracy: 0.6449999999999999
100
Mean accuracy: 0.61

In [11]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_DEGs_Male_100RF.csv", index = False)

0.6307

## Top 250 NMI

In [12]:
df2 = pd.read_csv('NMI_AllCounts_Male.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000257878.1
Name: Geneid, dtype: object

In [13]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(1346, 251)

,DIAGNOSIS,ENSG00000257878.1,ENSG00000281741.2,ENSG00000111490.13,ENSG00000168126.3,ENSG00000268240.1,ENSG00000100218.11,ENSG00000114656.11,ENSG00000234290.2,ENSG00000187010.20,...,ENSG00000257258.1,ENSG00000261474.1,ENSG00000285554.1,ENSG00000204613.10,ENSG00000214851.4,ENSG00000036448.9,ENSG00000115594.11,ENSG00000279330.1,ENSG00000145819.16,ENSG00000205181.5
0,PD,566,88,228,27,117,48,504,243,9,...,21,40,70,1269,7,3665,1315,540,25320,233
1,PD,1077,22,440,24,64,46,660,146,0,...,23,22,52,302,6,655,1768,464,29737,379

In [14]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.645
2
Mean accuracy: 0.63
3
Mean accuracy: 0.59
4
Mean accuracy: 0.635
5
Mean accuracy: 0.595
6
Mean accuracy: 0.61
7
Mean accuracy: 0.61
8
Mean accuracy: 0.605
9
Mean accuracy: 0.545
10
Mean accuracy: 0.565
11
Mean accuracy: 0.6449999999999999
12
Mean accuracy: 0.6300000000000001
13
Mean accuracy: 0.61
14
Mean accuracy: 0.635
15
Mean accuracy: 0.69
16
Mean accuracy: 0.6100000000000001
17
Mean accuracy: 0.6249999999999999
18
Mean accuracy: 0.63
19
Mean accuracy: 0.575
20
Mean accuracy: 0.64
21
Mean accuracy: 0.6100000000000001
22
Mean accuracy: 0.6450000000000001
23
Mean accuracy: 0.62
24
Mean accuracy: 0.635
25
Mean accuracy: 0.6
26
Mean accuracy: 0.6300000000000001
27
Mean accuracy: 0.625
28
Mean accuracy: 0.665
29
Mean accuracy: 0.635
30
Mean accuracy: 0.6199999999999999
31
Mean accuracy: 0.7
32
Mean accuracy: 0.605
33
Mean accuracy: 0.5649999999999998
34
Mean accuracy: 0.645
35
Mean accuracy: 0.635
36
Mean accuracy: 0.6100000000000001
37
Mean accuracy: 0.665
38
Mean accuracy: 0.6500000000000001
39
Mean accuracy: 0.6599999999999999
40
Mean accuracy: 0.6799999999999999
41
Mean accuracy: 0.5900000000000001
42
Mean accuracy: 0.575
43
Mean accuracy: 0.62
44
Mean accuracy: 0.6100000000000001
45
Mean accuracy: 0.6900000000000001
46
Mean accuracy: 0.6449999999999999
47
Mean accuracy: 0.6849999999999999
48
Mean accuracy: 0.635
49
Mean accuracy: 0.645
50
Mean accuracy: 0.5700000000000001
51
Mean accuracy: 0.625
52
Mean accuracy: 0.66
53
Mean accuracy: 0.635
54
Mean accuracy: 0.655
55
Mean accuracy: 0.6599999999999999
56
Mean accuracy: 0.6549999999999999
57
Mean accuracy: 0.6699999999999999
58
Mean accuracy: 0.7050000000000001
59
Mean accuracy: 0.61
60
Mean accuracy: 0.595
61
Mean accuracy: 0.715
62
Mean accuracy: 0.5549999999999999
63
Mean accuracy: 0.645
64
Mean accuracy: 0.655
65
Mean accuracy: 0.615
66
Mean accuracy: 0.65
67
Mean accuracy: 0.585
68
Mean accuracy: 0.625
69
Mean accuracy: 0.625
70
Mean accuracy: 0.6799999999999999
71
Mean accuracy: 0.64
72
Mean accuracy: 0.665
73
Mean accuracy: 0.6849999999999999
74
Mean accuracy: 0.655
75
Mean accuracy: 0.6749999999999999
76
Mean accuracy: 0.6699999999999999
77
Mean accuracy: 0.595
78
Mean accuracy: 0.625
79
Mean accuracy: 0.625
80
Mean accuracy: 0.67
81
Mean accuracy: 0.6649999999999999
82
Mean accuracy: 0.635
83
Mean accuracy: 0.575
84
Mean accuracy: 0.64
85
Mean accuracy: 0.5399999999999999
86
Mean accuracy: 0.625
87
Mean accuracy: 0.565
88
Mean accuracy: 0.635
89
Mean accuracy: 0.6100000000000001
90
Mean accuracy: 0.585
91
Mean accuracy: 0.59
92
Mean accuracy: 0.575
93
Mean accuracy: 0.625
94
Mean accuracy: 0.6
95
Mean accuracy: 0.6050000000000001
96
Mean accuracy: 0.6199999999999999
97
Mean accuracy: 0.605
98
Mean accuracy: 0.645
99
Mean accuracy: 0.655
100
Mean accuracy: 0.655

In [15]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_DEGs_Male_100RF.csv", index = False)

0.6286

## Top 500 NMI

In [16]:
df2 = pd.read_csv('NMI_AllCounts_Male.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

0            DIAGNOSIS
1    ENSG00000257878.1
Name: Geneid, dtype: object

In [17]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

(1346, 501)

,DIAGNOSIS,ENSG00000257878.1,ENSG00000281741.2,ENSG00000111490.13,ENSG00000168126.3,ENSG00000268240.1,ENSG00000100218.11,ENSG00000114656.11,ENSG00000234290.2,ENSG00000187010.20,...,ENSG00000204528.3,ENSG00000136819.15,ENSG00000220267.1,ENSG00000211666.2,ENSG00000253521.2,ENSG00000204010.3,ENSG00000283155.1,ENSG00000105443.14,ENSG00000230537.1,ENSG00000122733.12
0,PD,566,88,228,27,117,48,504,243,9,...,8,21457,37,1014,28,2585,24,1257,27,39
1,PD,1077,22,440,24,64,46,660,146,0,...,1,5630,56,529,20,831,26,1361,38,31

In [18]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('DIAGNOSIS').apply(lambda x: x.sample(100))
    X = df2.drop('DIAGNOSIS', axis = 1)
    y = df2['DIAGNOSIS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.65
2
Mean accuracy: 0.6
3
Mean accuracy: 0.66
4
Mean accuracy: 0.63
5
Mean accuracy: 0.6
6
Mean accuracy: 0.615
7
Mean accuracy: 0.6000000000000001
8
Mean accuracy: 0.635
9
Mean accuracy: 0.5750000000000001
10
Mean accuracy: 0.58
11
Mean accuracy: 0.62
12
Mean accuracy: 0.65
13
Mean accuracy: 0.575
14
Mean accuracy: 0.615
15
Mean accuracy: 0.6599999999999999
16
Mean accuracy: 0.625
17
Mean accuracy: 0.6100000000000001
18
Mean accuracy: 0.66
19
Mean accuracy: 0.5900000000000001
20
Mean accuracy: 0.67
21
Mean accuracy: 0.63
22
Mean accuracy: 0.655
23
Mean accuracy: 0.62
24
Mean accuracy: 0.68
25
Mean accuracy: 0.5999999999999999
26
Mean accuracy: 0.615
27
Mean accuracy: 0.65
28
Mean accuracy: 0.635
29
Mean accuracy: 0.6799999999999999
30
Mean accuracy: 0.61
31
Mean accuracy: 0.6799999999999999
32
Mean accuracy: 0.5599999999999999
33
Mean accuracy: 0.57
34
Mean accuracy: 0.5850000000000001
35
Mean accuracy: 0.6
36
Mean accuracy: 0.6100000000000001
37
Mean accuracy: 0.655
38
Mean accuracy: 0.655
39
Mean accuracy: 0.67
40
Mean accuracy: 0.665
41
Mean accuracy: 0.605
42
Mean accuracy: 0.5549999999999999
43
Mean accuracy: 0.575
44
Mean accuracy: 0.64
45
Mean accuracy: 0.695
46
Mean accuracy: 0.6799999999999999
47
Mean accuracy: 0.6799999999999999
48
Mean accuracy: 0.6250000000000001
49
Mean accuracy: 0.675
50
Mean accuracy: 0.625
51
Mean accuracy: 0.6699999999999999
52
Mean accuracy: 0.655
53
Mean accuracy: 0.635
54
Mean accuracy: 0.635
55
Mean accuracy: 0.675
56
Mean accuracy: 0.645
57
Mean accuracy: 0.6950000000000001
58
Mean accuracy: 0.675
59
Mean accuracy: 0.62
60
Mean accuracy: 0.625
61
Mean accuracy: 0.72
62
Mean accuracy: 0.56
63
Mean accuracy: 0.635
64
Mean accuracy: 0.655
65
Mean accuracy: 0.6100000000000001
66
Mean accuracy: 0.6100000000000001
67
Mean accuracy: 0.67
68
Mean accuracy: 0.635
69
Mean accuracy: 0.61
70
Mean accuracy: 0.6799999999999999
71
Mean accuracy: 0.5850000000000001
72
Mean accuracy: 0.6249999999999999
73
Mean accuracy: 0.66
74
Mean accuracy: 0.665
75
Mean accuracy: 0.65
76
Mean accuracy: 0.6849999999999999
77
Mean accuracy: 0.635
78
Mean accuracy: 0.62
79
Mean accuracy: 0.61
80
Mean accuracy: 0.675
81
Mean accuracy: 0.6500000000000001
82
Mean accuracy: 0.6100000000000001
83
Mean accuracy: 0.59
84
Mean accuracy: 0.68
85
Mean accuracy: 0.5399999999999999
86
Mean accuracy: 0.6249999999999999
87
Mean accuracy: 0.545
88
Mean accuracy: 0.645
89
Mean accuracy: 0.63
90
Mean accuracy: 0.5850000000000001
91
Mean accuracy: 0.63
92
Mean accuracy: 0.62
93
Mean accuracy: 0.66
94
Mean accuracy: 0.6
95
Mean accuracy: 0.62
96
Mean accuracy: 0.625
97
Mean accuracy: 0.6249999999999999
98
Mean accuracy: 0.67
99
Mean accuracy: 0.63
100
Mean accuracy: 0.635

In [19]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_DEGs_Male_100RF.csv", index = False)

0.6313999999999999