# Random Forest Classification

## Importing the libraries

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
df = pd.read_csv('STAIS_with_MethylomeDetails_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
(150, 3050)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,STAIS_Category,cg26354221,cg02237342,...,cg12383788,cg09938164,cg16043968,cg06398244,cg26924480,cg06985259,cg09180977,cg05600023,cg01781529,cg02839875
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.918085,0.016498,...,0.920545,0.820139,0.943315,0.920632,0.876711,0.929227,0.946104,0.848444,0.605773,0.629179
1,200991620021_R03C01,3002,2,1,2,67.6,4,2,0.931688,0.025810,...,0.927666,0.774644,0.944821,0.885769,0.870694,0.933138,0.916203,0.797292,0.631043,0.648518

In [3]:
df1 = df.drop(['PATNO', 'Sentrix', 'HYS', 'Gender', 'STAIS_Category','Age','AgeCate'], axis=1)
print(df1.shape)
df1.head(2)

(150, 3043)

,APPRDX,cg26354221,cg02237342,cg06516974,cg20660269,cg12793123,cg08025954,cg21584430,cg26001125,cg10766357,...,cg12383788,cg09938164,cg16043968,cg06398244,cg26924480,cg06985259,cg09180977,cg05600023,cg01781529,cg02839875
0,2,0.918085,0.016498,0.016215,0.014990,0.011442,0.054316,0.864747,0.679647,0.869149,...,0.920545,0.820139,0.943315,0.920632,0.876711,0.929227,0.946104,0.848444,0.605773,0.629179
1,1,0.931688,0.025810,0.022368,0.016941,0.011760,0.064698,0.795468,0.643644,0.833223,...,0.927666,0.774644,0.944821,0.885769,0.870694,0.933138,0.916203,0.797292,0.631043,0.648518

## RanFor 100 times, CpG only

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
dframe1.to_csv ("STAIS_AllCpG_Accuracy_100RF.csv", index=False)

In [6]:
dframe1.head(2)

   Accuracy   Std_Dev
0  0.528571  0.128571
1  0.542857  0.219461

## RanFor 1000 times. Samples = 50

In [7]:
df2 = df1.drop (['APPRDX'], axis=1)

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
print(dframe1.head(3))
dframe1.to_csv ("STAIS_Rand50CpG_100RF.csv")

   Accuracy   Std_Dev
0  0.614286  0.157143
1  0.385714  0.192195
2  0.457143  0.189521

## RanFor 1000 times. Samples = 9

In [10]:
np.random.seed (1)
dframe2 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(9, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe2 = dframe2.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
print(dframe1.head(3))
dframe1.to_csv ("STAIS_Rand9CpG_100RF.csv")

   Accuracy   Std_Dev
0  0.614286  0.157143
1  0.385714  0.192195
2  0.457143  0.189521

# NMI Top 50

In [12]:
df = pd.read_csv('Top50NMI_STAIS_Female_Data.csv')
print(df.shape)
df.head(3)

(150, 52)

,PATNO,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,...,cg07526227,cg25370012,cg03704523,cg26955850,cg17222941,cg26130656,cg06948658,cg27495572,cg18354203,cg11667265
0,3000,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,...,0.902108,0.925132,0.701170,0.298055,0.045871,0.680599,0.909668,0.859955,0.863360,0.891962
1,3002,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,...,0.889724,0.922413,0.666048,0.359086,0.036868,0.662209,0.912932,0.791456,0.899153,0.872275
2,3003,1,0.168642,0.876246,0.057166,0.830258,0.821489,0.828598,0.404421,0.906231,...,0.885798,0.925485,0.689017,0.402196,0.015442,0.652185,0.883094,0.844377,0.895395,0.899499

In [13]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,cg12511160,...,cg07526227,cg25370012,cg03704523,cg26955850,cg17222941,cg26130656,cg06948658,cg27495572,cg18354203,cg11667265
0,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,0.132587,...,0.902108,0.925132,0.701170,0.298055,0.045871,0.680599,0.909668,0.859955,0.863360,0.891962
1,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,0.117669,...,0.889724,0.922413,0.666048,0.359086,0.036868,0.662209,0.912932,0.791456,0.899153,0.872275

In [14]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [15]:
print(dframe1.head(2))
dframe1.to_csv ("STAIS_NMICpG_100RF.csv")

   Accuracy   Std_Dev
0  0.774286  0.159310
1  0.697143  0.182141

# Boruta Top 50

In [16]:
df = pd.read_csv('Top50Boruta_STAIS_Female_Data.csv')
print(df.shape)
df.head(3)

(150, 52)

,PATNO,APPRDX,cg01600124,cg08271803,cg26413900,cg04009197,cg03799192,cg24498305,cg08878967,cg13773723,...,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg22930773,cg17446654,cg13527921,cg15499799,cg13134297
0,3000,2,0.937918,0.153215,0.632231,0.898288,0.579937,0.313034,0.013979,0.045716,...,0.731529,0.786456,0.099350,0.922703,0.272605,0.874594,0.025802,0.106406,0.681785,0.154995
1,3002,1,0.930119,0.041552,0.678841,0.907338,0.614432,0.305964,0.013024,0.020802,...,0.780602,0.798387,0.106778,0.913702,0.344200,0.867694,0.013819,0.149376,0.762136,0.246300
2,3003,1,0.921899,0.086047,0.582695,0.919784,0.600713,0.427863,0.013129,0.031824,...,0.800874,0.867096,0.128671,0.887139,0.283776,0.821489,0.017484,0.224228,0.789549,0.275541

In [17]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg01600124,cg08271803,cg26413900,cg04009197,cg03799192,cg24498305,cg08878967,cg13773723,cg01606800,...,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg22930773,cg17446654,cg13527921,cg15499799,cg13134297
0,2,0.937918,0.153215,0.632231,0.898288,0.579937,0.313034,0.013979,0.045716,0.838064,...,0.731529,0.786456,0.099350,0.922703,0.272605,0.874594,0.025802,0.106406,0.681785,0.154995
1,1,0.930119,0.041552,0.678841,0.907338,0.614432,0.305964,0.013024,0.020802,0.800311,...,0.780602,0.798387,0.106778,0.913702,0.344200,0.867694,0.013819,0.149376,0.762136,0.246300

In [18]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
print(dframe1.head(2))
dframe1.to_csv ("STAIS_BorutaCpG_100RF.csv")

   Accuracy   Std_Dev
0  0.725714  0.158668
1  0.680000  0.211042

# BorutaR

In [20]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
df = pd.read_csv('BorutaR_STAIS_Female_CpG.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
(150, 5)

   PATNO  APPRDX  cg19200285  cg13647052  cg01600124
0   3000       2    0.039680    0.038457    0.937918
1   3002       1    0.027447    0.054607    0.930119
2   3003       1    0.054395    0.039350    0.921899

In [21]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

   APPRDX  cg19200285  cg13647052  cg01600124
0       2    0.039680    0.038457    0.937918
1       1    0.027447    0.054607    0.930119

In [22]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [23]:
print(dframe1.head(2))
dframe1.to_csv ("STAIS_Female_BorutaRCpG_100RF.csv")

   Accuracy   Std_Dev
0  0.577143  0.173699
1  0.554286  0.184369

# Common CpG

In [24]:
df = pd.read_csv('Common9_STAIS_Data_Female.csv')
print(df.shape)
df.head(3)

(150, 11)

,PATNO,APPRDX,cg01600124,cg08271803,cg16516429,cg26955850,cg23881278,cg16234718,cg21105972,cg23974023,cg22930773
0,3000,2,0.937918,0.153215,0.845297,0.298055,0.033502,0.909822,0.792640,0.813086,0.874594
1,3002,1,0.930119,0.041552,0.865760,0.359086,0.043708,0.920270,0.840348,0.806178,0.867694
2,3003,1,0.921899,0.086047,0.828598,0.402196,0.060217,0.906231,0.810841,0.825760,0.821489

In [25]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg01600124,cg08271803,cg16516429,cg26955850,cg23881278,cg16234718,cg21105972,cg23974023,cg22930773
0,2,0.937918,0.153215,0.845297,0.298055,0.033502,0.909822,0.792640,0.813086,0.874594
1,1,0.930119,0.041552,0.865760,0.359086,0.043708,0.920270,0.840348,0.806178,0.867694

In [26]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
print(dframe1.head(2))
dframe1.to_csv ("STAIS_Female_Common9CpG_100RF.csv")

   Accuracy   Std_Dev
0  0.720000  0.153756
1  0.565714  0.224899