# Random Forest Classification

## Importing the libraries

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\Only_Male\GeneCpG\UPSIT
df = pd.read_csv('UPSIT3Categ_Methylome_Male.csv')
print(df.shape)
df.head()

Z:\PPMI_Data\Excels\Only_Male\GeneCpG\UPSIT
(307, 5679)

,Sentrix,PATNO,HYS,Gender,APPRDX,UPSIT_3,UPSIT_Total,cg06067658,cg15442538,cg25928446,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200991620021_R01C01,3001,2,1,1,1,25,0.088679,0.890148,0.719238,...,0.748763,0.830052,0.861102,0.855659,0.788271,0.805084,0.729165,0.803183,0.925666,0.849608
1,200973410167_R04C01,3007,2,1,1,2,18,0.128668,0.916448,0.726893,...,0.886279,0.898054,0.896800,0.911732,0.863749,0.893595,0.829444,0.866504,0.917233,0.786606
2,200973410167_R05C01,3010,2,1,1,2,9,0.106438,0.922987,0.715904,...,0.847166,0.880457,0.909545,0.902309,0.848555,0.881235,0.840847,0.886343,0.912116,0.786117
3,200989060001_R06C01,3012,2,1,1,2,15,0.162354,0.913700,0.768198,...,0.888852,0.905171,0.911937,0.901597,0.896735,0.899922,0.877522,0.884145,0.943558,0.914531
4,200989060143_R08C01,3024,2,1,1,0,34,0.103971,0.904105,0.803156,...,0.848564,0.898804,0.879129,0.873831,0.851764,0.869911,0.857320,0.868054,0.941743,0.892600

In [3]:
df1 = df.drop(['PATNO', 'Sentrix', 'HYS', 'Gender', 'UPSIT_3','UPSIT_Total'], axis=1)
df1.head(2)

,APPRDX,cg06067658,cg15442538,cg25928446,cg12415575,cg26358225,cg19058526,cg20195763,cg23725394,cg27107076,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,1,0.088679,0.890148,0.719238,0.066678,0.151532,0.133249,0.479724,0.926745,0.538423,...,0.748763,0.830052,0.861102,0.855659,0.788271,0.805084,0.729165,0.803183,0.925666,0.849608
1,1,0.128668,0.916448,0.726893,0.066768,0.198886,0.141136,0.412058,0.876792,0.665097,...,0.886279,0.898054,0.896800,0.911732,0.863749,0.893595,0.829444,0.866504,0.917233,0.786606

In [4]:
df1 = df1.transpose()
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
APPRDX,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000
cg06067658,0.088679,0.128668,0.106438,0.162354,0.103971,0.102366,0.079617,0.137612,0.078097,0.107534,...,0.096355,0.118431,0.126582,0.076583,0.09256,0.151337,0.120041,0.135787,0.125714,0.100085

In [5]:
df1.rename(columns=df1.iloc[0], inplace = True)

In [6]:
df1.index.name ='CpG'
df1.reset_index(inplace=True)
df1.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
0,APPRDX,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000
1,cg06067658,0.088679,0.128668,0.106438,0.162354,0.103971,0.102366,0.079617,0.137612,0.078097,...,0.096355,0.118431,0.126582,0.076583,0.09256,0.151337,0.120041,0.135787,0.125714,0.100085

In [7]:
df1 = df1.drop ([0], axis = 0)
df1.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,cg06067658,0.088679,0.128668,0.106438,0.162354,0.103971,0.102366,0.079617,0.137612,0.078097,...,0.096355,0.118431,0.126582,0.076583,0.09256,0.151337,0.120041,0.135787,0.125714,0.100085
2,cg15442538,0.890148,0.916448,0.922987,0.913700,0.904105,0.929633,0.911634,0.918231,0.890827,...,0.902437,0.913901,0.922405,0.899729,0.88980,0.917423,0.905597,0.896892,0.916828,0.912654

In [9]:
df2 = pd.read_csv ("UPSIT_BorutaMale_Top50.csv")
df2.head(2)

          CpG
0  cg24628866
1  cg14398353

In [10]:
df3 = pd.merge (df1, df2, on= "CpG", how= "inner")
df3.head(2)

,CpG,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
0,cg23281712,0.024072,0.023209,0.023313,0.021922,0.013198,0.014236,0.011237,0.013619,0.014653,...,0.015937,0.013856,0.016258,0.016665,0.019197,0.016704,0.019041,0.014067,0.011463,0.014262
1,cg00260798,0.885679,0.916535,0.903372,0.907069,0.883964,0.900542,0.915327,0.905298,0.861107,...,0.906004,0.914654,0.906006,0.937883,0.889267,0.889188,0.900373,0.876292,0.911514,0.892692

In [11]:
df3 = df3.transpose()
df3.head(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
CpG,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,cg21639451,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
1.0,0.024072,0.885679,0.497315,0.316042,0.820166,0.726805,0.851196,0.284245,0.018263,0.899725,...,0.883953,0.026093,0.2767,0.921116,0.842938,0.785801,0.018411,0.912405,0.89756,0.713483

In [12]:
df3.rename(columns=df3.iloc[0], inplace = True)

In [13]:
df3.index.name ='APPRDX'
df3.reset_index(inplace=True)
df3.head(2)

,APPRDX,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
0,CpG,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
1,1.0,0.024072,0.885679,0.497315,0.316042,0.820166,0.726805,0.851196,0.284245,0.018263,...,0.883953,0.026093,0.2767,0.921116,0.842938,0.785801,0.018411,0.912405,0.89756,0.713483

In [14]:
df3 = df3.drop ([0], axis = 0)
df3.head(2)

,APPRDX,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
1,1.0,0.024072,0.885679,0.497315,0.316042,0.820166,0.726805,0.851196,0.284245,0.018263,...,0.883953,0.026093,0.2767,0.921116,0.842938,0.785801,0.018411,0.912405,0.89756,0.713483
2,1.0,0.023209,0.916535,0.653975,0.250261,0.857082,0.824456,0.877832,0.258556,0.021999,...,0.896172,0.023069,0.227083,0.919847,0.923446,0.818536,0.017375,0.891393,0.932059,0.783492

In [15]:
df3.reset_index(inplace = True, drop = True)
df3.head()

,APPRDX,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
0,1.0,0.024072,0.885679,0.497315,0.316042,0.820166,0.726805,0.851196,0.284245,0.018263,...,0.883953,0.026093,0.2767,0.921116,0.842938,0.785801,0.018411,0.912405,0.89756,0.713483
1,1.0,0.023209,0.916535,0.653975,0.250261,0.857082,0.824456,0.877832,0.258556,0.021999,...,0.896172,0.023069,0.227083,0.919847,0.923446,0.818536,0.017375,0.891393,0.932059,0.783492
2,1.0,0.023313,0.903372,0.772774,0.217017,0.870708,0.851515,0.854716,0.22314,0.024161,...,0.889186,0.022917,0.149526,0.922829,0.922936,0.797878,0.015523,0.863804,0.909012,0.757488
3,1.0,0.021922,0.907069,0.620066,0.295821,0.866872,0.830486,0.858453,0.266213,0.017103,...,0.926408,0.028269,0.238958,0.918491,0.922957,0.852478,0.011753,0.895602,0.914622,0.726103
4,1.0,0.013198,0.883964,0.636789,0.315006,0.814047,0.831833,0.850126,0.255233,0.012676,...,0.906929,0.032321,0.19965,0.929514,0.881769,0.86854,0.010823,0.917804,0.897883,0.573239

In [16]:
df3.shape

(307, 51)

In [17]:
df3 ['APPRDX'] = df3 ['APPRDX'].apply(int)

## RanFor 1000 times, CpG only

In [18]:
df3.head(2)

,APPRDX,cg23281712,cg00260798,cg11023668,cg27498387,cg01458259,cg05294431,cg08388995,cg14927724,cg22219083,...,cg05258154,cg10210919,cg16172301,cg15028128,cg07897734,cg00538060,cg19731340,cg24272338,cg02662441,cg24120153
0,1,0.024072,0.885679,0.497315,0.316042,0.820166,0.726805,0.851196,0.284245,0.018263,...,0.883953,0.026093,0.2767,0.921116,0.842938,0.785801,0.018411,0.912405,0.89756,0.713483
1,1,0.023209,0.916535,0.653975,0.250261,0.857082,0.824456,0.877832,0.258556,0.021999,...,0.896172,0.023069,0.227083,0.919847,0.923446,0.818536,0.017375,0.891393,0.932059,0.783492

In [19]:
df3.shape

(307, 51)

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,1001) :
        print(i)
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58

In [ ]:
dframe1.head(2)

In [ ]:
dframe1.to_csv ("UPSIT_BorutaCpG_Male_1000RF.csv")